<title>此批来料检验</title>
<div class="layui-fluid incoming_auditor_edit">
    <script type="text/html" template>
    <table class="layui-table">
        <tbody>
        <tr>
            <td>合同号</td>
            <td></td>
            <td>来料时间</td>
            <td></td>
        </tr>
        <tr>
            <td>供应商编号</td>
            <td></td>
            <td>订单数量(PCS)</td>
            <td></td>
        </tr>
        <tr>
            <td>供应商厂编</td>
            <td></td>
            <td>已交数量(PCS)</td>
            <td>{{ d.params.data.donePcsNumber }}</td>
        </tr>
        <tr>
            <td>聚谷订单号</td>
            <td></td>
            <td>此次数量(PCS)</td>
            <td>{{ d.params.data.currPcsNumber }}</td>
        </tr>
        <tr>
            <td>聚谷产品型号</td>
            <td></td>
            <td>不合格数量(PCS)</td>
            <td>
                <input type="number" class="layui-input">
            </td>
        </tr>
        <tr>
            <td>聚谷P/N</td>
            <td></td>
            <td>尾数数量(PCS)</td>
            <td>
                <input type="number" class="layui-input">
            </td>
        </tr>
        <tr>
            <td>交货批号</td>
            <td>{{ d.params.data.deliveryNo }}</td>
            <td>总计(PCS)</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    </script>
</div>

<style>
    .incoming_auditor_edit .layui-table tbody td{width: 25%;}
</style>