<link href="../../../src/style/formSelects-v4.css" rel="stylesheet" />
<div class="layui-fluid">
    <div class="layui-form" lay-filter="iqc-mantissa-edit-add-form" style="padding: 20px 0 0 0;">
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">聚谷型号</label>
                <div class="layui-input-block">
                    <script type="text/html" template lay-done="layui.data.done(d);">
                        <select name="productNo" xm-select="productNo" xm-select-radio  xm-select-search="" xm-select-search-type="dl" lay-verify="required">
                            {{# if(d.params.productNo != null){ }}
                            <option class="def-option" value="{{d.params.productNo}}" selected>{{d.params.productNo}}</option>
                            {{# } }}
                        </select>
                    </script>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">订单类型</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <select name="orderType" lay-verify="required">
                            <option></option>
                            <option {{ d.params.orderType == 'PCB' ? 'selected' : '' }}>PCB</option> 
                            <option {{ d.params.orderType == 'PCBA' ? 'selected' : '' }}>PCBA</option> 
                        </select>
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">周期</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                    <input type="text" name="cycle" value="{{ d.params.cycle || '' }}" lay-verify="required" placeholder="周期" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">位置</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                    <input type="text" name="position" value="{{ d.params.position || '' }}" lay-verify="required" placeholder="位置" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">数量</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                    <input type="text" name="quantity" value="{{ d.params.quantity || '' }}" lay-verify="required" placeholder="数量" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">单位</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <select name="unit" lay-verify="required">
                            <option></option>
                            <option {{ d.params.unit == 'PCS' ? 'selected' : '' }}>PCS</option> 
                            <option {{ d.params.unit == 'SET' ? 'selected' : '' }}>SET</option> 
                            <option {{ d.params.unit == 'PNL' ? 'selected' : '' }}>PNL</option> 
                        </select>
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item layui-col-md-offset2" style="display: none;">
            <div class="layui-input-block">
                <script type="text/html" template>
                    <input type="text" name="id" value="{{d.params.id || ''}}"placeholder="id" autocomplete="off" class="layui-input">
                </script> 
                <input type="button" lay-submit lay-filter="LAY-iqc-mantissa-submit" id="iqc-mantissa-sumbit" value="确认" class="layui-btn">
            </div>
        </div>
    </div>
</div>

  
  <script>
    layui.data.done = function(d) {
        var productNo;
        if(d.params.productNo != null){
            productNo = d.params.productNo;
        }

        layui.use(['admin', 'form', 'formSelects'], function(){
            var $ = layui.$
            ,form = layui.form
            ,formSelects = layui.formSelects
            ,setter = layui.setter;

            form.render(null,'iqc-mantissa-edit-add-form');

            $(".xm-select-label").remove();
            formSelects.render('productNo');
            formSelects.value('productNo', [productNo]);

            var isGetProductNo = false;
            $("div").delegate(".xm-select-title","click", function () {
                var $this = $(this).parents(".xm-select-parent").attr("fs_id");
                if ($this == "productNo") {
                    if (!isGetProductNo) {
                        getProductNo($this);
                        isGetProductNo = true;
                    }
                } 
            });

            // 获取型号
            function getProductNo(dom) {
                layer.msg("正在加载列表.....");
                $("select[xm-select='"+dom+"']").find("option").remove();
                admin.req({
                    type: 'post',
                    async: true,
                    url: setter.baseUrl+'epc/pcborder/allProductNo',
                    success: function (res) {
                        var resList = res.data;
                        if (resList != null && resList.length>0) {
                            var $html = "";
                            for (var i=0;i<resList.length;i++) {
                                $html += "<option value="+resList[i]+">"+resList[i]+"</option>"
                            }
                            $("select[xm-select='productNo']").append($html)
                            formSelects.render('productNo');
                        }
                        formSelects.value('productNo', [productNo]);
                        $(".xm-select-parent[fs_id='"+dom+"']").children(".xm-form-select").addClass("xm-form-selected");
                        layer.msg("加载成功！");
                    }
                });
            }
        });
      }
  
  </script>