<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
    <div class="layui-form outer-code-form">
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width: 260px;">
                <input type="text" name="courierNumber" autocomplete="off" class="layui-input" placeholder="输入或扫描快递条形码">
            </div>
            <label class="layui-form-label" id="outerCodeSType" style="text-align: left;">快递公司</label>

            <div class="layui-input-inline" style="width: 260px;">
                <input type="text" name="courierName" autocomplete="off" class="layui-input" placeholder="聚谷型号">
            </div>
            <label class="layui-form-label" style="text-align: left;">聚谷型号</label>
        </div>
        <button id="outerCodeSubmit" style="display: none;">Submit</button>
    </div>
    <table id="outerCodeTab" lay-filter="outerCodeTab"></table>
    </script>
    <script type="text/html" id="outerCodeTab_tabbar">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="codeDel">删除</a>
    </script>
</div>
<script>
layui.data.done = function(d){
    layui.use(['table', 'index', 'form', 'laydate', 'jsTools'], function () {
        var $ = layui.jquery
            ,table = layui.table
            ,jsTools = layui.jsTools
            ,form = layui.form;
        var postData = {
            courierName: null,  // 快递公司
            courierNumber: null,    // 快递单号
            productNos: '',     // 聚谷编号
            orderType: '',      // 订单类型(1pcb 订单 2 钢网订单)
        }
        $("input[name='courierNumber']").focus();
        var codeDate = [];
        initProductNoTab();
        
        $(".outer-code-form input").bind("input propertychange", function (even) {
            var _val = $(this).val();
            if ($(this).context.name == 'courierNumber') {
                var _len = _val.toString().length;
                if (_len === 10) {
                    postData.courierName = 'DHL';
                } else if (_len === 16) {   // 16位 取 前12
                    $(this).val(_val.substring(0,12));
                    postData.courierName = 'FedEx';
                } else if (_len === 18) {
                    postData.courierName = 'UPS';
                }
                $("#outerCodeSType").text(postData.courierName);
                postData.courierNumber = $(this).val();
            } else if ($(this).context.name == 'courierName') {

            }
        });

        $(".outer-code-form input[name='courierNumber']").keyup(function(event){
            if(event.keyCode ==13){
                postData.courierNumber = $(this).val();
                $("input[name='courierName']").focus();
            }
        });

        $(".outer-code-form input[name='courierName']").keyup(function(event){
            var _val = $(this).val();
            if(event.keyCode ==13){
                var getBracketStr = jsTools.getBracketStr($(this).val())
                var id = getBracketStr[1];  // 获取二维码的id
                if (id != null && id !='') {
                    _val = _val.replace(getBracketStr[0], "");
                    var isRepeat = jsTools.checkArrayObjRepeat(codeDate, {productNo: _val, id: id, courierName: postData.courierName, courierNumber: postData.courierNumber});
                    if (isRepeat !== false) {
                        layer.msg('型号' + _val+ '扫描成功！');
                        codeDate.push({productNo: _val, id: id, courierName: postData.courierName, courierNumber: postData.courierNumber});
                        initProductNoTab();
                    } else {
                        layer.msg('型号' + _val+ '重复，扫描失败');
                    }
                } else {
                    layer.msg('当前型号不存在唯一id，扫描失败');
                }
                $(this).val('');
            }
        });
        
        function initProductNoTab() {
            //第一个实例
            table.render({
                elem: '#outerCodeTab'
                ,id: 'outerCodeTab'
                ,height: 312
                // ,url: aa //数据接口
                ,data: codeDate
                ,cols: [[ //表头
                    {type: 'numbers', title: '序号', align:'center'}
                    ,{field: 'id', title: 'ID', align:'center'}
                    ,{field: 'productNo', title: '聚谷型号', align:'center'}
                    ,{field: 'courierNumber', title: '快递单号', align:'center'}
                    ,{field: 'courierName', title: '快递公司', align:'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#outerCodeTab_tabbar',width: 80, align:'center'}
                ]]
            });
        }


        // 监听表格事件
        table.on('tool(outerCodeTab)', function (obj) {
            var data = obj.data;
            var  _index = obj.tr.data('index'); // 当前下标
            if (obj.event == 'codeDel') {
                layer.confirm('真的删除行么？', function (index) {
                    obj.del();
                    codeDate.splice(_index, 1);
                    console.log(codeDate);
                    layer.close(index);
                    $("input[name='courierName']").focus();
                })
            }
        });
        
        // 发送数据处理
        function dataProce(obj) {
            for (var i=0; i<obj.length; i++) {
                delete obj[i].productNo;
                delete obj[i].LAY_TABLE_INDEX;
                obj[i].orderType = d.params.orderType;
            }
            return obj;
        }
        

        $("#outerCodeSubmit").on('click', function () {
            return new Promise((resolve, reject) => {
                var pd = dataProce(codeDate)
                console.log('进入')
                resolve(pd)
            }).then(data => {
                console.log(data)
                admin.req({
                    type: 'post',
                    data: JSON.stringify(data),
                    contentType:"application/json",
                    url: setter.baseUrl + 'iqc/shippinginfo/batchUpdateInfo',
                    success: function (res) {
                        layer.confirm('出货成功',{
                            btn: ['确定']
                        }, function () {
                            layui.table.reload(d.params.reTab);
                            layer.closeAll();
                        });
                    },
                    error: function () {
                        layer.msg('保存失败！请重试');
                    }
                })
            }).catch((e) => {})
        })
    })
}
</script>