<div class="layui-fluid" id="packReqAll">
    <script type="text/html" template>
    <table class="layui-table">
        <tbody>
        <tr>
            <td>客户代号：</td>
            <td>{{ d.params.userSystemId || '' }}</td>
        </tr>
        <tr>
            <td>出货报告：</td>
            <td>
                {{# if(d.params.deliveryReport == null && d.params.deliveryReport == '0'){ }}
                否
                {{# } else{ }}
                是
                {{# }}}
            </td>
        </tr>
        <tr>
            <td>快递公司：</td>
            <td>
                {{ d.params.userCourierName || '' }}
            </td>
        </tr>
        <tr>
            <td>快递账号：</td>
            <td>
                {{ d.params.userCourierAccount || '' }}
            </td>
        </tr>
        <tr>
            <td>包装要求：</td>
            <td>
                <textarea name="packageRequirements" autocomplete="off" class="layui-textarea" readonly>
                        {{ d.params.packageRequirements || '' }}
                </textarea>
            </td>
        </tr>
        </tbody>
    </table>
    </script>
</div>

<script>
    layui.data.done = function(d){
        layui.use(['form'], function(){
            var $ = layui.$ ;
            form = layui.form
            form.render();
        });
    }
</script>