<div class="layui-fluid" id="product-packing-check-print">
    <div class="layui-row">
        <div class="layui-col-md12">
            <script type="text/html" template>
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td colspan="6" style="text-align: center;">
                            <h1>聚谷出货检查表</h1>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td colspan="6" style="text-align: center;">
                            <h2>订单基本检查项目</h2>
                        </td>
                    </tr> -->
                    <tr>
                        <td style="text-align: center;">客户型号</td>
                        <td colspan="2" style="text-align: center;">{{ d.params.gerberName || ''}}</td>
                        <td style="text-align: center;">聚谷型号</td>
                        <td colspan="2" style="text-align: center;">{{ d.params.productNo || ''}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">交货数量</td>
                        <td style="text-align: center;">{{ d.params.quantityPcs || ''}} (pcs)</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">UL+ROHS</td>
                        <td style="text-align: center;">UL+ROHS</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">板材类型</td>
                        <td style="text-align: center;">
                            {{ d.params.pcbType || ''}}
                            {{# if(d.params.tg != '135') { }}
                                ,TG:{{ d.params.tg }}
                            {{# } }}
                            {{# if(d.params.cti != '175≤CTI<250' ) { }}
                                ,{{ d.params.cti }}
                            {{# } }}
                        </td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">周期</td>
                        <td style="text-align: center;">周年</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">板厚</td>
                        <td style="text-align: center;">{{ d.params.finishThickness || ''}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">VIA孔状态</td>
                        <td style="text-align: center;">
                            {{# if(d.params.viaProcess != null && d.params.viaProcess == 'none'){ }}
                            {{# d.params.viaProcess = '无' }}
                            {{# } else if(d.params.viaProcess == 'tenting'){ }}
                            {{#  d.params.viaProcess = '盖油' }}
                            {{# } else if(d.params.viaProcess == 'plugged'){ }}
                            {{#  d.params.viaProcess = '塞孔' }}
                            {{# } else if(d.params.viaProcess == 'vias_not_covered'){ }}
                            {{#  d.params.viaProcess = '开窗' }}
                            {{# } else if(d.params.viaProcess == 'Follow_gerber'){ }}
                            {{#  d.params.viaProcess = '按资料' }}
                            {{# } }}
                            {{ d.params.viaProcess }}
                        </td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">外层</td>
                        <td style="text-align: center;">
                            {{ d.params.outerLayerCopper != null && d.params.outerLayerCopper == 'none' ? '无' : d.params.outerLayerCopper }}
                        </td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">出货尺寸</td>
                        <td style="text-align: center;">
                            {{# if(d.params.panelWayX == null){}}
                            {{ d.params.dimensionsX || ''}} * {{ d.params.dimensionsY || ''}} mm/1
                            {{# }else{ }}
                                {{# var panelPcs = parseFloat(d.params.panelWayX*d.params.panelWayY) }}
                                {{ d.params.panelSizeX || ''}} * {{ d.params.panelSizeY || ''}} mm/{{ panelPcs }}
                            {{# } }}
                        </td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">阻焊颜色</td>
                        <td style="text-align: center;">
                            {{# var solderMaskTopColor = d.params.solderMaskTopColor }}
                            {{# if(d.params.solderMaskTopColor == 'green'){ }}
                            {{# solderMaskTopColor = '绿色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'black'){ }}
                            {{# solderMaskTopColor = '黑色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'white'){ }}
                            {{# solderMaskTopColor = '白色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'yellow'){ }}
                            {{# solderMaskTopColor = '黄色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'red'){ }}
                            {{# solderMaskTopColor = '红色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'blue'){ }}
                            {{# solderMaskTopColor = '蓝色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'matte_black'){ }}
                            {{# solderMaskTopColor = '哑黑'}}
                            {{# } else if(d.params.solderMaskTopColor == 'matte_green'){ }}
                            {{# solderMaskTopColor = '哑绿'}}
                            {{# } else if(d.params.solderMaskTopColor == 'milky_white'){ }}
                            {{# solderMaskTopColor = '乳白色'}}
                            {{# } else if(d.params.solderMaskTopColor == 'none'){ }}
                            {{# solderMaskTopColor = '无'}}
                            {{# } }}
                            {{ solderMaskTopColor || ''}}
                        </td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">表面处理</td>
                        <td style="text-align: center;">
                            {{# var surfaceFinish = d.params.surfaceFinish }}
                            {{# if(d.params.surfaceFinish == 'HASL_with_lead' || d.params.surfaceFinish == 'HASL with lead'){ }}
                            {{# surfaceFinish = '有铅喷锡'}}
                            {{# } else if(d.params.surfaceFinish == 'HASL_lead_free' || d.params.surfaceFinish == 'HASL lead free'){ }}
                            {{# surfaceFinish = '无铅喷锡'}}
                            {{# } else if(d.params.surfaceFinish == 'Immersion_Gold' || d.params.surfaceFinish == 'Immersion Gold'){ }}
                            {{# surfaceFinish = '沉金'}}
                            {{# } else if(d.params.surfaceFinish == 'Immersion_tin' || d.params.surfaceFinish == 'Immersion tin'){ }}
                            {{# surfaceFinish = '沉锡'}}
                            {{# } else if(d.params.surfaceFinish == 'Immersion_silver' || d.params.surfaceFinish == 'Immersion silver'){ }}
                            {{# surfaceFinish = '沉银'}}
                            {{# } else if(d.params.surfaceFinish == 'OSP'){ }}
                            {{# surfaceFinish = 'OSP'}}
                            {{# } else if(d.params.surfaceFinish == 'none'){ }}
                            {{# surfaceFinish = '无'}}
                            {{# } }}
                            {{ surfaceFinish || ''}}
                        </td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">字符颜色</td>
                        <td style="text-align: center;">
                            {{# var silkScreenTopColor = d.params.silkScreenTopColor }}
                            {{# if(d.params.silkScreenTopColor == 'green'){ }}
                            {{# silkScreenTopColor = '绿色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'black'){ }}
                            {{# silkScreenTopColor = '黑色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'white'){ }}
                            {{# silkScreenTopColor = '白色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'yellow'){ }}
                            {{# silkScreenTopColor = '黄色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'red'){ }}
                            {{# silkScreenTopColor = '红色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'blue'){ }}
                            {{# silkScreenTopColor = '蓝色'}}
                            {{# } else if(d.params.silkScreenTopColor == 'matte_black'){ }}
                            {{# silkScreenTopColor = '哑黑'}}
                            {{# } else if(d.params.silkScreenTopColor == 'matte_green'){ }}
                            {{# silkScreenTopColor = '哑绿'}}
                            {{# } else if(d.params.silkScreenTopColor == 'matte_gray'){ }}
                            {{# silkScreenTopColor = '哑灰'}}
                            {{# } else if(d.params.silkScreenTopColor == 'none'){ }}
                            {{# silkScreenTopColor = '无'}}
                            {{# } }}
                            {{ silkScreenTopColor || ''}}
                        </td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">交货方式</td>
                        <td style="text-align: center;">连片</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <!-- <tr>
                        <td style="text-align: center;" colspan="6">
                            <h2>特殊工艺检查项目</h2>
                        </td>
                    </tr> -->
                    <tr>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">碳油</td>
                        <td style="text-align: center;">{{ d.params.carbon == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">埋孔</td>
                        <td style="text-align: center;">{{ d.params.buriedHoles == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">蓝胶</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">金手指</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">盲孔</td>
                        <td style="text-align: center;">{{ d.params.blindHoles == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">半孔</td>
                        <td style="text-align: center;">{{ d.params.halfHoleLated == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">金属包边</td>
                        <td style="text-align: center;">{{ d.params.edgePlated == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">控深锣</td>
                        <td style="text-align: center;">{{ d.params.deepMillRouting == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">阻抗</td>
                        <td style="text-align: center;">{{ d.params.contrlImpeance == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">斜边</td>
                        <td style="text-align: center;">{{ d.params.bevellingCamfer == '1' ? '是' : '否'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <!-- <tr>
                        <td style="text-align: center;" colspan="6">
                            <h2>包装方式检查项目</h2>
                        </td>
                    </tr> -->
                    <tr>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                        <td style="text-align: center;">检验项目</td>
                        <td style="text-align: center;">订单要求</td>
                        <td style="text-align: center;">检查结果</td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">上锡试验板</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needTb != null &&  d.params.userInfo.needTb == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">阻抗条</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needOhm != null &&  d.params.userInfo.needOhm == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">切片</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needSlice != null &&  d.params.userInfo.needSlice == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">湿度卡</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needRh != null &&  d.params.userInfo.needRh == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">干燥剂</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needDrier != null &&  d.params.userInfo.needDrier == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;">中性包装</td>
                        <td style="text-align: center;">{{ d.params.userInfo.needNp != null &&  d.params.userInfo.needNp == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                    </tr>
                   
                    <tr>
                        <td style="text-align: center;">出货报告</td>
                        <td style="text-align: center;">{{ d.params.userInfo.deliveryReport != null &&  d.params.userInfo.deliveryReport == '1' ? '需要' : '不需要'}}</td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            客户标准:<br>
                            {{ d.params.userInfo.customerStandards != null ?  d.params.userInfo.customerStandards : ''}} <br> 
                            {{ d.params.userInfo.packageRequirements != null ?  d.params.userInfo.packageRequirements : ''}} <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            注意事项:<br/>
                            {{ d.params.remark || ''}}<br>
                            {{ d.params.checkRemark || '' }} <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">检验人</td>
                        <td style="text-align: center;" colspan="2"></td>
                        <td style="text-align: center;">检验日期</td>
                        <td style="text-align: center;" colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            </script>
        </div>
    </div>
</div>