<title>供应商管理-计划协同</title>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="sqe-plan-together-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">聚谷型号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="productNo" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">供应商厂编:</label>
                    <div class="layui-input-block">
                        <input type="text" name="factoryMake" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">供应商编号:</label>
                    <div class="layui-input-block">
                        <input type="text" name="supplierNo" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-sqe-plan-together-search" style="margin-bottom: 3px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <!--卡片－表格信息-->
            <div class="layui-tab layui-tab-brief" lay-filter="sqe-plan-together-tabs-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">PCB订单</li>
                    <li>钢网订单</li>
                    <li>SMT订单</li>
                </ul>
                <div class="layui-tab-content">
                    <!--PCB订单-->
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table" id="sqeManaPlan_tabPcb" lay-filter="sqeManaPlan_tabPcb"></table>
                        <script type="text/html" id="ord_sqpManaPlan_tb">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="submit" style="display: none;">通知出货</button>
                                <button class="layui-btn layui-btn-sm" lay-event="submitX">直接出货</button>
                                <button class="layui-btn layui-btn-sm" lay-event="twoDelivery">二次交期</button>
                            </div>
                        </script>
                        <script type="text/html" id="scmManaPlan_tabbar">
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="search">查看</a>
                        </script>
                        <script type="text/html" id="planStatus">
                            {{# if(d.status == '6') { }}
                                {{# if(d.currPcsNumber != 0 && d.currPcsNumber != null) { }}
                                    <a data="ok">生产中</a>
                                {{# } else{ }}
                                    <a>生产中</a>
                                {{# } }}
                            {{# } else if(d.status == '5') { }}
                            交期已回复
                            {{# } else if(d.status == '4') { }}
                            待确认交期
                            {{# } }}
                        </script>
                        <script type="text/html" id="sqeManaDt">
                            {{# if(d.deliveryTime != null && d.deliveryTime != '') { }}
                                {{# var ttt = d.deliveryTime.substring(0,10) }}
                                {{# var nowDate = Date.parse(new Date())/1000,oldDate = Date.parse(new Date(ttt))/1000; }}
                                {{# var days = (Math.floor((oldDate-nowDate)/86400)+1); }}
                                {{# if(days < 0){  }}
                                <div style="background-color: red; color: #fff">{{ ttt }}</div>
                                {{# } else if(days == 0){ }}
                                <div class="layui-bg-red">{{ ttt }}</div>
                                {{# } else if(days <= 3 && days > 0){ }}
                                <div class="layui-bg-orange">{{ ttt }}</div>
                                {{# } else{ }}
                                <div class="layui-bg-green">{{ ttt }}</div>
                                {{# } }}
                            {{# } else { }}
                                交期未定
                            {{# } }}
                        </script>
                    </div>
                    <!--钢网订单-->
                    <div class="layui-tab-item">
                        <table class="layui-table" id="sqeManaPlan_tabStencil" lay-filter="sqeManaPlan_tabStencil"></table>
                        <script type="text/html" id="ord_sqpManaPlan_tbS">
                            <div class="layui-btn-container">
                                <button class="layui-btn layui-btn-sm" lay-event="submit">通知出货</button>
                            </div>
                        </script>
                        <script type="text/html" id="scmManaPlan_tabbarS">
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="search">查看</a>
                        </script>
                        <script type="text/html" id="planStatusS">
                            {{# if(d.status == '6') { }}
                                {{# if(d.currPcsNumber != 0 && d.currPcsNumber != null){ }}
                                    <a data="ok">生产中</a>
                                {{# } else { }}
                                    <a>生产中</a>
                                {{# } }}
                            {{# } else if(d.status == '5'){ }}
                            交期已回复
                            {{# } else if(d.status == '4'){ }}
                            待确认交期
                            {{# } }}
                        </script>
                        <script type="text/html" id="sqeManaDtS">
                            {{# if(d.deliveryTime != null && d.deliveryTime != '') { }}
                                {{# var ttt = d.deliveryTime.substring(0,10) }}
                                {{# var nowDate = Date.parse(new Date())/1000,oldDate = Date.parse(new Date(ttt))/1000; }}
                                {{# var days = (Math.floor((oldDate-nowDate)/86400)+1); }}
                                {{# if(days < 0){  }}
                                <div style="background-color: red; color: #fff">{{ ttt }}</div>
                                {{# } else if(days == 0){ }}
                                <div class="layui-bg-red">{{ ttt }}</div>
                                {{# } else if(days <= 3 && days > 0){ }}
                                <div class="layui-bg-orange">{{ ttt }}</div>
                                {{# } else{ }}
                                <div class="layui-bg-green">{{ ttt }}</div>
                                {{# } }}
                            {{# } else { }}
                                交期未定
                            {{# } }}
                        </script>
                    </div>
                    <!--SMT订单-->
                    <div class="layui-tab-item">
                        <table class="layui-table"></table>
                    </div>
                    <!--当前工序-->
                    <script type="text/html" id="currentProcess">
                        <select class="layui-select" data="{{d.id}}" lay-search name="currentProcess" lay-filter="currentProcess-sel">
                            <option value="">请选择</option>
                            <option value="工程" {{ d.currentProcess == '工程' ? 'selected' : '' }}>工程</option>
                            <option value="EQ中" {{ d.currentProcess == 'EQ中' ? 'selected' : '' }}>EQ中</option>
                            <option value="开料" {{ d.currentProcess == '开料' ? 'selected' : '' }}>开料</option>
                            <option value="内层线路" {{ d.currentProcess == '内层线路' ? 'selected' : '' }}>内层线路</option>
                            <option value="内层蚀刻" {{ d.currentProcess == '内层蚀刻' ? 'selected' : '' }}>内层蚀刻</option>
                            <option value="内层压合" {{ d.currentProcess == '内层压合' ? 'selected' : '' }}>内层压合</option>
                            <option value="钻孔" {{ d.currentProcess == '钻孔' ? 'selected' : '' }}>钻孔</option>
                            <option value="电镀" {{ d.currentProcess == '电镀' ? 'selected' : '' }}>电镀</option>
                            <option value="外层线路" {{ d.currentProcess == '外层线路' ? 'selected' : '' }}>外层线路</option>
                            <option value="图形电镀" {{ d.currentProcess == '图形电镀' ? 'selected' : '' }}>图形电镀</option>
                            <option value="外层蚀刻" {{ d.currentProcess == '外层蚀刻' ? 'selected' : '' }}>外层蚀刻</option>
                            <option value="阻焊" {{ d.currentProcess == '阻焊' ? 'selected' : '' }}>阻焊</option>
                            <option value="字符" {{ d.currentProcess == '字符' ? 'selected' : '' }}>字符</option>
                            <option value="飞针" {{ d.currentProcess == '飞针' ? 'selected' : '' }}>飞针</option>
                            <option value="表面处理" {{ d.currentProcess == '表面处理' ? 'selected' : '' }}>表面处理</option>
                            <option value="成型" {{ d.currentProcess == '成型' ? 'selected' : '' }}>成型</option>
                            <option value="FQC" {{ d.currentProcess == 'FQC' ? 'selected' : '' }}>FQC</option>
                            <option value="仓库" {{ d.currentProcess == '仓库' ? 'selected' : '' }}>仓库</option>
                            <option value="SMT" {{ d.currentProcess == 'SMT' ? 'selected' : '' }}>SMT</option>
                            <option value="已出货" {{ d.currentProcess == '已出货' ? 'selected' : '' }}>已出货</option>
                        </select>
                    </script>
                </div>
            </div>
        </div>
    </div>
   
    
</div>

<script>
    layui.use('sqeMana_plan_together', layui.factory('sqeMana_plan_together')).use(['sqeMana_plan_together','optimizeSelectOption', 'table', 'index','element','form', 'jquery'], function(){
        var form = layui.form;
        form.render();
    });
</script>
<!-- <style>
    .layui-table-cell{height: 38px;}
</style> -->