<title>供应商管理-出货明细</title>
<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto shipment-together-search">
        <div class="layui-form-item shipmentTogether-search">
            <!--电脑端-->
            <div class="layui-inline">
                <label class="layui-form-label">聚谷型号：</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNo" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label" style="width: 100px;">供应商厂编：</label>
                <div class="layui-input-inline">
                    <input type="text" name="factoryMake" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label" style="width: 85px;">供应商编号:</label>
                <div class="layui-input-inline">
                    <!--<input type="text" name="gmtCreate" class="layui-input">-->
                    <input type="text" name="supplierNo" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="shipmentTogether_search" style="margin-bottom: 3px;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="tab-planToger">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="sqeManaShip_tabPcb" lay-filter="sqeManaShip_tabPcb"></table>
                <script type="text/html" id="ord_sqpManaShip_tb">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="submit">通知出货</button>
                    </div>
                </script>
                <script type="text/html" id="scmManaShip_tabbar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-xs" lay-event="search">查看</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                </script>
                <script type="text/html" template id="sqeMan_shipto">
                    {{# if(d.status == '1' || d.status == '4') { }}
                        <a style="color: purple;">待检验</a>
                    {{# } else if(d.status == '2') { }}
                        <a style="color: green;">已通过</a>
                    {{# } else if(d.status == '3') { }}
                        <a style="color: orangered;">已批退</a>
                    {{# } }}
                </script>
                <script type="text/html" template id="scmManaShip_deliver">
                    {{# if(d.deliveryTime != null) { }}
                    {{ d.deliveryTime.substring(0,10)}}
                    {{# } }}
                </script>
            </div>
            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="sqeManaShip_tabStencil" lay-filter="sqeManaShip_tabStencil">
                    <script type="text/html" id="ord_sqpManaShip_tbS">
                        <div class="layui-btn-container">
                            <button class="layui-btn layui-btn-sm" lay-event="submit">通知出货</button>
                        </div>
                    </script>
                    <script type="text/html" id="scmManaShip_tabbarS">
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-xs" lay-event="search">查看</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                    </script>
                    <script type="text/html" template id="sqeMan_shiptoS">
                        {{# if(d.status == '1') { }}
                        <a style="color: green;">待出货</a>
                        {{# } else if(d.status == '3') { }}
                        <a style="color: orangered;">回退</a>
                        {{# } }}
                    </script>
                    <script type="text/html" template id="scmManaShip_deliverS">
                        {{# if(d.deliveryTime != null) { }}
                            {{ d.deliveryTime.substring(0,10)}}
                        {{# } }}
                    </script>
                </table>
            </div>
            <!--SMT订单-->
            <div class="layui-tab-item">
                <table class="layui-table"></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('sqeMana_shipment_together', layui.factory('sqeMana_shipment_together')).use(['sqeMana_shipment_together', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>