<title>添加报关单</title>
<link href="../../../src/style/formSelects-v4.css" rel="stylesheet" />
<style>
    /* 防止下拉框的下拉列表被隐藏---必须设置--- 此样式和表格的样式有冲突 如果表格列数太多 会出现错乱的情况 目前我的解决方法是忽略下拉框的美化渲染 <select lay-ignore> */
    .layui-table-cell {
        overflow: visible;
    }

    .layui-table-box {
        overflow: visible;
    }
    
    .layui-table-body {
        overflow: visible;
    }
    /* 设置下拉框的高度与表格单元相同 */
    /* td .layui-form-select{
        margin-top: -10px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .xm-select-parent{
        position: absolute;
        top: -4px;
        width: 100%;
        left: 0;
    } */

</style>
<div class="layui-fluid">
    
    <div class="layui-form" lay-filter="market-customs-declaration-form">
        
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">客户编号</label>
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <select name="receiverInfo" xm-select-height="34px" xm-select="receiverInfo" xm-select-radio  xm-select-search="" xm-select-search-type="dl" lay-verify="required"></select>
                    <!-- <input type="text" name="customerNo" autocomplete="off" class="layui-input" value="{{ d.params.customerNo || ''}}" lay-verify="required"> -->
                    <input type="hidden" name="id" value="{{ d.params.id || '' }}">
                    <input type="hidden" name="customerNo" value="{{d.params.customerNo || ''}}">
                    </script>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">发票时间</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <input type="text" name="orderTime" id="orderTime" autocomplete="off" class="layui-input" value="{{ d.params.orderTime || ''}}" lay-verify="required">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">成交方式</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template lay-done="layui.data.done(d)" lay-url="{{layui.setter.baseUrl}}sys/dict/commonSelectData" lay-data="{tableName:'客户管理',fileName:'发货方式'}" lay-type="post">
                    <select name="tradeType">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value=""></option>
                        <option value="{{ item.dictKey || ''}}" {{ d.params.tradeType == item.dictKey ? 'selected' : ''}}>{{ item.dictValue }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>
                    </script>
                </div> 
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">提运单号</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <input type="text" name="deliveryNo" autocomplete="off" class="layui-input" value="{{ d.params.deliveryNo || ''}}">
                    </script> 
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">发票号(CI)</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <input type="text" name="commercialInvoice" autocomplete="off" class="layui-input" value="{{ d.params.commercialInvoice || ''}}">
                    </script> 
                </div>
            </div> 
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                <button class="layui-btn layuiadmin-btn-list layui-btn-danger" data-type="e1">添加</button>
                <button class="layui-btn layuiadmin-btn-list layui-btn-normal" data-type="e2">删除</button>
                <input type="button" id="mcdfs" lay-submit lay-filter="market-customs-declaration-form-submit" value="确认" class="layui-btn" style="display: none;" >
                </script>
            </div>
        </div>
        
    </div>
    <table id="market-packing-list-en-table" lay-filter="market-packing-list-en-table"></table>
    <script type="text/html" id="goodsSelect">
        <select xm-select="select{{d.LAY_INDEX}}" xm-select-radio data-index={{d.LAY_INDEX}} lay-filter="goods" data-key="goodsNo">
            <option value="">请选择</option>
        </select>
    </script>
</div>

<script>
    layui.data.done = function(d){
        // console.log(d);
        var ddd = d.params.itemEntityList || [],rid = d.params.receiverId+","+d.params.bid;
        layui.use(['admin', 'table', 'util', 'form','requestInterface','formSelects','laydate'], function(){
            var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,table = layui.table
            ,setter = layui.setter
            ,form = layui.form
            ,requestInterface = layui.requestInterface
            ,formSelects = layui.formSelects
            ,util = layui.util
            ,laydate = layui.laydate;

            
            laydate.render({
                elem: "#orderTime"
            })

            initSelCustomer(rid); 

            form.render(null,'market-customs-declaration-form');

            table.render({
                elem: '#market-packing-list-en-table'
                ,data: ddd
                ,totalRow: false
                ,cellMinWidth: 90
                ,cols: [[
                    {field: 'marks',  title: '唛头', align:'center', totalRowText:'Total',edit: 'text'}
                    ,{field: 'rowspan', align:'center', title: '一箱几款', edit: 'text'}
                    ,{field: 'totalPrice', align:'center', title: '总价', edit: 'text'}
                    ,{field: 'qty', title: "数量", align:'center', totalRow: true,edit: 'text'}
                    ,{field: 'packages', title: '件数', align:'center', totalRow: true,edit: 'text'}
                    ,{field: 'description', align:'center', title: '品名及规格',edit: 'text'}
                    ,{field: 'grossWeight', align:'center', title: '毛重', totalRow: true,edit: 'text'}
                    ,{field: 'netWeight', align:'center', title: '净重', totalRow: true,event:'countNetWeight'}
                    ,{field: 'unitPrice', align:'center', title: '单价', event: 'countUnitPrice'}
                    ,{field: 'measurement', align:'center', title: '尺寸',edit: 'text'}
                    ,{field: 'orderNo', align:'center', title: '订单号码',edit: 'text'}
                    ,{field: 'sourceSupply', align:'center', title: '货源地',event:'initSourceSupply'} 
                    ,{field: 'goodsNo', align:'center', title: '商品编号及描述',minWidth:450,event:'initSelect'}
                    
                    // ,{field: 'commercialInvoiceno', align:'center', title: '发票号码',edit: 'text'}
                ]]
            });

            //监听单元格编辑
            // table.on('edit(market-packing-list-en-table)', function(obj){ 
                //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                // console.log(obj.value); //得到修改后的值
                // console.log(obj.field); //当前编辑的字段名
                // console.log(obj.data); //所在行的所有相关数据
                // if(obj.field === 'totalPrice'){
                //     // table.reload('market-packing-list-en-table',{data:[obj.data]})
                //     let totalPrice = Number(obj.data.qty) * Number(obj.data.unitPrice);;
                //     console.log(totalPrice);
                //     $(obj.tr.selector + ' td[data-field="' + obj.field + '"] input').val(totalPrice);
                // }
            // });

            //table单击行事件
            table.on('tool(market-packing-list-en-table)',function(obj){
                var data = obj.data; //获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                // console.log(data);
                // console.log(layEvent);
                // console.log(obj);
                if(layEvent === 'initSelect'){
                    let oldData = table.cache["market-packing-list-en-table"],
                        rowIndex = obj.tr.selector.replace(/[^0-9]/ig,"");//获取当前行的索引
                    // console.log(oldData);

                    //弹出新的弹框进行选择
                    admin.popup({
                        title: '选择商品编号及描述',
                        closeBtn: 0, //不显示关闭按钮
                        anim: 2,
                        skin: 'layui-layer-molv',
                        shadeClose: true, //开启遮罩关闭
                        area: ['40%', '65%'],
                        btn:['确定'],
                        content: 
                            '<div class="layui-col-md12"> \n'+
                            '<div class="layui-inline" style="padding-top: 20px;">\n' +
                            '      <div class="layui-input-inline" style="width: 650px;">\n' +
                                    '<select xm-select="select11" xm-select-radio >\n'+
                                        '<option value="">请选择</option> \n'+
                                    '</select> \n'+
                            '      </div>\n' +
                            '</div>\n'+
                            '</div>',
                        yes: function(index) {
                            let fsv = formSelects.value('select11');
                            // console.log(fsv); 
                            if(fsv.length !== 0){
                                oldData[rowIndex].goodsNo = fsv[0].name;
                                oldData[rowIndex].goodsIds = fsv[0].value;
                                //let oldData = [{...data,'goodsNo':fsv[0].name}];
                                table.reload('market-packing-list-en-table',{data:oldData})
                                layer.close(index);
                            }else{
                                layer.msg('请选择数据！！');
                            }
                            // $(obj.tr.selector + ' td[data-field="' + obj.field + '"] input').val(fsv[0].name);
                        },
                        success: function(layero,index){
                            formSelects.data('select11', 'local', {
                                arr: createArr2(),
                                linkage: true
                            }); 
                            //如果原先数据显示原先的
                            if(oldData[rowIndex].goodsIds != null){
                                formSelects.value('select11',[oldData[rowIndex].goodsIds],true);
                            }
                        }
                    })
                } else if(layEvent === 'initSourceSupply'){
                    let oldData = table.cache["market-packing-list-en-table"],
                        rowIndex = obj.tr.selector.replace(/[^0-9]/ig,""),//获取当前行的索引 
                        ss = null;
                    
                    admin.popup({
                        title: '选择货源地',
                        closeBtn: 0, //不显示关闭按钮
                        anim: 2,
                        skin: 'layui-layer-molv',
                        shadeClose: true, //开启遮罩关闭
                        area: ['20%', '60%'],
                        btn:['确定'],
                        content: 
                            '<div class="layui-form" lay-filter="select22-form"> \n'+
                            '<div class="layui-form-item" style="padding-top: 20px;">\n' +
                                  '<label class="layui-form-label">货源地：</label>\n' +
                            '      <div class="layui-input-inline">\n' +
                                    '<select lay-filter="select22" name="sourceSupply">\n'+
                                        '<option value="深圳特区">深圳特区</option> \n'+
                                        '<option value="江西其他">江西其他</option> \n'+
                                        '<option value="惠州其他">惠州其他</option> \n'+
                                    '</select> \n'+
                            '      </div>\n' +
                            '</div>\n'+
                            '</div>',
                        yes: function(index) {
                            // console.log(fsv); 
                            if(ss  !== null){
                                oldData[rowIndex].sourceSupply = ss;
                                table.reload('market-packing-list-en-table',{data:oldData})
                                layer.close(index);
                            }else{
                                layer.msg('请选择数据！！');
                            }
                            // $(obj.tr.selector + ' td[data-field="' + obj.field + '"] input').val(fsv[0].name);
                        },
                        success: function(layero,index){
                            form.render(null,'select22-form');

                            //监听select
                            form.on('select(select22)',function(data){
                                ss = data.value;
                            })
                            //如果原先数据显示原先的
                            if(oldData[rowIndex].sourceSupply != null){
                                form.val('select22-form',{sourceSupply:oldData[rowIndex].sourceSupply});
                            }
                        }
                    }) 
                } else if(layEvent === 'countNetWeight'){
                    let oldData = table.cache["market-packing-list-en-table"],
                        rowIndex = obj.tr.selector.replace(/[^0-9]/ig,""),//获取当前行的索引 
                        gw = oldData[rowIndex].grossWeight;
                    // console.log(gw);
                    if(gw){
                        let nw = Number(gw) - 0.5;
                        oldData[rowIndex].netWeight = nw;
                        table.reload('market-packing-list-en-table',{data:oldData}); 
                    }else{
                        layer.msg('请先添加毛重！！'); 
                    }
                    
                } else if(layEvent === 'countUnitPrice'){
                    let oldData = table.cache["market-packing-list-en-table"],
                        rowIndex = obj.tr.selector.replace(/[^0-9]/ig,""),//获取当前行的索引 
                        tp = oldData[rowIndex].totalPrice,
                        qty = oldData[rowIndex].qty; 
                    
                    if(tp && qty){
                        let up = (Number(tp) / Number(qty)).toFixed(2);
                        oldData[rowIndex].unitPrice = up;
                        table.reload('market-packing-list-en-table',{data:oldData});  
                    }else{
                        layer.msg('请先添加总价和数量！！')
                    }
                }
            })

             /**
             * 初始化下拉， 获取所有客户信息
             */
            function initSelCustomer(rid) {
                var _obj = requestInterface.getAllCustomer();
                var $html;
                for (let c of _obj) {
                    $html += "<option value="+c.id+","+c.businessId+">"+c.userSystemId+"</option>"
                }
                $("select[xm-select='receiverInfo']").append($html);

                formSelects.render('receiverInfo');
                if(ddd.length !== 0){
                    formSelects.value('receiverInfo',[rid],true);
                }
            }

            formSelects.on('receiverInfo', function (id, vals, val, isAdd, isDisabled) {
                //id:           点击select的id
                //vals:         当前select已选中的值
                //val:          当前select点击的值
                //isAdd:        当前操作选中or取消
                //isDisabled:   当前选项是否是disabled                    
                if(isAdd){//对form赋值
                   form.val("market-customs-declaration-form",{"customerNo":val.name});
                }else{
                   form.val("market-customs-declaration-form",{"customerNo":null});
                }
            });

            // form.on('select(goods)',function(data){
            //     active.change.call(this,data.elem,null);
            // })

            function createArr(){
                var a = ['8534009000','8534001000','8517709000','7616910000'], 
                    b = ['空白线路板','线路板贴装','钢铝板网'],
                    c = ['0','铝制'],
                    d = ['1层','2层','4层','6层','8层','10层','14层','16层','18层','20层','22层','24层','0','网'],
                    e = ['无牌','有牌'],
                    f = ['未装有机械元件或电气元件','已组装元器件','非工业用'];
                let i = 1,rl=[]; 
                for (let index = 0; index < a.length; index++) {
                    const element = a[index];
                    let ar = {},bl = [];
                    ar.name = element;
                    ar.value = i++;
                    rl.push(ar);
                    for(let index = 0; index < b.length; index++){
                        const element = b[index];
                        // console.log(e);
                        let br = {},cl=[];
                        br.name = element;
                        br.value = i++;
                        bl.push(br);
                        ar.children = bl;
                        for(let index=0; index < c.length; index++){
                            const element = c[index];
                            // console.log(e);
                            let cr={},dl=[];
                            cr.name = element;
                            cr.value = i++;
                            cl.push(cr);
                            br.children = cl;
                            for (let index = 0; index < d.length; index++) {
                                const element = d[index];
                                let dr = {},el = [];
                                dr.name = element;
                                dr.value = i++;
                                dl.push(dr)
                                cr.children = dl;
                                for (let index = 0; index < e.length; index++) {
                                    const element = e[index];
                                    let er = {},fl = [];
                                    er.name = element;
                                    er.value = i++;
                                    el.push(er)
                                    dr.children = el;
                                    for (let index = 0; index < f.length; index++) {
                                        const element = f[index];
                                        let fr = {};
                                        fr.name = element;
                                        fr.value = i++;
                                        fl.push(fr)
                                        er.children = fl;
                                    }
                                } 
                            }
                        }
                    }    
                }
                console.log(rl);

                return rl;
            }
           
            function createArr2(){
                return [
                    {
                        "name": "8534009000",
                        "value": 1,
                        "children": [
                        {
                            "name": "空白线路板",
                            "value": 2,
                            "children": [
                            {
                                "name": "0",
                                "value": 3,
                                "children": [
                                {
                                    "name": "1层",
                                    "value": 4,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 5,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 6,
                                        }]
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 7,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 8,
                                        }]
                                    }
                                    ],
                                    "pid": "3"
                                },
                                {
                                    "name": "2层",
                                    "value": 9,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 10,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 11,
                                            "pid": "10"
                                        }
                                        ],
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 12,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 13,
                                        }]
                                    }
                                    ],
                                },
                                {
                                    "name": "4层",
                                    "value": 14,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 15,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 16,
                                            "pid": "15"
                                        }
                                        ]
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 17,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 18,
                                        }]
                                    }
                                    ],
                                    "pid": "3"
                                },
                                ],
                                "pid": "2"
                            }]
                        }
                        ],
                        "pid": "0"
                    },
                    {
                        "name": "8534001000",
                        "value": 431,
                        "children": [
                        {
                            "name": "空白线路板",
                            "value": 432,
                            "children": [
                            {
                                "name": "0",
                                "value": 433,
                                "children": [
                                    {
                                    "name": "6层",
                                    "value": 449,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 450,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 451,
                                            "pid": "450"
                                        }
                                        ],
                                        "pid": "449"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 452,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 453,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "8层",
                                    "value": 454,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 455,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 456,
                                            "pid": "455"
                                        }
                                        ],
                                        "pid": "454"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 457,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 458,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "10层",
                                    "value": 459,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 460,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 461,
                                            "pid": "460"
                                        }
                                        ],
                                        "pid": "459"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 462,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 463,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "14层",
                                    "value": 464,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 465,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 466,
                                            "pid": "465"
                                        }
                                        ],
                                        "pid": "464"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 467,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 468,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "16层",
                                    "value": 469,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 470,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 471,
                                            "pid": "470"
                                        }
                                        ],
                                        "pid": "469"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 472,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 473,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "18层",
                                    "value": 474,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 475,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 476,
                                            "pid": "475"
                                        }
                                        ],
                                        "pid": "474"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 477,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 478,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "20层",
                                    "value": 479,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 480,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 481,
                                            "pid": "480"
                                        }
                                        ],
                                        "pid": "479"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 482,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 483,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "22层",
                                    "value": 484,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 485,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 486,
                                            "pid": "485"
                                        }
                                        ],
                                        "pid": "484"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 487,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 488,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                {
                                    "name": "24层",
                                    "value": 489,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 490,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 491,
                                            "pid": "490"
                                        }
                                        ],
                                        "pid": "489"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 492,
                                        "children": [
                                        {
                                            "name": "未装有机械元件或电气元件",
                                            "value": 493,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "433"
                                },
                                ],
                                "pid": "432"
                            },
                            ],
                            "pid": "431"
                        }
                        ],
                        "pid": "0"
                    },
                    {
                        "name": "8517709000",
                        "value": 861,
                        "children": [
                        {
                            "name": "线路板贴装",
                            "value": 1005,
                            "children": [
                            {
                                "name": "0",
                                "value": 1006,
                                "children": [
                                    {
                                    "name": "0",
                                    "value": 1067,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 1068,
                                        "children": [
                                        {
                                            "name": "已组装元器件",
                                            "value": 1070,
                                            "pid": "1068"
                                        }
                                        ],
                                        "pid": "1067"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 1071,
                                        "children": [
                                        {
                                            "name": "已组装元器件",
                                            "value": 1072,
                                        }
                                        ],
                                    }             
                                    ],
                                    "pid": "1006"
                                }        
                                ],
                                "pid": "1005"
                            },
                            ],
                            "pid": "861"
                        },
                        ],
                        "pid": "0"
                    },
                    {
                        "name": "7616910000",
                        "value": 1291,
                        "children": [
                        {
                            "name": "钢铝板网",
                            "value": 1578,
                            "children": [
                             {
                                "name": "铝制",
                                "value": 1650,
                                "children": [
                                {
                                    "name": "网",
                                    "value": 1716,
                                    "children": [
                                    {
                                        "name": "无牌",
                                        "value": 1717,
                                        "children": [
                                        {
                                            "name": "非工业用",
                                            "value": 1720,
                                            "pid": "1717"
                                        }
                                        ],
                                        "pid": "1716"
                                    },
                                    {
                                        "name": "有牌",
                                        "value": 1721,
                                        "children": [
                                        {
                                            "name": "非工业用",
                                            "value": 1722,
                                        }
                                        ],
                                    }
                                    ],
                                    "pid": "1650"
                                }
                                ],
                                "pid": "1578"
                            }
                            ],
                            "pid": "1291"
                        }
                        ],
                        "pid": "0"
                    }
                ];
            }
            
    
            var active = {
                e1: function(index){
                    let oldData = table.cache["market-packing-list-en-table"],d={};
                    oldData.push(d);
                    // console.log(oldData);
                    table.reload('market-packing-list-en-table',{data:oldData})
                    
                    // formSelects.render('select15');
                },
                e2: function(){
                    layer.confirm("你确定要删除么？",function(){  
                        let oldData = table.cache["market-packing-list-en-table"]; 
                        // console.log(oldData); 
                        oldData.splice(oldData.length-1,1);  
                        layer.msg("删除成功",{time: 10},function(){  
                            table.reload('market-packing-list-en-table',{data : oldData});  
                        });  
                    }) 
                },
                change: function(elem,p){
                    const index = elem.dataset.index;
                    const key = elem.dataset.key;
                    console.log(index);
                    console.log(key);
                    
                    let fsv = formSelects.value('select'+index);
                    let oldData = table.cache["market-packing-list-en-table"];
                    console.log(fsv);
                    console.log(oldData);
                    // oldData[index - 1][key] = fsv;
                }
            }

            $('.layui-btn.layuiadmin-btn-list').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            });
        });
    }
</script>