<title>添加报关单</title>
<link href="../../../src/style/formSelects-v4.css" rel="stylesheet" />>
<div class="layui-fluid">
    
    <div class="layui-form" lay-filter="market-customs-declaration-form">
        
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">客户编号</label>
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <select name="receiverId" xm-select-height="34px" xm-select="receiverId" xm-select-radio  xm-select-search="" xm-select-search-type="dl" lay-verify="required"></select>
                    <!-- <input type="text" name="customerNo" autocomplete="off" class="layui-input" value="{{ d.params.customerNo || ''}}" lay-verify="required"> -->
                    <input type="hidden" name="id" value="{{ d.params.id || '' }}">
                    <input type="hidden" name="customerNo" value="{{d.params.customerNo || ''}}">
                    </script>
                </div>
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">下单时间</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <input type="text" name="orderTime" id="orderTime" autocomplete="off" class="layui-input" value="{{ d.params.orderTime || ''}}" lay-verify="required">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md6">
                <label class="layui-form-label">成交方式</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template lay-done="layui.data.done(d)" lay-url="{{layui.setter.baseUrl}}sys/dict/commonSelectData" lay-data="{tableName:'客户管理',fileName:'发货方式'}" lay-type="post">
                    <select name="tradeType">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value=""></option>
                        <option value="{{ item.dictKey || ''}}" {{ d.params.tradeType == item.dictKey ? 'selected' : ''}}>{{ item.dictValue }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>
                    </script>
                </div> 
            </div>
            <div class="layui-col-md6">
                <label class="layui-form-label">提运单号</label> 
                <div class="layui-input-inline">
                    <script type="text/html" template>
                    <input type="text" name="deliveryNo" autocomplete="off" class="layui-input" value="{{ d.params.deliveryNo || ''}}">
                    </script> 
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <script type="text/html" template>
                <button class="layui-btn layuiadmin-btn-list layui-btn-danger" data-type="e1">添加</button>
                <button class="layui-btn layuiadmin-btn-list layui-btn-normal" data-type="e2">删除</button>
                <input type="button" id="mcdfs" lay-submit lay-filter="market-customs-declaration-form-submit" value="确认" class="layui-btn" style="display: none;" >
                </script>
            </div>
        </div>
        
    </div>
    <table id="market-packing-list-en-table" lay-filter="market-packing-list-en-table"></table>
</div>

<script>
    layui.data.done = function(d){
        console.log(d);
        var ddd = d.params.itemEntityList || [],rid = d.params.receiverId;
        layui.use(['admin', 'table', 'util', 'form','requestInterface','formSelects','laydate'], function(){
            var $ = layui.$
            ,admin = layui.admin
            ,view = layui.view
            ,table = layui.table
            ,setter = layui.setter
            ,form = layui.form
            ,requestInterface = layui.requestInterface
            ,formSelects = layui.formSelects
            ,util = layui.util
            ,laydate = layui.laydate;

            
            laydate.render({
                elem: "#orderTime"
            })

            initSelCustomer(rid); 

            form.render(null,'market-customs-declaration-form');

            table.render({
                elem: '#market-packing-list-en-table'
                ,data: ddd
                ,totalRow: false
                ,cellMinWidth: 90
                ,cols: [[
                    {field: 'marks',  title: '唛头', align:'center', totalRowText:'Total',edit: 'text'}
                    ,{field: 'qty', title: "数量", align:'center', totalRow: true,edit: 'text'}
                    ,{field: 'packages', title: '件数', align:'center', totalRow: true,edit: 'text'}
                    ,{field: 'description', align:'center', title: '品名及规格',edit: 'text'}
                    ,{field: 'grossWeight', align:'center', title: '毛重', totalRow: true,edit: 'text'}
                    ,{field: 'netWeight', align:'center', title: '净重', totalRow: true,edit: 'text'}
                    ,{field: 'measurement', align:'center', title: '尺寸',edit: 'text'}
                    ,{field: 'unitPrice', align:'center', title: '单价', edit: 'text'}
                    ,{field: 'totalPrice', align:'center', title: '总价', edit: 'text'}
                    ,{field: 'orderNo', align:'center', title: '订单号码',edit: 'text'}
                    ,{field: 'goodsNo', align:'center', title: '商品编号',edit: 'text'}
                    ,{field: 'sourceSupply', align:'center', title: '货源地',edit: 'text'} 
                    // ,{field: 'commercialInvoiceno', align:'center', title: '发票号码',edit: 'text'}
                ]]
            });

            //监听单元格编辑
            table.on('edit(market-packing-list-en-table)', function(obj){ 
                //注：edit是固定事件名，test是table原始容器的属性 lay-filter="对应的值"
                // console.log(obj.value); //得到修改后的值
                // console.log(obj.field); //当前编辑的字段名
                // console.log(obj.data); //所在行的所有相关数据
                if(obj.field === 'totalPrice'){
                    // table.reload('market-packing-list-en-table',{data:[obj.data]})
                    let totalPrice = Number(obj.data.qty) * Number(obj.data.unitPrice);;
                    console.log(totalPrice);
                    $(obj.tr.selector + ' td[data-field="' + obj.field + '"] input').val(totalPrice);
                }
            });

             /**
             * 初始化下拉， 获取所有客户信息
             */
            function initSelCustomer(rid) {
                var _obj = requestInterface.getAllCustomer();
                var $html;
                for (let c of _obj) {
                    $html += "<option value="+c.id+">"+c.userSystemId+"</option>"
                }
                $("select[xm-select='receiverId']").append($html);

                formSelects.render('receiverId');
                if(ddd.length !== 0){
                    formSelects.value('receiverId',[rid],true);
                }
            }

            formSelects.on('receiverId', function (id, vals, val, isAdd, isDisabled) {
                //id:           点击select的id
                //vals:         当前select已选中的值
                //val:          当前select点击的值
                //isAdd:        当前操作选中or取消
                //isDisabled:   当前选项是否是disabled                    
                if(isAdd){//对form赋值
                  form.val("market-customs-declaration-form",{"customerNo":val.name});
                }else{
                   form.val("market-customs-declaration-form",{"customerNo":null});
                }
            });
    
            var active = {
                e1: function(){
                    let oldData = table.cache["market-packing-list-en-table"],d={};
                    oldData.push(d);
                    // console.log(oldData);
                    table.reload('market-packing-list-en-table',{data:oldData})
                },
                e2: function(){
                    layer.confirm("你确定要删除么？",function(){  
                        let oldData = table.cache["market-packing-list-en-table"]; 
                        // console.log(oldData); 
                        oldData.splice(oldData.length-1,1);  
                        layer.msg("删除成功",{time: 10},function(){  
                            table.reload('market-packing-list-en-table',{data : oldData});  
                        });  
                    }) 
                }
            }

            $('.layui-btn.layuiadmin-btn-list').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
            });
        });
    }
</script>