<title>月度统计表</title>
<div class="layui-fluid monthly-statistical" id="monthlyStatistical">
    <style>
        .layui-table td, .layui-table th ,.monthly-statistical-header h1{color: black;}
    </style>
    <script type="text/html" template>
    <div class="monthly-statistical-header" style="text-align: center;">
        <h1>
            {{# var bArray = [] }}
            {{# layui.each(d.params, function(index, item){  }}
                {{# if(bArray.indexOf(item.businessName) == -1 && item.businessName != null){ }}
                    {{item.businessName}}
                    {{# bArray.push(item.businessName)}}
                {{# } }}
            {{#  }); }}
            {{d.params.popMonthlyStatisticalType || ''}}统计表</h1>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>下单日期</th>
            <th>内部型号</th>
            <th>原金额</th>
            <th>订单金额</th>
            <th>是否支付</th>
            <th>支付日期</th>
            <th>订单类型</th>
        </tr>
        </thead>
        <tbody>
        <!--总销售额-->
        {{# var totalAll = 0 }}
        <!--总提成-->
        {{# var totalCommission = 0 }}
        {{# layui.each(d.params.gr, function(index, item){  }}

            {{# if(item.commission == null) { }}
                {{# item.commission = 0 }}
            {{# } }}
        <tr>
            <!--下单日期-->
            <td>
                {{# if(item.orderTime != null){ }}
                    {{ item.orderTime.substring(0, 10) || '' }}
                {{# }}}
            </td>
            <!--内部型号-->
            <td>
                {{ item.productNo || '' }}
            </td>
            <!--原金额-->
            <td>
                {{item.totalFee}}
            </td>
            <!--订单金额-->
            <td>
                {{# if(item.totalFeeCNY == null){ }}
                    {{# item.totalFeeCNY = 0}}
                {{# } }}
                ￥{{ item.totalFeeCNY || '' }}
                <!--汇总-->
                {{# totalAll += parseFloat(item.totalFeeCNY) }}
            </td>
            <!--是否支付-->
            <td>
                {{# if(item.payLogId != null){ }}
                <a style="color: green">已支付</a>
                {{# } else { }}
                <a style="color: orangered">未支付</a>
                {{# } }}
            </td>
            <!--支付日期-->
            <td>
                {{# if(item.payTime != null){ }}
                    {{ item.payTime.substring(0, 10) || '' }}
                {{# }}}
            </td>
            <td>
                {{# if(item.customerUserPaVO.isSourceCompany == '0'){ }}
                个人订单
               {{# } else if(item.customerUserPaVO.isSourceCompany == '1'){ }}
                公司订单
                {{# }}}
            </td>
        </tr>
        {{#  }); }}
        <tr>
            <td colspan="7" style="text-align: left;">
                <!--Get statistics-->
                订单数：{{d.params.gr.length}} 条&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>
                销售额：{{totalAll.toFixed(2)}}
                </strong>
                {{# if(49999> totalAll && totalAll >= 1000){  }}
                总提成(￥)：{{ (totalAll * 0.02).toFixed(2) }} 
                {{# }else if(99999 > totalAll && totalAll >= 50000 ){ }}
                总提成(￥)：{{(totalAll * 0.025).toFixed(2)}} 
                {{# }else if(500000 > totalAll && totalAll >=100000){  }}
                总提成(￥)：{{(totalAll * 0.03).toFixed(2)}}  
                {{# }else{ }}
                总提成(￥)：0
                {{# } }}
                &nbsp;&nbsp;&nbsp;&nbsp;
                统计时间：{{d.params.popMSTime || ''}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                打印时间：{{new Date().toLocaleDateString() }}
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table">
        <thead>
        <tr>
            <th>下单日期</th>
            <th>内部型号</th>
            <th>原金额</th>
            <th>订单金额</th>
            <th>是否支付</th>
            <th>支付日期</th>
            <th>订单类型</th>
        </tr>
        </thead>
        <tbody>
        <!--总销售额-->
        {{# var totalAll = 0 }}
        <!--总提成-->
        {{# var totalCommission = 0 }}
        {{# layui.each(d.params.gs, function(index, item){  }}

            {{# if(item.commission == null) { }}
                {{# item.commission = 0 }}
            {{# } }}
        <tr>
            <!--下单日期-->
            <td>
                {{# if(item.orderTime != null){ }}
                    {{ item.orderTime.substring(0, 10) || '' }}
                {{# }}}
            </td>
            <!--内部型号-->
            <td>
                {{ item.productNo || '' }}
            </td>
            <!--原金额-->
            <td>
                {{item.totalFee}}
            </td>
            <!--订单金额-->
            <td>
                {{# if(item.totalFeeCNY == null){ }}
                    {{# item.totalFeeCNY = 0}}
                {{# } }}
                ￥{{ item.totalFeeCNY || '' }}
                <!--汇总-->
                {{# totalAll += parseFloat(item.totalFeeCNY) }}
            </td>
            <!--是否支付-->
            <td>
                {{# if(item.payLogId != null){ }}
                <a style="color: green">已支付</a>
                {{# } else { }}
                <a style="color: orangered">未支付</a>
                {{# } }}
            </td>
            <!--支付日期-->
            <td>
                {{# if(item.payTime != null){ }}
                    {{ item.payTime.substring(0, 10) || '' }}
                {{# }}}
            </td>
            <td>
                {{# if(item.customerUserPaVO.isSourceCompany == '0'){ }}
                个人订单
               {{# } else if(item.customerUserPaVO.isSourceCompany == '1'){ }}
                公司订单
                {{# }}}
            </td>
        </tr>
        {{#  }); }}
        <tr>
            <td colspan="7" style="text-align: left;">
                <!--Get statistics-->
                订单数：{{d.params.gs.length}} 条&nbsp;&nbsp;&nbsp;&nbsp;
                <strong>
                销售额：{{totalAll.toFixed(2)}}
                </strong>
                总提成(￥)：{{(totalAll * 0.01).toFixed(2)}} 
                &nbsp;&nbsp;&nbsp;&nbsp;
                统计时间：{{d.params.popMSTime || ''}}
                &nbsp;&nbsp;&nbsp;&nbsp;
                打印时间：{{new Date().toLocaleDateString() }}
            </td>
        </tr>
        </tbody>
    </table>
    <td colspan="7" style="text-align: left;">
        业务员：_____________
        &nbsp;&nbsp;&nbsp;&nbsp;
        审核人：_____________
    </td>
    </script>
</div>