<title>SMT订单编辑</title>
<div class="layui-fluid smt-edit-info">
    <form class="layui-form" lay-filter="user_editInfo_form" id="user_editInfo_form">
        <div class="layui-form-item" style="display: none;">
            <script type="text/html" template>
                <input type="text" name="id" value="{{ d.params.id || '' }}" autocomplete="off" class="layui-input">
            </script>
        </div>
        <div class="layui-form-item">
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label" name="smtPartNum">SMT PartNum ：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="smtPartNum" value="{{ d.params.smtPartNum || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Through Hole PartNum：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="throughHolePartNum" value="{{ d.params.throughHolePartNum || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label" name="assemblySide">Assembly Side：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="quantityPcs" value="{{ d.params.assemblySide || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Product No：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="productNo" value="{{ d.params.productNo || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Invoice No：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="invoiceNo" value="{{ d.params.invoiceNo || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">TotalAssemblyFee($)：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="totalAssemblyFee" value="{{ d.params.totalAssemblyFee || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Assembly Type：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="assemblyType" value="{{ d.params.assemblyType || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Unique PartNum：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="uniquePartNum" value="{{ d.params.uniquePartNum || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Quantity ：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="quantity" value="{{ d.params.quantity || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Unique PartNum：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="uniquePartNum" value="{{ d.params.uniquePartNum || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">nofHoles：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="nofHoles" value="{{ d.params.nofHoles || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Status：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="status" value="{{ d.params.status || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md12 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Remark：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="remark" value="{{ d.params.remark || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>


        <div class="layui-form-item layui-col-md-offset3">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-smtorder-update-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<style>
    .smt-edit-info>.layui-form>.layui-form-item>.layui-col-md4>.layui-form-label{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>
