<!--查看PCB订单信息-->
<html lang="en">
<div class="layui-fluid">
    <!--<a class="layui-btn" lay-event="edit">查看合同</a>-->
    <div class="order_review_search">
        <script type="text/html" template>
            <table class="layui-table" lay-skin="row" lay-even="">
                <colgroup>
                    <col width="100">
                    <col width="100">
                    <col width="100">
                    <col width="100">
                </colgroup>
                <tbody>
                <tr>
                    <td>Layers:</td>
                    <td>{{ d.params.layerNum || ''}}</td>
                    <td>Type:</td>
                    <td>{{ d.params.pcbType || ''}}</td>
                </tr>
                <tr>
                    <td>Gerber File:</td>
                    <td>{{ d.params.gerberName || ''}}</td>
                    <td>Product No:</td>
                    <td>{{ d.params.productNo || ''}}</td>
                </tr>
                <tr>
                    <td>Thickness:</td>
                    <td>{{ d.params.finishThickness || ''}}</td>
                    <td>PCB Size:</td>
                    <td>
                        {{# if(d.params.panelWayX == null){}}
                            {{ d.params.dimensionsX || ''}} * {{ d.params.dimensionsY || ''}} mm/1
                        {{# }else{ }}
                            {{# var panelPcs = parseFloat(d.params.panelWayX*d.params.panelWayY) }}
                            {{ d.params.panelSizeX || ''}} * {{ d.params.panelSizeY || ''}} mm/{{ panelPcs }}
                        {{# } }}
                    </td>
                </tr>
                <tr>
                    <td>Material:</td>
                    <td>{{ d.params.pcbType || ''}},TG:{{ d.params.tg }},{{ d.params.cti || ''}}</td>
                    <td>pthCopper:</td>
                    <td>{{ d.params.pthCopper }}</td>
                </tr>
                <tr>
                    <td>Inner Finished Copper:</td>
                    <td>{{ d.params.innerLayerCopper || ''}}</td>
                    <td>Outer Finished Copper:</td>
                    <td>{{ d.params.outerLayerCopper || ''}}</td>
                </tr>
                <tr>
                    <td>Solder Mask Color:</td>
                    <td>{{ d.params.solderMaskTopColor || ''}}</td>
                    <td>Silkscreen Color:</td>
                    <td>{{ d.params.silkScreenTopColor || ''}}</td>
                </tr>
                <tr>
                    <td>Surface Finish:</td>
                    <td>{{ d.params.surfaceFinish || ''}}</td>
                    <td>Test Tooling:</td>
                    <td>{{ d.params.surfaceFinish || ''}}</td>
                </tr>
                <tr style="border: solid silver 1px;">
                    <td>Remark:</td>
                    <td colspan="3">{{ d.params.remark || '' }}</td>
                </tr>
                {{# 
                    if( d.params.isExistIndicator != null && d.params.isExistIndicator === 2) { 
                }}
                {{# layui.each(d.params.pop, function(index, item){  }}
                 <tr>
                    <td colspan="1">{{ item.processEntity.processEname}}:</td>
                    <td colspan="3">{{ item.processInfo}}</td>
                </tr>
                {{#  }); }}
                {{# } }}
                </tbody>
            </table>
            <h3>Fee Detail:</h3>
            <table class="layui-table" lay-skin="row" lay-even="" id="tab-fee">
                <tbody>
                <tr>
                    <td>Eng Fee:</td>
                    <td>{{ d.params.engineeringFee }}</td>
                    <td>Board Fee:</td>
                    <td>{{ d.params.boardFee }}</td>
                    <td>TestCost Fee:</td>
                    <td>{{ d.params.testCostFee }}</td>
                    <td>Expedited Fee:</td>
                    <td>{{ d.params.overworkFee }}</td>
                </tr>
                <tr>
                    <td>Weight:</td>
                    <td>{{ d.params.weight }}</td>
                    <td>Build Time:</td>
                    <td>{{ d.params.buildTime }}</td>
                    <td>Shipping Fee:</td>
                    <td>/</td>
                    <td>PCB Cost:</td>
                    <td>
                        {{ d.params.subtotal }}
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td colspan="6"></td>-->
                    <!--<td>Total:</td>-->
                    <!--<td>{{ d.params.subtotal }}</td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </script>
    </div>
</div>

<style>
    #tab-fee tr td:nth-of-type(1){width: 6%;}
    #tab-fee tr td:nth-of-type(3){width: 6%;}
    #tab-fee tr td:nth-of-type(5){width: 6%;}
    #tab-fee tr td:nth-of-type(7){width: 6%;}
</style>
