<title>报价订单编辑</title>
<div class="layui-fluid stencil-edit-info">
    <form class="layui-form" lay-filter="user_editInfo_form" id="user_editInfo_form" style="width: 750px">
        <div class="layui-form-item">
            <div class="layui-col-md12 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Stencil Side：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="stencilSide" value="{{ d.params.stencilSide || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md12 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Stencil Size：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="stencilSide" value="{{ d.params.stencilSide || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md6 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Thickness：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <select name="thickness">
                            <option value="{{ d.params.thickness || '' }}"  {{ d.params.thickness === '0.10' ? 'selected' : '' }}>0.10mm</option>
                            <option value="{{ d.params.thickness || '' }}"  {{ d.params.thickness === '0.12' ? 'selected' : '' }}>0.12mm</option>
                            <option value="{{ d.params.thickness || '' }}"  {{ d.params.thickness === '0.15' ? 'selected' : '' }}>0.15mm</option>
                            <option value="{{ d.params.thickness || '' }}"  {{ d.params.thickness === '0.20' ? 'selected' : '' }}>0.20mm</option>
                        </select>
                    </script>
                </div>
            </div>
            <div class="layui-col-md6 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Fiducials：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <select name="existingFiducials">
                            <option value="{{ d.params.existingFiducials || '' }}"  {{ d.params.existingFiducials === '0.10' ? 'selected' : '' }}>0.10mm</option>
                            <option value="{{ d.params.existingFiducials || '' }}"  {{ d.params.existingFiducials === '0.20' ? 'selected' : '' }}>0.20mm</option>
                        </select>
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md6 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Quantity：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="quantity" value="{{ d.params.quantity || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="layui-col-md6 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">StencilFee：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="totalStencilFee" value="{{ d.params.totalStencilFee || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-col-md12 layui-col-xs12 layui-col-sm12">
                <label class="layui-form-label">Remark：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="note" value="{{ d.params.note || '' }}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>




        <div class="layui-form-item layui-col-md-offset3">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="LAY-stencilorder-update-submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>

    </form>
</div>

<style>
    .stencil-edit-info>.layui-form>.layui-form-item>.layui-col-md4>.layui-form-label{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>
