<title>装箱单</title>
<script type="text/html" template>
    <link rel="stylesheet" href="{{ layui.setter.base }}style/print.css?v={{ layui.admin.v }}-1" media="print">
</script>
<div class="layui-fluid" id="market-packing-list-en-print">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12" style="text-align: center;">
            <h1>PACKING LIST</h1>
        </div>
        <div class="layui-col-md6" style="float: left;">
            <ul>
                <script type="text/html" template>
                <li class="layui-text">Cuest: {{d.params.userInfo.contact || ''}}</li>
                </script>
            </ul>
        </div>
        <div class="layui-col-md6" style="float: right;">
            <script type="text/html" template>
            <ul>
                <li class="layui-text">Date: {{new Date(d.params.gmtCreate).toDateString()}}</li>
            </ul>
            <ul>
                <li class="layui-text">Terms of Payment: {{d.params.userInfo.paymentType || ''}}</li>
            </ul>
            </script>
        </div>
        <div class="layui-col-md12">
            <hr class="layui-bg-black">
            <button class="layui-btn layui-hide" lay-active="e1" id="e1">添加</button>
        </div>
        <div class="layui-col-md12">
            <!-- <table id="market-packing-list-en-table" lay-filter="market-packing-list-en-table"></table> -->
            <table class="layui-table">
                <thead>
                    <tr>
                        <td>marks(C/T No.)</td>
                        <td>Q'type(pcs)</td>
                        <td>Packages</td>
                        <td>Description</td>
                        <td>Gross Weight(kg)</td>
                        <td>Net Weight(kg)</td>
                        <td>Measurement</td>
                        <td>Order No</td>
                        <td>COMMERCIAL INVOICE No.</td>
                    </tr>
                </thead>
                <tbody>
                    <script type="text/html" template>
                        {{# layui.each(d.params.itemEntityList, function(index, item){  }}
                        <tr>
                            <td>{{ item.marks || ''}}</td>
                            <td>{{ item.qty || ''}}</td>
                            <td>{{ item.packages || ''}}</td>
                            <td>{{ item.description || ''}}</td>
                            <td>{{ item.grossWeight || ''}}</td>
                            <td>{{ item.netWeight || ''}}</td>
                            <td>{{ item.measurement || ''}}</td>
                            <td>{{ item.orderNo || ''}}</td>
                            <td>{{ item.commercialInvoiceno || ''}}</td>
                        </tr>
                        {{# }) }}
                        <tr>
                            <td>Total</td>
                            <td>{{ d.params.itemEntityList.map(i => i.qty).reduce((total,num)=> total + num) }}</td>
                            <td>{{ d.params.itemEntityList.map(i => i.packages).reduce((total,num)=> total + num) }}</td>
                            <td></td>
                            <td>{{ d.params.itemEntityList.map(i => Number(i.grossWeight)).reduce((total,num)=> total + num) }}</td>
                            <td>{{ d.params.itemEntityList.map(i => Number(i.netWeight)).reduce((total,num)=> total + num) }}</td>
                            <td colspan="3"></td>
                        </tr>
                    </script>
                </tbody>
            </table>
        </div>
    </div>
</div>
