<title>报关单</title>
<div class="layui-fluid" id="market-packing-list-customs-print">
    <script type="text/html" template>
    <div class="layui-row  layui-col-space7">
        <div class="layui-col-md12" style="text-align: center; margin-bottom: 20px;">
            <h1>中华人民共和国海关出口货物报关单</h1>
        </div>
        <div class="layui-col-md12" style="display: flex; margin-bottom: -10px;">
            <div style="text-indent: 30px; width: 30%;">预录入编号:</div>
            <div style="width: 30%;">申报口岸:</div>
            <div style="flex: 1;">海关编号: 4403161FBD</div>
        </div>
        <div class="layui-col-md12">
            <table class="layui-table">
                <tbody>
                    <tr>
                        <td style="padding:5px 15px; line-height: 15px; width: 260px;">
                            境内发货人：914403003061265466 <br>
                            <strong>深圳聚谷科技有限公司</strong>
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px;">
                            出境关别： <strong>深圳海关</strong>
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            出口日期：
                        </td>
                        <td valign='top' style="padding:5px 15px">
                            申报日期：
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            备案号：
                        </td>
                    </tr>
                    <tr>
                        <td valign='top'  style="padding:5px 15px; line-height: 15px;">
                            境外收货人 AEO：
                            <strong>{{d.params.userInfo != null ? d.params.userInfo.companName || '' : ''}}</strong>
                        </td>
                        <td colspan="2" valign='top'  style="padding:5px 15px">
                            运输方式： <strong>深圳监管</strong>
                        </td>
                        <td colspan="2" valign='top'  style="padding:5px 15px">
                            运输工具名称及航次号
                        </td>
                        <td valign='top' valign='top'  style="padding:5px 15px">
                            提运单号： <strong>{{d.params.deliveryNo || ''}}</strong>
                        </td>
                        <td colspan="2"  style="padding:5px 15px"></td>
                    </tr>
                    <tr>
                        <td valign='top' valign='top' style="padding:5px 15px; line-height: 15px;">
                            生产销售单位： 914403003061265466 <br>
                            <strong>深圳聚谷科技有限公司</strong>
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            监管方式： <strong>一般贸易</strong> 
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            征免性质：<strong>一般征税</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px">许可证号</td>
                        <td colspan="2" style="padding:5px 15px"></td>
                    </tr>
                    <tr>
                        <td valign='top' style="padding:5px 15px">
                            合同协议号：<strong>{{d.params.commercialInvoice || ''}}</strong>
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            贸易国(地区)： <strong>{{d.params.userInfo != null ? d.params.userInfo.countryCn || '' : ''}}</strong>  
                        </td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            运抵国(地区)： <strong>{{d.params.userInfo != null ? d.params.userInfo.countryCn || '' : ''}}</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px">指运港</td>
                        <td colspan="2" valign='top' style="padding:5px 15px">
                            离境口岸（  ）跨境的才需要申报
                        </td>
                    </tr>
                    <tr>
                        <td valign='top' style="padding:5px 15px">
                            包装种类： <strong>纸箱</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px; width: 60px; ">
                            件数： <strong>{{d.params.itemEntityList.map(i => Number(i.packages)).reduce((total,num)=> total + num) }}</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px; width: 65px;">
                            毛重： <strong>{{d.params.itemEntityList.map(i => Number(i.grossWeight)).reduce((total,num)=> total + num) }}</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px; width: 65px;">
                            净重： <strong>{{d.params.itemEntityList.map(i => Number(i.netWeight)).reduce((total,num)=> total + num) }}</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px; width: 110px;">
                            成交方式： <strong>{{d.params.tradeType || ''}}</strong>
                        </td>
                        <td valign='top' style="padding:5px 15px">
                            运费：
                        </td>
                        <td valign='top' style="padding:5px 15px">
                            保费：
                        </td>
                        <td valign='top' style="padding:5px 15px">
                            杂费：
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" valign='top' style="padding:5px 15px">
                            随附单证及编号境外收货人完整显示：<strong>{{d.params.userInfo != null ? d.params.userInfo.companName || '' : ''}}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8" style="padding:5px 15px">标记唛码及备注:</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="padding:5px 15px">备注:</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding:5px 15px"></td>
                        <td colspan="3" style="padding:5px 15px">
                            报关联系电话：
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 15px">特殊关系确认：</td>
                        <td style="padding:5px 15px">价格影响确认：</td>
                        <td style="padding:5px 15px" colspan="2">支付特许权使用费：</td>
                        <td style="padding:5px 15px" colspan="4">自报自缴：出口不填原产国/目的国/货源地未注明的项默认与提供的项相同</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding:5px 15px">商品编号</td>
                        <td style="text-align: center; padding:5px 15px; width: 126px;">商品名称及规格型号</td>
                        <td style="text-align: center; padding:5px 15px; width: 75px;">数量及单位</td>
                        <td style="text-align: center; padding:5px 15px; width: 94px;">单价/总价/币制</td>
                        <td style="text-align: center; padding:5px 15px">原产国（地区）</td>
                        <td style="text-align: center; padding:5px 15px">最终目的国（地区）</td>
                        <td style="text-align: center; padding:5px 15px">境内货源地 </td>
                        <td style="text-align: center; padding:5px 15px">征免</td>
                        <!-- <td colspan="6" style="text-align: center;">数量及单位 单价/总价/币制 原产国（地区）最终目的国（地区）境内货源地 征免</td> -->
                    </tr>
                    {{# layui.each(d.params.itemEntityList, function(index, item){  }}
                    <tr>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                        {{item.goodsNo != null ? item.goodsNo.split('/')[0] : ''}}
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            {{item.goodsNo != null ? item.goodsNo.split('/')[1] : ''}}<br>
                            {{item.goodsNo != null ? item.goodsNo.split('/')[2] : ''}}|
                            {{item.goodsNo != null ? item.goodsNo.split('/')[3] : ''}}|
                            {{item.goodsNo != null ? item.goodsNo.split('/')[4] : ''}}|
                            {{item.goodsNo != null ? item.goodsNo.split('/')[5] : ''}}<br>
                            型号: {{ item.description || ''}}
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            {{ item.qty || ''}}块
                        </td>
                        <td rowspan="1" style="text-align: center; padding:0px 15px">
                            {{ item.unitPrice || ''}}
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            中国
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            {{d.params.userInfo != null ? d.params.userInfo.countryCn || '' : ''}} 
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            <!-- {{item.sourceSupply || ''}} -->
                            深圳特区
                        </td>
                        <td rowspan="3" style="text-align: center; padding:5px 15px">
                            照章征税
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding:0px 15px">{{ Number(item.totalPrice).toFixed(3) || ''}}</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding:0px 15px">USD</td>
                    </tr>
                    {{# }) }}
                </tbody>
            </table>
        </div>
        <div class="layui-col-md12">
            <h2 style="text-align: center; padding:5px 15px">TOTAL  ${{(d.params.itemEntityList.map(i => Number(i.totalPrice)).reduce((total,num)=> total + num)).toFixed(2) }}</h2>
        </div>
    </div>
    </script>
</div>