<title>发票</title>
<div class="layui-fluid" id="market-packing-list-invoice-print">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md12" style="text-align: center;">
            <h1>深圳聚谷科技有限公司</h1>
            <h3>AnshengRoad,No.4Building,Shajing,BaoanDistrict,Shenzhen,CHINA</h3>
            <h3>Tel: +86-755-27398155  Fax: +86-755-27398355</h3>
        </div>
        <script type="text/html" template>
        <div class="layui-col-md6" style="float: left;">
            <ul>
                <li class="layui-text">Buyer's COMPANY: {{d.params.userInfo != null ? d.params.userInfo.companName || '' : ''}}</li>
            </ul>
            <ul>
                <li class="layui-text">TEL: {{ d.params.userInfo != null ? d.params.userInfo.mobilePhone || '' : ''}}</li>
            </ul>
            <ul>
                <li class="layui-text">FAX: 0</li>
            </ul>
        </div>
        <div class="layui-col-md6" style="float: right;">
            <ul>
                <li class="layui-text"></li>
            </ul>
            <ul>
                <li class="layui-text">Date: {{layui.util.toDateString(d.params.gmtCreate, 'yyyy/MM/dd')}}</li>
            </ul>
            <ul>
                <li class="layui-text">P/O no. : {{d.params.commercialInvoice || ''}}</li>
            </ul>
        </div>
        </script>
        <div class="layui-col-md12" style="text-align: center;">
            <h2>COMMERCIAL INVOICE 发票</h2>
        </div>
        <div class="layui-col-md12">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align: center;">description</th>
                        <th rowspan="1" style="text-align: center;">DESCRIPTION</th>
                        <th style="text-align: center;">TOTAL QTY</th>
                        <th style="text-align: center;">UNIT PRICE</th>
                        <th style="text-align: center;">AMOUNT</th>
                    </tr>
                    <tr>
                        <th rowspan="1" style="text-align: center;">Part No.</th>
                        <th rowspan="1" style="text-align: center;">(块)</th>
                        <th rowspan="1" style="text-align: center;">USD</th>
                        <th style="text-align: center;">USD</th>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align: center;">商品名称及规格型号</th>
                        <th style="text-align: center;">总数量</th>
                        <th style="text-align: center;">单价</th>
                        <th style="text-align: center;">总金额</th>
                    </tr>
                </thead>
                <tbody>
                    <script type="text/html" template>
                        {{# layui.each(d.params.itemEntityList, function(index, item){  }}
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                {{item.goodsNo != null ? item.goodsNo.split('/')[1] : ''}}<br>
                                {{item.goodsNo != null ? item.goodsNo.split('/')[2] : ''}}|
                                {{item.goodsNo != null ? item.goodsNo.split('/')[3] : ''}}|
                                {{item.goodsNo != null ? item.goodsNo.split('/')[4] : ''}}|
                                {{item.goodsNo != null ? item.goodsNo.split('/')[5] : ''}}<br>
                                型号: {{ item.description || ''}}
                            </td>
                            <td style="text-align: center;">{{ item.qty || ''}}</td>
                            <td style="text-align: center;">{{ item.unitPrice || ''}}</td>
                            <td style="text-align: center;">{{ item.totalPrice || ''}}</td>
                        </tr>
                        {{# }) }}
                        <!-- <tr>
                            <td colspan="2">Total</td>
                            <td>{{ d.params.itemEntityList.map(i => i.packages).reduce((total,num)=> total + num) }}</td>
                            <td>{{ d.params.itemEntityList.map(i => i.qty).reduce((total,num)=> total + num) }}</td>
                            <td>{{ d.params.itemEntityList.map(i => Number(i.netWeight)).reduce((total,num)=> total + num) }}</td>
                            <td>{{ d.params.itemEntityList.map(i => Number(i.grossWeight)).reduce((total,num)=> total + num) }}</td>
                        </tr> -->
                    </script>
                </tbody>
            </table>
        </div>
        <div class="layui-col-md12">
            <script type="text/html" template>
            <ul style="display: flex;justify-content: space-between;">
                <li>TOTAL AMOUNT:</li>
                <li>USD {{d.params.itemEntityList.map(i => Number(i.totalPrice)).reduce((total,num)=> total + num) }}</li>
                <li>TOTAL AMOUNT:</li>
                <li>$ {{d.params.itemEntityList.map(i => Number(i.totalPrice)).reduce((total,num)=> total + num) }}</li>
            </ul>
            <ul style="display: flex;justify-content: space-between;">
                <li>TOTAL QUANTITY:</li>
                <li>{{d.params.itemEntityList.map(i => Number(i.qty)).reduce((total,num)=> total + num) }}</li>
            </ul>
            <ul style="display: flex;justify-content: space-between;">
                <li>TRADE TERM:</li>
                <li>FOB</li>
            </ul>
            <ul style="display: flex;justify-content: space-between;">
                <li>MADE IN:</li>
                <li>CHINA</li>
            </ul>
            </script>
        </div>
    </div>
</div>
