<title>报价合同</title>
<div class="layui-fluid">
    <div class="layui-row">
        <!--顶部logo-->
        <div class="contract-top-logo layui-col-md12">
            <div class="lef-logo layui-col-md6">
                <img src="../../../src/style/res/logoMax.png">
            </div>
            <div class="rig-text layui-col-md6">
                <a>QUOTATION</a>
            </div>
        </div>

        <!--模块一 contract-module-one, 顶部信息-->
        <div class="contract-module-one layui-col-md12">
            <div class="module-one-lef layui-col-md6">
                <ul>
                    <li>Importer:</li>
                    <li>Company Name:</li>
                    <li>Addr:</li>
                </ul>
            </div>
            <div class="module-one-rig layui-col-md6">
                <ul>
                    <li>Quotation No:</li>
                    <li>Date:</li>
                </ul>
            </div>
        </div>

        <!--DESCRIPTION 标题-->
        <div class="moudle-description layui-col-md12">
            <span>DESCRIPTION</span>
        </div>

        <!--模块二 contract-module-two，DESCRIPTION-->
        <div class="contract-module-two layui-col-md12">
            <div class="module-two-lef layui-col-md6">
                <ul>
                    <li>Pcb material:</li>
                    <li>No.of Layer:</li>
                    <li>NThickness Cu:</li>
                    <li>Board Finish:</li>
                </ul>
            </div>
            <div class="module-two-rig layui-col-md6">
                <ul>
                    <li>Size:</li>
                    <li>PCB Thickness:</li>
                    <li>Solder Mask:</li>
                    <li>Legend Colour:</li>
                    <li>Special request:</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<style>
    .contract-top-logo .lef-logo img{width: 190px;}
    .contract-top-logo .rig-text{text-align: right;}
    .contract-top-logo .rig-text a{font-size: 20px;font-weight: 600;}
    .contract-module-one{margin-top: 60px;}
    .moudle-description{background-color: #01aaed40;text-align: center;margin-top: 20px;margin-bottom: 20px;padding: 4px;}
    .moudle-description span{color: black;font-weight: 500;}
</style>