<div class="layui-fluid">
    <script type="text/html" template id="test">
        <input type="text" value="{{ d.params.aid }}" id="{{ d.params.aid }}" class="aid">
    </script>
    <table class="layui-table" id="stencilSize" lay-filter="stencilList"></table>
    <input type="text" value="999" id="stenContainer" style="display: none;">
</div>
<script type="text/javascript">
    layui.use(['form','table','admin','setter'], function(){
        var $ = layui.$
            ,form = layui.form
            ,admin = layui.admin
            ,setter = layui.setter
            ,table = layui.table;
        // table.render({
        //     elem: '#stencilSize'
        //     ,url: setter.imUrl+'quote/getStencilSize'
        //     ,toolbar: true
        //     ,cellMinWidth: 80
        //     ,id: 'stencilSize'
        //     ,page: true
        //     ,where: {
        //         access_token: layui.data('layuiAdmin').access_token,
        //         // at:2
        //     }
        //     ,cols: [[
        //         {type:'radio',title: 'Check'},
        //         {field: 'id',title: 'id', hide: true},
        //         {field: 'materialName',title: 'Type', align: 'center',width: 135},
        //         {field: 'stencilSizex',title: 'stencilSizex', align: 'center',width: 130},
        //         {field: 'stencilSizey',title: 'stencilSizey', align: 'center',width: 130},
        //         {field: 'stencilAreax',title: 'stencilAreax', align: 'center',width: 130},
        //         {field: 'stencilAreay',title: 'stencilAreay', align: 'center',width: 130},
        //         {field: 'weight',title: 'weight', align: 'center',width: 130},
        //         {field: 'priceToUSD',title: 'price($)', align: 'center',width: 130}
        //     ]]
        // });
        // //监听行单击事件
        // table.on('row(stencilList)', function (obj) {
        //     var data = obj.data;
        //     // Farmework 736*736(Valid area 500*500mm)
        //     $("#stenContainer").attr("data-id",data.priceToUSD); //价格
        //     $("#stenContainer").attr("name",data.weight); //重量
        //     $("#stenContainer").val(data.materialName+" "+ data.stencilSizex+"*"+data.stencilSizey+"(Valid area"+data.stencilAreax+"*"+data.stencilAreay+"mm)");
        //     //标注选中样式
        //     obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        //     //选中此行的radio
        //     obj.tr.find('input[lay-type="layTableRadio"]').prop("checked",true);
        //     form.render('radio');
        // })
        var aid = $(".aid").attr("id");
        console.log($(".aid").html());
        // admin.req({
        //     type: 'post',
        //     dataType: 'json',
        //     data: [{aid:aid}],
        //     url: setter.imUrl+'getQuoteDetail',
        //     success: function (data) {
        //         console.log(data);
        //     }
        // })
        form.render();
    });

</script>