<div class="layui-fluid">
    <table class="layui-table" id="stencilSize" lay-filter="stencilList"></table>
    <input type="text" value="999" id="stenContainer" style="display: none;">
</div>
<script type="text/javascript">
        layui.use(['form','table','admin','setter'], function(){
            var $ = layui.$
                ,form = layui.form
                ,admin = layui.admin
                ,setter = layui.setter
                ,table = layui.table;
            table.render({
                elem: '#stencilSize'
                ,url: setter.imUrl+'quote/getStencilSize'
                ,toolbar: true
                ,cellMinWidth: 80
                ,id: 'stencilSize'
                ,page: true
                ,cols: [[
                    {type:'radio',title: 'Check'},
                    {field: 'id',title: 'id', hide: true},
                    {field: 'materialName',title: 'Type', align: 'center',width: 135},
                    {field: 'stencilSizex',title: 'stencilSizex', align: 'center',width: 130},
                    {field: 'stencilSizey',title: 'stencilSizey', align: 'center',width: 130},
                    {field: 'stencilAreax',title: 'stencilAreax', align: 'center',width: 130},
                    {field: 'stencilAreay',title: 'stencilAreay', align: 'center',width: 130},
                    {field: 'weight',title: 'weight', align: 'center',width: 130},
                    {field: 'priceToUSD',title: 'price($)', align: 'center',width: 130}
                ]]
            });
            //监听行单击事件
            table.on('row(stencilList)', function (obj) {
                var data = obj.data;
                // Farmework 736*736(Valid area 500*500mm)
                $("#stenContainer").val(data.materialName+" "+ data.stencilSizex+"*"+data.stencilSizey+"(Valid area"+data.stencilAreax+"*"+data.stencilAreay+"mm)");
                var goData = {
                    size: data.id,
                    stencilType: data.materialName,
                    unitPrice: data.priceToUSD,
                    stencilSizeX: data.stencilSizex,
                    stencilSizeY: data.stencilSizey,
                    stencilAreaX: data.stencilAreax,
                    stencilAreaY: data.stencilAreay,
                    weight: data.weight
                };
                // 本地存储
                console.log(data);
                layui.data('stencilList',{
                    key: 'params',
                    value: goData
                });
                //标注选中样式
                obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
                //选中此行的radio
                obj.tr.find('input[lay-type="layTableRadio"]').prop("checked",true);
                form.render('radio');
            })
            form.render();
        });

</script>