<title>国家管理</title>
<div class="layui-fluid">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="sys-country-list">
      <div class="layui-form-item">
        <div class="layui-inline">
          <label class="layui-form-label">国家名(英)</label>
          <div class="layui-input-inline">
            <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <label class="layui-form-label">国家名(中)</label>
          <div class="layui-input-inline">
            <input type="text" name="cname" placeholder="请输入" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-inline">
          <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-sys-country-search">
            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="layui-card-body">
      <div style="padding-bottom: 10px;">
        <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
        <button class="layui-btn layuiadmin-btn-list layui-btn-normal" id="excelFedex">
            <i class="layui-icon">&#xe67c;</i>导入fedex分区
        </button>
      </div>
      <table id="LAY-sys-country-list" lay-filter="LAY-sys-country-list"></table> 

      <!-- <script type="text/html" id="uidTpl">
        {{#  if(d.top == true){ }}
          <button class="layui-btn layui-btn-xs">已置顶</button>
        {{#  } else { }}
          <button class="layui-btn layui-btn-primary layui-btn-xs">正常显示</button>
        {{#  } }}
      </script> 

      <script type="text/html" id="couponStatusTpl">
        {{#  if(d.couponStatus == 1){ }}
          未使用
        {{#  } else if(d.couponStatus == 2) { }}
          已使用
        {{#  } }}
      </script>  -->

      <script type="text/html" id="table-country-list">
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
      </script>
    </div>
  </div>
</div>

<script>
layui.use('sys_country', layui.factory('sys_country'));
</script>
