<title>系统管理-客户信息</title>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="customer-info-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block" style="width: 120px">
                        <select name="status">
                            <option value=""></option>
                            <option value="0">未审核</option>
                            <option value="1">需要审核</option>
                            <option value="2">已审核</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">客户代码</label>
                    <div class="layui-input-block">
                        <input type="text" name="userSystemId" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="userName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="email" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">公司名</label>
                    <div class="layui-input-block">
                        <input type="text" name="companName" class="layui-input" id="customer_orderTime">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-constomer-info-search" style="margin-bottom: 3px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <script type="text/html" template lay-done="layui.data.done(d);">
                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:consumer_user:save") != -1){ }}
                        <button class="layui-btn" id="customerInfo_add" data-type="customerInfo_add">新增</button>
                    {{# } }}
                </script>   
                <!-- <button class="layui-btn" data-type="getCheckLength">修改</button> -->
                <!-- <button class="layui-btn" data-type="isAll">查看</button> -->
                <!-- <button class="layui-btn" data-type="isAll">设置</button> -->
            </div>
            <table class="layui-hide" id="customer_listTab" lay-filter="customer_listTab"></table>
            <script type="text/html" id="role-table-operate-barDemo">
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:consumer_user:update") != -1){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="customerInfosh">审核</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{# } }}
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:consumer_user:delete") != -1){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                 {{# } }}
                    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="conversionCustomer">转客户</a>
            </script>
             <script type="text/html" id="userType">
                {{#  if(d.userType ===0){ }}
                    <span style="color: orangered;">否</span>
                {{#  } else { }}
                    <span>是</span>
                {{#  } }}
            </script>
            <script type="text/html" id="customerStatus">
                {{#  if(d.status === 0 || d.status == null){ }}
                    <a style="color: orangered">未审核</a>
                {{#  } else if(d.status === 1) { }}
                    <a style="color: cornflowerblue">需要审核</a>
                {{#  } else if(d.status === 2){ }}
                    <a style="color: green">已审核</a>
                {{#  } }}
            </script>
        </div>
    </div>
</div>



<script>
    layui.data.done = function(d){
    layui.use('sys_coustomer', layui.factory('sys_coustomer')).use(['admin', 'table','element','form'],function(){
        var table = layui.table,$ = layui.jquery,element = layui.element,admin = layui.admin,form = layui.form,view = layui.view,setter = layui.setter;             
        form.render();
    });
    layui.use('mobileterminal',layui.factory('mobileterminal')).use(['mobileterminal'],function () {

    });}
</script>
