
<title>客户信息</title>
<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="orderTime">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <button class="layui-btn" id="customerInfo_add" data-type="customerInfo_add">新增</button>
                <button class="layui-btn" data-type="getCheckLength">修改</button>
                <button class="layui-btn" data-type="isAll">查看</button>
                <button class="layui-btn" data-type="isAll">设置</button>
            </div>
            <table class="layui-hide" id="customer_infoTab"></table>
        </div>
    </div>

</div>



<script>
layui.use(['admin', 'table', 'index','element','form'], function(){
    var table = layui.table;
    var $ = layui.jquery;
    var element = layui.element;
    var admin = layui.admin;
    var form = layui.form;
    var view = layui.view;
    element.on('form(demo)', function(data){
        console.log(data);
        alert("1");
    });
    table.render({
        elem: '#customer_infoTab'
        ,url: './json/infoManagement/customer_info.js'
        ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
        ,cols: [[
            {type:'checkbox'}
            ,{field:'id', title: '客户账号', sort: true}
            ,{field:'username', title: '客户ID'} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
            ,{field:'name', title: '公司名称', sort: true}
            ,{field:'department', title: '联系人', sort: true}
            ,{field:'position', title: '电话', sort: true}
            ,{field:'worknumber', title: 'Skype', align: 'center', sort: true} //单元格内容水平居中
            ,{field:'officephone', title: 'Email', sort: true, align: 'right'} //单元格内容水平居中
            ,{field:'skype', title: '跟单员', sort: true, align: 'right'}
            ,{field:'email', title: '创建人', sort: true, align: 'right'}
            ,{field:'bankcode', title: '创建时间', sort: true}
            ,{field:'status', title: '修改人', sort: true}
            ,{field:'founder', title: '创建人', sort: true}
            ,{field:'creattime', title: '修改时间', sort: true}
        ]]
    });
    var active = {
        customerInfo_add:function(){
            var that = this;
            layer.open({
                type: 1,
                title: 'Customer Info Management',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['720px', '520px'],
                content:'<div class="layui-row" id="customer_edit_info"></div>',
                btn:['确定','取消'],
                success: function (index,layero) {
                    view('customer_edit_info').render('/infoManagement/iframeWindow/customer_edit_info',{id:''}).then(function (value) {
                        //视图文件请求完毕，视图内容渲染前的回调
                    }).done(function(){
                        //试图文件请求完毕和内容渲染完毕的回调
                        form.render();
                    });


                }
            });
        },

    };

    $('.layui-btn').on('click',function () {
        var type = $(this).data('type');
        active[type] && active[type].call(this);
    })



});
</script>
