
  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list"style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
      <label class="layui-form-label">工序名称(中)</label>
      <div class="layui-input-inline">
        <script type="text/html" template>
          <input type="text" name="processTemplateName" value="{{ d.params.processTemplateName || '' }}" lay-verify="required" placeholder="请输入中文工序名称" autocomplete="off" class="layui-input">
          
        </script>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">选择工序</label>
        <script type="text/html" template lay-url="{{layui.setter.baseUrl}}epc/process/list" lay-done="layui.data.done(d);" lay-type="post">
        {{# 
            layui.each(d.page.list, function(index, item) {   
        }}
          <div class="layui-input-block">
              <input type="checkbox" name="pids" title="{{item.processCname}}" value="{{item.id}}" {{ d.params.pidList != null && d.params.pidList.indexOf(item.id+'') != -1 ? 'checked' : '' }}> 
          </div>
        {{# }); }}
        </script>
    </div>
    <script type="text/html" template>
      <input type="hidden" name="id" value="{{ d.params.id || '' }}">
    </script>
    <div class="layui-form-item">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" value="确认" class="layui-btn" style="display: none;" id="layuiadmin-app-form-submit">
      </div>
    </div>
  </div>

  <script>
  </script>
