
<title>报价配置</title>

<div class="layui-fluid" id="LAY-info-quote-config">
  <div class="layui-card">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="sys-quote-config-form-list" id="sqcfl">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">平米</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllAreaParameter" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="areaSq" lay-verify="required"  lay-filter="a">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" >{{ item.areaParameterName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">基材</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllPcbType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="pcbtype" lay-verify="required"  lay-filter="b">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}">{{ item.pcbTypeName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">层数</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllLayerNumber" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="layerNum" lay-verify="required" lay-filter="c">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}">{{ item.layerNum }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">加急类型</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllUrgentType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="urgentType" lay-verify="required" lay-filter="d">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}">{{ item.urgentType }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">参数类型</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllParameterType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="parameterType" lay-verify="required" lay-filter="e">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}">{{ item.parameterTypeName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">参数</label>
            <div class="layui-input-inline">
                <select name="parameterName" lay-verify="required" lay-filter="f">
                    <option value="0"></option>
                </select>    
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">参数值</label>
            <div class="layui-input-inline">
                    <select name="parameter" lay-verify="required" lay-filter="g">
                        <option value="0"></option>
                    </select>    
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">加价类别</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}quoteConfig/getAllPremiumType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="premiumType" lay-verify="required" lay-filter="h">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}">{{ item.premiumType }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>    
            </div>
          </div>

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-sys-quote-config-formlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="layui-tab layui-tab-brief" lay-filter="sys-quoteConfig-tabs">
      <ul class="layui-tab-title">
        <li class="layui-this">价格配置</li>
        <li>重量配置</li>
        <li>金属板配置</li>
        <li>非金属板配置</li>
        <li>其他配置</li>
        <li>交期配置</li>
        <li>平米类型配置</li>
        <li>汇率配置</li>
        <li>运费配置</li>
        <li>钢网配置</li>
        <li>贴片配置</li>
      </ul>
      <div class="layui-tab-content">
        <!-- 价格配置 -->
        <div class="layui-tab-item layui-show">
          <div class="LAY-sys-quote-config-btns" style="margin-bottom: 10px;">
            <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="jg" data-events="add">添加</button>
           <!--  <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-events="ready">标记已读</button> -->
            <!-- <button class="layui-btn layui-btn-primary layui-btn-sm" data-type="all" data-events="readyAll">全部已读</button> -->
          </div>
          
          <table id="LAY-info-qc-jg-table" lay-filter="LAY-info-qc-jg-table"></table>
          <script type="text/html" id="info-qc-jg-toolbar">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
        <!-- 重量配置 -->
        <div class="layui-tab-item">
          <table id="LAY-info-qc-zl-table" lay-filter="LAY-info-qc-zl-table"></table>
        </div>
        <!-- 非金属板配置 -->
        <div class="layui-tab-item">
          <table id="LAY-info-qc-jsb-table" lay-filter="LAY-info-qc-jsb-table"></table>
        </div>
        <!-- 非金属板配置 -->
        <div class="layui-tab-item">
            <table id="LAY-info-qc-fjsb-table" lay-filter="LAY-info-qc-fjsb-table"></table>
        </div>
        <!-- 其他配置 -->
        <div class="layui-tab-item">
            <table id="LAY-info-qc-qt-table" lay-filter="LAY-info-qc-qt-table"></table>
        </div>
        <!-- 交期配置 -->
        <div class="layui-tab-item">
            <table id="LAY-info-qc-jq-table" lay-filter="LAY-info-qc-jq-table"></table>
        </div>
        <!-- 平米类型配置 -->
        <div class="layui-tab-item">
            <table id="LAY-info-qc-pmlx-table" lay-filter="LAY-info-qc-pmlx-table"></table>
        </div>
        <!-- 汇率配置 -->
        <div class="layui-tab-item">     
            <table id="LAY-info-qc-hl-table" lay-filter="LAY-info-qc-hl-table"></table>
        </div>
        <!-- 运费配置 --> 
        <div class="layui-tab-item">
            <table id="LAY-info-qc-yf-table" lay-filter="LAY-info-qc-yf-table"></table>
        </div>
        <!-- 钢网配置 --> 
        <div class="layui-tab-item">
            <table id="LAY-info-qc-gw-table" lay-filter="LAY-info-qc-gw-table"></table>
        </div>
        <!-- 贴片配置 --> 
        <div class="layui-tab-item">    
            <table id="LAY-info-qc-tp-table" lay-filter="LAY-info-qc-tp-table"></table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    layui.data.done=function(d){
        layui.use('sys_quote_config',layui.factory('sys_quote_config')).use(['admin', 'table', 'util','form'],function(){
            var $ = layui.$
                ,admin = layui.admin
                ,setter = layui.setter
                ,table = layui.table
                ,element = layui.element
                ,form = layui.form;
            form.render();

            //监听参数类型切换
            form.on('select(e)',function(data){
                $.get(setter.imUrl+"quoteConfig/getAllParameter",{parameterTypeId:data.value},function(data){
                    $("select[name='parameterName']").empty();
                    $("select[name='parameterValue']").empty();
                    $.each(data.data, function (i, d) {
                        $("select[name='parameterName']").append(
                            "<option value='" + d.id + "'>" + d.parameterName + "</option>");
                    });
                    form.render();
                });
            });
            
            //监听参数切换
            form.on('select(f)',function(data){
                $.get(setter.imUrl+"quoteConfig/getAllParameterValue",{parameterId:data.value},function(data){
                    var _this = $("select[name='parameter']");
                    _this.empty();
                    $.each(data.data, function (i, d) {
                        $("select[name='parameter']").append(
                            "<option value='" + d.id + "'>" + d.parameterValue + "</option>");
                    });
                    form.render();
                });
            });
            
        });
    }
</script>