
<title>角色管理</title>
<div class="layui-fluid">
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
        	<div class="layui-form-item layui-form" lay-filter="app-content-comment">
	            <div class="layui-inline">
	                <label class="layui-form-label">角色名</label>
	                <div class="layui-input-inline">
	                    <input type="text" name="roleName" autocomplete="off" class="layui-input">
	                </div>
	            </div>
	            <div class="layui-inline">
	                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
	                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
	                </button>
	            </div>
	            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                    <script type="text/html" template lay-done="layui.data.done(d);">
                        {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:role:save") != -1){ }}
                            <button class="layui-btn" data-type="role_add">新增</button>
                        {{# } }}
                    </script>
	            </div>
	        </div>
            
            <table class="layui-hide" id="role_listTab" lay-filter="role_listTab"></table>

            <script type="text/html" id="role-table-operate-barDemo">
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:role:update") != -1){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                {{# } }}
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:role:delete") != -1){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                {{# } }}
            </script>
        </div>
    </div>

</div>
<script>
layui.data.done = function(d){
    layui.use('sys_role', layui.factory('sys_role')).use(['admin', 'table','setter','form','authtree','jquery'],function(){
        var $ = layui.jquery
        ,table = layui.table
        ,admin = layui.admin
        ,setter = layui.setter
        ,view = layui.view
        ,form = layui.form
        ,authtree = layui.authtree;
         
        form.render();

    });
}
</script>