
<title>供应商信息</title>
<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">供应商编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类别</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">联系人</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="orderTime">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <button class="layui-btn" id="supplier_add" data-type="supplier_add">新增</button>
                <button class="layui-btn" data-type="getCheckLength">修改</button>
                <button class="layui-btn" data-type="isAll">查看</button>
                <button class="layui-btn" id="supplier_set" data-type="supplier_set">设置</button>
            </div>
            <table class="layui-hide" id="supplier_infoTab"></table>
        </div>
    </div>

</div>

<style>
    /*.layui-table-box .layui-table-header thead tr td , .layui-table-box .layui-table-body .layui-table tbody tr td {width: 200px !important;}*/
</style>


<script>
    layui.use('sys_supplier', layui.factory('sys_supplier')).use(['sys_supplier', 'table', 'index','element','form'], function(){

    });
</script>
