<title>菜单管理</title>
<div class="layui-fluid">
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <script type="text/html" template lay-done="layui.data.done(d);">
                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:menu:save") != -1){ }}
                    <button class="layui-btn" id="menu_add" data-type="menu_add">新增</button>
                    {{# } }}
                </script>
            </div>
            <table class="layui-hide" id="sys_menu" lay-filter="sys_menuTab"></table>
            <script type="text/html" id="menu_opreation">
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:menu:update") != -1){ }}
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
                {{#  } }}
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:user:delete") != -1){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                {{#  } }}
            </script>
            <!--类型数字转换-->
            <script type="text/html" id="menu_type">
                {{#  if(d.type ===0){ }}
                    <span style="color: orangered;">一级菜单</span>
                {{#  } else if (d.type ===1){ }}
                    <span style="color: chocolate;">二级菜单</span>
                {{#  } else if (d.type ===2){ }}
                    <span style="color: deepskyblue;">按钮</span>
                {{#  } }}
            </script>
        </div>
    </div>

</div>


<script>
    layui.data.done = function (d) {
        layui.use('sys_menu', layui.factory('sys_menu')).use(['setter', 'sys_menu', 'admin', 'table', 'index', 'element', 'jquery', 'form'], function () {
            var $ = layui.$,
                table = layui.table,
                form  = layui.form,
                admin = layui.admin,
                view  = layui.view
                form.render(null, "user_menuAdd_form");
            //jquery事件＝＝＝＝＝＝》

        });
        layui.use('mobileterminal', layui.factory('mobileterminal')).use(['mobileterminal'], function () {

        });
    }



</script>
