<title>用户信息管理</title>
<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto user-info-search-form" lay-filter="user_info_formlist">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" id="yonghuming">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" autocomplete="off" class="layui-input" id="search_userName">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-inline">
                    <!--<input type="text" name="deptName" autocomplete="off" class="layui-input">-->
                    <script type="text/html" template lay-url="{{layui.setter.baseUrl}}sys/dept/list">
                        <select name="deptName" lay-filter="search-dept-sel">
                            <!--编辑部门自动回填-->
                            <option value="{{ d.params.deptName || ''}}">{{ d.params.deptName || ''}}</option>
                            <!--遍历异步请求到的数据且填充-->
                            {{#  layui.each(d.data, function(index, item){ }}
                            <option value="{{ item.deptName || ''}}" >{{ item.deptName }}</option>
                            {{#  }); }}
                            {{#  if(d.data.length === 0){ }}
                            无数据
                            {{#  } }}
                        </select>
                    </script>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="jobNumber" id="user_orderTime">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-user-info-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" name="permission-user-add">
                <script type="text/html" template lay-done="layui.data.done(d);">
                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:user:save") != -1){ }}
                    <button class="layui-btn per_userAdd" id="userInfo_adds" data-type="userInfo_add">新增</button>
                    {{# console.log(layui.sessionData('layuiAdmin').permissions) }}
                    {{# } }}
                </script>
            </div>
            <table class="layui-hide layui-table" id="user_infoTab" lay-filter="user_infoTab"></table>
            <script type="text/html" id="user_info_Toolbar">
                <!--编辑权限标识判断-->
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:user:update") != -1){ }}
                <a class="layui-btn layui-btn-xs" lay-event="edit" id="supplier_edit">编辑</a>
                {{# } }}
                <!--删除权限判断-->
                {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:user:delete") != -1){ }}
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                {{# } }}
            </script>
            <script type="text/html" id="user_status">
                {{#  if(d.status ===1){ }}
                <input type="checkbox" checked="" name="open" lay-skin="switch" lay-text="已启用|禁用中" disabled>
                {{#  } else if (d.status ===0){ }}
                <input type="checkbox"  name="close" lay-skin="switch" lay-text="已启用|禁用中" disabled>
                {{#  } }}
            </script>
        </div>
    </div>
</div>


<script>
    layui.data.done = function (d) {
        layui.use('sys_user', layui.factory('sys_user')).use(['setter','sys_user','admin', 'table', 'index','element','jquery','form'], function(){
            var form = layui.form;
            form.render();
        });
        layui.use('mobileterminal',layui.factory('mobileterminal')).use(['mobileterminal'],function () {

        });
    }
</script>
