<title>用户信息管理</title>
<div class="layui-fluid">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" id="yonghuming">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="id" autocomplete="off" class="layui-input" id="user_uname">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="author" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">工号</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="orderTime">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-card" lay-filter="addInfo">
        <div class="layui-card-body">
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                <button class="layui-btn" id="userInfo_add" data-type="userInfo_add">新增</button>
                <button class="layui-btn" data-type="getCheckData">修改</button>
                <button class="layui-btn" data-type="isAll" id="user_look">查看</button>
                <button class="layui-btn" id="userInfo_set" data-type="userRole">设置</button>
            </div>
            <table class="layui-hide" id="user_infoTab"></table>
        </div>
    </div>

</div>


<script>
    layui.use(['admin', 'table', 'index','element','jquery','form'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var element = layui.element;
        var admin = layui.admin;
        var view = layui.view;

        var this_id = "";
        element.on('form(demo)', function(data){
            console.log(data);
            alert("1");
        });
        table.render({
            id:'userInfoTab',
            elem: '#user_infoTab'
            ,url: './json/infoManagement/customer_info.js'
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                {type:'checkbox'}
                ,{field:'id', title: '用户ID', sort: true}
                ,{field:'username', title: '用户名',sort: true} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'name', title: '姓名', sort: true}
                ,{field:'department', title: '部门', sort: true}
                ,{field:'position', title: '职称', sort: true}
                ,{field:'worknumber', title: '工号', align: 'center', sort: true} //单元格内容水平居中
                ,{field:'officephone', title: '办公电话', sort: true, align: 'right'} //单元格内容水平居中
                ,{field:'skype', title: 'Skype', sort: true, align: 'right'}
                ,{field:'email', title: 'Email', sort: true, align: 'right'}
                ,{field:'bankcode', title: '银码', sort: true}
                ,{field:'status', title: '状态', sort: true}
                ,{field:'founder', title: '创建人', sort: true}
                ,{field:'creattime', title: '创建时间', sort: true}
                ,{field:'modifier', title: '修改人', sort: true}
                ,{field:'edittime', title: '修改时间', sort: true}
            ]],
        });
        var active = {
            userInfo_add:function(){
                var that = this;
                var this_id = $(this).attr('id');
                //获取选取行的数据
                var checkStatus = table.checkStatus('userInfoTab'),
                data = checkStatus.data;
                data[0].this_id=this_id;
                var JsonData = JSON.stringify(data);
                console.log(JSON.stringify(data));
                // layer.alert(JSON.stringify(data));
                var arr = JSON.parse(JsonData);
                console.log(arr[0].test);
                layer.open({
                    type: 1,
                    title: 'User Info Management',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['669px', '600px'],
                    content:'<div id="editTest"></div>',
                    opreaId: 'thisid',
                    btn:false,
                    success: function (layero,index) {
                        view('editTest').render('/infoManagement/renderEdit/user_edit_render',{id:JsonData}).then(function (value) {
                            //视图文件请求完毕，视图内容渲染前的回调
                        }).done(function(){
                            //试图文件请求完毕和内容渲染完毕的回调
                            // form.render();
                        });
                    },
                    end: function () {
                        // window.location.reload();
                        // alert('1');
                        // form.render();
                    }
                });
            },
            userRole:function(){
                var that = this;
                var this_id = $(this).attr('id');
                var arr = [{this_id}];
                var JsonData = JSON.stringify(arr);
                layer.open({
                    type: 1,
                    title: 'User Info Management',
                    shadeClose: true,
                    shade: false,
                    maxmin: true,
                    area: ['516px', '432px'],
                    content:'<div class="layui-form" id="userRole"></div>',
                    btn:['确定','取消'],
                    success: function (layero,index) {
                        view('userRole').render('/infoManagement/renderEdit/user_edit_render',{id:JsonData}).then(function (value) {
                            //视图文件请求完毕，视图内容渲染前的回调
                        }).done(function(){
                            //试图文件请求完毕和内容渲染完毕的回调
                            form.render();
                        });
                    },
                });
            },
            getCheckData: function () { //获取表格选中的数据
                var checkStatus = table.checkStatus('userInfoTab'),
                data = checkStatus.data;
                data[0].test_id="这是一个测试！！！！";
                var JsonData = JSON.stringify(data);
                JsonData[0].testjsonID="这也是一个测试";
                console.log(JSON.stringify(data));
                layer.alert(JSON.stringify(data));
                var arr = JSON.parse(JsonData);//json转换为数组
                console.log(arr[0].name);//第一个数组里面对name
            //    在子页面直接获取到json显示出来到字符串以后，在js里新加一个json对象并转成数组，这样就能取值了

            }

        };

        $('.layui-btn').on('click',function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        })
        // $(document).click(function (e) {
        //     var checkStatus = table.checkStatus('userInfoTab');
        //     console.log(checkStatus.data);
        // })
    });
</script>
