<title>工程管理-评审初审</title>
<div class="layui-fluid">
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="tab-planToger">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="epcMana_pertSys" lay-filter="eqcMana_pertSys"></table>
                <script type="text/html" id="epcMana_pertSys_tb">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
                        <button class="layui-btn layui-btn-sm" lay-event="submit">提交</button>
                    </div>
                </script>
                <script type="text/html" id="epcMana_pertSys_tabbar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">修改</a>
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">详情</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('epcMana_pert_sys', layui.factory('epcMana_pert_sys')).use(['epcMana_pert_sys', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>