<title>编写指示卡</title>

<div class="layui-fluid">
    <input type="text" autocomplete="off" class="layui-input" placeholder="查询订单评审信息" style="display: none">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="orderReview_form">
        <div class="layui-form-item">
            <div class="layui-inline" id="orderReview_searll" style="display: none;">
                <label class="layui-form-label">查询：</label>
                <div class="layui-input-inline">
                    <select name="quiz" id="orderReview_searCriteria" lay-filter="orderReview-search-select">
                        <option value="">请选择</option>
                        <option value="P/N">P/N</option>
                        <option value="FileName">File Name</option>
                        <option value="OrderId">Order ID</option>
                        <option value="OrderTime">Order Time</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="P/N" id="orderReview_sinp" autocomplete="off" class="layui-input" placeholder="P/N">
                </div>
            </div>
            <!--电脑端-->
            <div class="layui-inline" id="orderReview_pcsear">
                <label class="layui-form-label">P/N：</label>
                <div class="layui-input-inline">
                    <input type="text" name="P/N" id="supplier_id" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">File Name：</label>
                <div class="layui-input-inline">
                    <input type="text" name="gerberName" id="supplier_companyName" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">Order ID：</label>
                <div class="layui-input-inline">
                    <input type="text" name="orderId" id="supplier_type" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">Order Time:</label>
                <div class="layui-input-inline">
                    <!--<input type="text" name="gmtCreate" class="layui-input">-->
                    <input type="text" name="gmtCreate" id="gmtCreate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-inline">
                    <select name="status" id="orderReview_statusSel">
                        <option value="">请选择状态</option>
                        <option value="1">评审</option>
                        <option value="2">修改中</option>
                        <option value="3">退回中</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-orderReview-search" style="margin-bottom: 3px;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="indicator_card_tab" id="indicator_card_tab">
        <ul class="layui-tab-title">
            <li class="layui-this" id="pcborders-li">PCB订单</li>
            <li id="stencilorders-li">钢网订单</li>
            <li id="smtorders-li">SMT订单</li>
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 0px;">
                <button class="layui-btn layui-btn-primary layui-btn-sm"  id="indicatorCard-operation">隐藏操作栏</button>
            </div>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="epc_Tabpcb_ok_payment_order" lay-filter="epc_Tabpcb_ok_payment_order"></table>
                <script type="text/html" id="pcb-file">
                    {{# var arr = d.gerberPath.slice(6,-1) }}
                    {{# d.gerberPath = arr }}
                    <a href="{{layui.setter.baseUrl1}}quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                    </a>
                </script>
                <script type="text/html" id="stencil-file">
                    {{# var arr = d.gerberPath.slice(6,-1) }}
                    {{# d.gerberPath = arr }}
                    <a href="{{layui.setter.baseUrl1}}/quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                    </a>
                </script>
                <script type="text/html" id="panelWay">
                    {{ d.panelWayX || ''}}
                    {{ if(d.panelWayY != null || d.panelWayY != ""){ }}
                    {{ d.panelWayY || ''}}
                    {{ } }}
                </script>
                <!--头部工具栏-->
                <script type="text/html" id="tbarIndcard">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="fileyzz">(资料)原始==>正式</button>
                    </div>
                </script>
                <script type="text/html" id="Tabtb-pcb-epc-indicatorCard-option">
                   
                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborderprocess:write") != -1){ }}
                        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="epc-write-indicator">编写指示卡</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborder:update") != -1 ){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="edit" id="supplier_edit">审核信息</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborderprocess:infos") != -1 ){ }}
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" id="supplier_search">查看</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborder:delete") != -1 ){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">作废</a>
                    {{#  } }}
                </script>
                <script type="text/html" id="Tabtb-pcb-epc-indicatorCard-status">
                   {{# if(d.status === 5){ }}
                    <a style="color: green">
                        {{# if(d.isExistIndicator === 2){ }}
                        <i class="layui-icon layui-icon-ok"></i>已编未审
                        {{# } else { }}
                        <i class="layui-icon layui-icon-ok"></i>未编未审
                        {{# } }} 
                    </a>
                    {{# } else if(d.status === 6){ }}
                    <a style="color: green">
                        {{# if(d.isExistIndicator === 2){ }}
                        <i class="layui-icon layui-icon-ok"></i>已编已审
                        {{# } else { }}
                        <i class="layui-icon layui-icon-ok"></i>未编已审
                        {{# } }} 
                    </a>
                    {{# } }}
                </script>
                <!--<button class="layui-btn layui-btn-sm indicatorAddFile" data-type="indicatorAddFile" ">添加客户资料</button>-->
                <script type="text/thml" id="quote_gerber_file">
                    {{# if(d.quoteGerberName === null){ }}
                        <a class="btn-fileupload btn-fileupload{{ d.id }}">
                            <span class="fileupload-btn">
                                <i class="layui-icon layui-icon-add-1"></i>
                                <span id="uploadFile_name">
                                    添加客户资料
                                </span>
                                <input type="file" class="filewareFile filewareFile{{ d. id }}" name="file" multiple/>
                            </span>
                        </a>
                        <div class="cc uploadPercentage{{ d.id }}">
                            <i class="layui-icon layui-anim layui-anim-rotate layui-anim-loop">&#xe63e;</i>
                            上传中....
                            <a>0%</a>
                        </div>
                    {{# } else{ }}
                    {{d.quoteGerberName}}
                    {{# } }}
                </script>
            </div>

            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="epc_Tabstencil_ok_payment_order" lay-filter="epc_Tabstencil_ok_payment_order"></table>
                <script type="text/html" id="Tabtb-stencil-epc-indicatorCard-option">

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborderprocess:write") != -1){ }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="epc-write-indicator">编写指示卡</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborder:update") != -1 ){ }}
                    <a class="layui-btn layui-btn-xs" lay-event="edit">审核信息</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborderprocess:infos") != -1 ){ }}
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                    {{#  } }}

                    {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("epc:pcborder:delete") != -1 ){ }}
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">作废</a>
                    {{#  } }}
                </script>
            </div>
        </div>
    </div>
</div>

<style>
    #orderReview_form {background-color: white;}
    #orderReview_form .layui-input, .layui-textarea {width:142% !important;}
    #orderReview_form .layui-form-label {width: 100px !important;}
    #orderReview_form .layui-form-item .layui-input-inline{width: 80px !important;}
    #orderReview_searchbtn {margin-left: 25px;}
    #orderReview_form .layui-form-select .layui-edge{right: -20px;}
    #orderReview_form .layui-form-select dl{min-width: 142% !important;}
    #orderReview_card {background-color: white;}
    @media screen and (max-width: 800px) {
        #orderReview_form .layui-input, .layui-textarea {
            width: 240% !important;
            margin-left: -4px;
        }

        #orderReview_form .layui-form-label {
            width: 80px !important;
        }

        #orderReview_form .layui-form-select .layui-edge {
            right: -86px
        }
        #orderReview_form .layui-form-select dl{
            width: 240% !important;
        }
        #orderReview_form .layui-form-item:last-child{
            margin-left: -20px;
        }
        #orderReview_searchbtn{
            margin-left: 105px;
            width: 57%;
        }
        #orderReview_form.layuiadmin-card-header-auto{
            padding-bottom: 0;
        }
    }

    i.layui-anim{display:inline-block}
    #pcbfile-i:hover{color: #1E9FFF;cursor: pointer;}
    /*上传文件*/
    .fileupload-btn{position: relative;cursor: pointer;}
    .filewareFile{position: absolute;opacity: 0;left: -3px;height: 54px;width: 82px;}
    a.btn-fileupload {background-color: rgb(255, 86, 4);color: #ffffff;padding: 5px;border-radius: 3px;font-size: 0.7em;}
    .cc{float: left;font-size: 0.9em;background-color: #00FF00;width: 100%;display: none;}
</style>

<script>
    layui.use('epc_indicatorCard', layui.factory('epc_indicatorCard')).use(['epc_indicatorCard', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>
