<div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="common-import-order-form-list">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">产品型号</label>
            <div class="layui-input-inline">
              <input type="text" name="productNo" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">订单类型</label>
            <div class="layui-input-block">
                <select name="orderType" lay-filter="interior-order-search2">
                    <option value="">请选择</option>
                    <option value="1">新单</option>
                    <option value="2">返单</option>
                    <option value="3">返单有改</option>
                </select>
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-common-import-order-form-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
            <button class="layui-btn layuiadmin-btn-list layui-btn-danger layui-hide" data-type="drsjyc" id="drsjyc">导入数据隐藏</button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <table id="LAY-common-import-order-table-list" lay-filter="LAY-common-import-order-table-list"></table>
        <script type="text/html" id="order_type_import">
            {{#  if(d.orderType =='1'){ }}
            <a style="color: green;">新单</a>
            {{#  } else if (d.orderType == '2'){ }}
            <a>返单</a>
            {{#  } else{ }}
            <a>返单有改</a>
            {{# } }}
        </script>
      </div>
    </div>
  </div>

  <script>
  layui.use(['admin', 'table', 'form'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,view = layui.view
    ,table = layui.table
    ,setter = layui.setter
    ,form = layui.form;

    let ddd = [];
    pullTable(ddd); 
    form.render(null, 'common-import-order-form-list');
    
    //监听搜索
    form.on('submit(LAY-common-import-order-form-search)', function(data){
        var field = data.field;
        //发送请求
        // console.log(field);   
        admin.req({
            type: 'post'
            ,url: setter.baseUrl+'epc/pcborder/list'       // 需要修改成退回的接口
            ,data:field
            ,done: function (res) {
                if(res.code === 0){
                    ddd = res.page.list;
                    pullTable(res.page.list);
                    // table.render('LAY-common-import-order-table-list');
                }
            }
            ,fail: function (res) {
                layer.msg('服务器异常，稍后再试！');
                bool = false;
            }
        })
      
    });

    //查询出的结果用table显示
    function pullTable(ddd){
        table.render({
            elem: '#LAY-common-import-order-table-list'
            ,data: ddd
            ,totalRow: false
            ,cellMinWidth: 90
            ,cols: [[
                {type: 'radio',fixed: 'left'}
                ,{field: 'productNo',  title: '客户编号', align:'center'}
                ,{field: 'orderType', title: "订单类型", align:'center', templet: '#order_type_import'}
                ,{field: 'gmtCreate', title: '创建时间', align:'center'}
            ]]
        });
    }
   
   

  });
  </script>