<div class="customer-add-addr">
    <script type="text/html" template lay-done="layui.data.done(d);">
    <form class="layui-form" layui-filter="customer-add-addr-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">公司名</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverCompany" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货人</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货电话</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverTelephone" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货国家</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverCountry" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收货城市</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverCity" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">邮箱编码</label>
                <div class="layui-input-inline">
                    <input type="text" name="receiverPostcode" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">详细地址</label>
                <div class="layui-input-inline">
                    <textarea type="text" name="receiverAddress" autocomplete="off" class="layui-input" style="height: 90px;"></textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">快递名</label>
                <div class="layui-input-inline">
                    <input type="text" name="courierName" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">快递账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="courierAccount" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="addcus-cusNum layui-col-md3">
                <label class="layui-form-label">默认地址：</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="isDefault" lay-skin="primary" title="">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input type="button" lay-submit lay-filter="customer-add-addr-submit" value="确认" class="layui-btn" style="display: ;" id="customer-add-addr-submit">
            </div>
        </div>
    </form>
    </script>
</div>

<script>
    layui.data.done = function(d){
        layui.use(['form'], function(){
            var $ = layui.$
            ,admin = layui.admin;
            var form = layui.form
            form.render();
        });
    }
</script>