<title>Add Customer Quote Config</title>
<div class="layui-fluid">
    <form class="layui-form edit-cusInfo" lay-filter="sys-dict-form">
        <div class="layui-form-item">
            <div class="addcus-email layui-col-md6">
                <script type="text/html" template>
                <label class="layui-form-label">菜单名：</label>
                <div class="layui-input-block">
                    <input type="text" name="tableName" class="layui-input"  id="imgtalk" value="{{ d.params.tableName || '' }}"/>
                </div>
                </script>
            </div>
            <div class="addcus-email layui-col-md6">
                <script type="text/html" template>
                <label class="layui-form-label">字段名：</label>
                <div class="layui-input-block">
                    <input type="text" name="fileName" class="layui-input"  id="imgtalk" value="{{ d.params.fileName || '' }}"/>
                </div>
                </script>
            </div>
            
        </div>
        <div class="layui-form-item">
            <div class="addcus-email layui-col-md6">
                <script type="text/html" template>
                <label class="layui-form-label">键：</label>
                <div class="layui-input-block">
                   <input type="text" name="dictKey" class="layui-input"  id="imgtalk" value="{{ d.params.dictKey || '' }}"/>
                </div>
                </script>
            </div>
            <div class="addcus-email layui-col-md6">
                <script type="text/html" template>
                <label class="layui-form-label">值：</label>
                <div class="layui-input-block">
                    <input type="text" name="dictValue" class="layui-input" value="{{ d.params.dictValue || '' }}">
                </div>
                </script>
            </div>
        </div>

        <script type="text/html" template>
            <input type="hidden" name="dictId" value="{{ d.params.dictId || '' }}">
        </script>   

        <div class="layui-form-item">
          <label class="layui-form-label"></label>
          <div class="layui-input-inline">  
            <input type="button" lay-submit lay-filter="sys-dict-form-submit" value="确认" class="layui-btn" style="display: none;" id="sys-dict-form-submit">
          </div>
        </div>
    </form>
</div>
<!-- <style>
   .edit-cusInfo .layui-input-block {margin-top: 10px;}
   .layui-layout-body {overflow: scroll;} /**防止隐藏**/
</style> -->

<script type="text/javascript">
    layui.data.done = function(d){
        layui.use(['form'], function(){
            var $ = layui.$
            ,form = layui.form
            ,admin = layui.admin
            form.render(null, 'sys-dict-form');
        });

    }
</script>
