<title>添加/修改菜单</title>
<script type="text/html" template>
    <input type="text" name="addMenu_sign" value="{{ d.params.type}}" style="display: none"/>
</script>

<div class="layui-fluid">
    <div class="layui-tab layui-tab-brief" lay-filter="menu_tab">
        <ul class="layui-tab-title">
            <li id="menuAdd_tabDir">目录</li>
            <li id="menuAdd_tabMenu">菜单</li>
            <li id="menuAdd_tabBtn">按钮</li>
        </ul>
        <div class="layui-tab-content">
            <!--目录-->
            <div class="layui-tab-item" id="menu_tabDir">
                <form class="layui-form" lay-filter="user_menuAdd_form" id="user_menuAdd_form" style="width: 650px">
                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label"><span class="mandatory">*</span>目录名称：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="title" value="{{ d.params.title || '' }}" autocomplete="off" class="layui-input" id="menuAdd_dirname">
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label"><span class="mandatory">*</span>上级菜单：</label>
                            <div class="layui-input-block">
                                <script type="text/html" name="menuup" template lay-url="http://192.168.0.155:8080/renren-fast/sys/menu/erpselect" lay-done="layui.data.done(d);">
                                    <select name="parentId" id="menuAdd_menuup" lay-filter="LAY-menu-dir-submit">
                                        <option>请选择上级菜单</option>
                                        {{#  layui.each(d.menuList, function(index, item){ }}
                                        <option name="{{ item.menuId }}">{{ item.title }}</option>
                                        {{#  }); }}
                                        {{#  if(d.menuList.length === 0){ }}
                                        无数据
                                        {{#  } }}
                                    </select>
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md6">
                            <label class="layui-form-label">排序号：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="number" name="orderNum" value="{{ d.params.orderNum || '' }}" autocomplete="off" class="layui-input" id="menuAdd_ordernum">
                                </script>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">菜单图标：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="icon" value="{{ d.params.icon || '' }}" autocomplete="off" class="layui-input" id="menuAdd_icon">
                                </script>
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item layui-col-md-offset2">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="LAY-menu-add-submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--菜单-->
            <div class="layui-tab-item">
                <form class="layui-form" lay-filter="user_menuMe_form" id="user_menuMe_form" style="width: 650px">
                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label"><span class="mandatory">*</span>菜单名称：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="title" value="{{ d.params.title || '' }}" autocomplete="off" class="layui-input" id="menuAdd_name">
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label"><span class="mandatory">*</span>上级菜单：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template lay-url="http://192.168.0.155:8080/renren-fast/sys/menu/erpselect" lay-done="layui.data.done(d);">
                                    <select name="parentId" id="menuAdd_menuTs" lay-filter="LAY-menu-men-submit">
                                        <option>请选择上级菜单</option>
                                        {{#  layui.each(d.menuList, function(index, item){ }}
                                        <option name="{{ item.menuId }}">{{ item.title }}</option>
                                        {{#  }); }}
                                        {{#  if(d.menuList.length === 0){ }}
                                        无数据
                                        {{#  } }}
                                    </select>
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label">菜单路由：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="jump" value="{{ d.params.jump || ''}}" autocomplete="off" class="layui-input" id="menuAdd_tjump">
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md">
                            <label class="layui-form-label">授权标识：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="perms" value="{{ d.params.perms || ''}}" autocomplete="off" class="layui-input" id="menuAdd_permissions">
                                </script>

                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md6">
                            <label class="layui-form-label">排序号：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="number" name="orderNum" value="{{ d.params.orderNum || ''}}" autocomplete="off" class="layui-input" id="menuAdd_otrdernum">
                                </script>
                            </div>
                        </div>
                        <div class="layui-col-md6">
                            <label class="layui-form-label">菜单图标：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="icon" value="{{ d.params.icon || ''}}" autocomplete="off" class="layui-input" id="menuAdd_ticon">
                                </script>
                            </div>
                        </div>
                    </div>


                    <div class="layui-form-item layui-col-md-offset2">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="LAY-menu-me-submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--按钮-->
            <div class="layui-tab-item">
                <form class="layui-form" lay-filter="user_menuBtn_form" id="user_menuBtn_form" style="width: 650px">
                    <div class="layui-form-item">
                        <div class="layui-col-md">
                            <label class="layui-form-label"><span class="mandatory">*</span>按钮名称：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="title" value="{{ d.params.title || ''}}" autocomplete="off" class="layui-input" id="menuAdd_btn">
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md12">
                            <label class="layui-form-label" id="btnSjmenu"><span class="mandatory">*</span>上级菜单：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template lay-url="http://192.168.0.155:8080/renren-fast/sys/menu/erpselect" lay-done="layui.data.done(d);">
                                    <select name="parentId" id="menuAdd_tabsbtn" lay-filter="LAY-menu-btn-submit">
                                        <option>请选择上级菜单</option>
                                        {{#  layui.each(d.menuList, function(index, item){ }}
                                        <option name="{{ item.menuId }}">{{ item.title }}</option>
                                        {{#  }); }}
                                        {{#  if(d.menuList.length === 0){ }}
                                        无数据
                                        {{#  } }}
                                    </select>
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-col-md">
                            <label class="layui-form-label">授权标识：</label>
                            <div class="layui-input-block">
                                <script type="text/html" template>
                                    <input type="text" name="perms" value="{{ d.params.perms || ''}}" autocomplete="off" class="layui-input" id="menuAdd_thpermissions">
                                </script>
                            </div>
                        </div>
                    </div>



                    <div class="layui-form-item layui-col-md-offset2">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="LAY-menu-btn-submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    </form>
</div>
<style>
    .mandatory{color: red;}
</style>

<script>
    layui.data.done = function(d){
        layui.use(['form'], function(){
            var $ = layui.$
            var form = layui.form;
            form.render(null, 'user_menuAdd_form'); //渲染该模板下的动态表单
            form.render(null, 'user_menuMe_form'); //渲染该模板下的动态表单
            form.render(null, 'user_menuBtn_form'); //渲染该模板下的动态表单

            //jquery事件
            //判断编辑菜单的类型start
            var addMenu_sign = $("input[name='addMenu_sign']").val();
            if (addMenu_sign == "0"){
                $(".layui-tab .layui-tab-title #menuAdd_tabDir").addClass("layui-this");
                $("#menuAdd_tabDir").click();
            } else if (addMenu_sign == "1"){
                $(".layui-tab .layui-tab-title #menuAdd_tabMenu").addClass("layui-this");
                $("#menuAdd_tabMenu").click();
            } else if (addMenu_sign == "2"){
                $(".layui-tab .layui-tab-title #menuAdd_tabBtn").addClass("layui-this");
                $("#menuAdd_tabBtn").click();
            }
            //判断编辑菜单的类型end


        });
    };
</script>
