
<div class="layui-form" lay-filter="layuiadmin-sys-quoteconfig-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">平米</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllAreaParameter" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="areaSq" lay-verify="required">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.areaSqId == item.id ? 'selected' : ''}} >{{ item.areaParameterName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">加急类型</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllUrgentType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="urgentType" lay-verify="required">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.urgentTypeId == item.id ? 'selected' : ''}}>{{ item.urgentType }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-col-md6">
            <label class="layui-form-label">基材</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllPcbType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="pcbtype" lay-verify="required">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.pcbTypeId == item.id ? 'selected' : ''}}>{{ item.pcbTypeName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
        </div>
        <div class="layui-col-md6">
            <label class="layui-form-label">层数</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllLayerNumber" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="layerNum" lay-verify="required">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.layerNumId == item.id ? 'selected' : ''}}>{{ item.layerNum }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <dov class="layui-col-md6">
            <label class="layui-form-label">参数类型</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllParameterType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="parameterType" lay-verify="required" lay-filter="pt">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.parameterTypeId == item.id ? 'selected' : ''}}>{{ item.parameterTypeName }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>
            </div>
        </dov>
        <dov class="layui-col-md6">
            <label class="layui-form-label">参数</label>
            <div class="layui-input-inline">
                <select name="parameterName" lay-verify="required" lay-filter="pn" id="pn">
                    <option value="0"></option>
                </select>    
            </div>
        </dov>
    </div>
    <div class="layui-form-item">
        <dov class="layui-col-md6">
            <label class="layui-form-label">判断</label>
            <div class="layui-input-inline">
                <select name="" lay-verify="required">
                    <option value="=">=</option>
                </select>    
            </div>
        </dov>
        <dov class="layui-col-md6">
            <label class="layui-form-label">参数值</label>
            <div class="layui-input-inline">
                <select name="parameter" lay-verify="required" lay-filter="pa" id="pa">
                    <option value="0"></option>
                </select>    
            </div>
        </dov>
    </div>
    <div class="layui-form-item">
        <dov class="layui-col-md6">
            <label class="layui-form-label">加价类别</label>
            <div class="layui-input-inline">
                <script type="text/html" template lay-url="{{layui.setter.imUrl}}getAllPremiumType" lay-done="layui.data.done(d);" lay-type="post">
                    <select name="premiumType" lay-verify="required" lay-filter="h">
                        {{# 
                            layui.each(d.data, function(index, item){   
                        }}
                        <option value="0"></option>
                        <option value="{{ item.id || ''}}" {{ d.params.premiumTypeId == item.id ? 'selected' : ''}}>{{ item.premiumType }}</option>
                        {{#  }); }}
                        {{#  if(d.data.length === 0){ }}
                        无数据 
                        {{#  } }}
                    </select>    
                </script>    
            </div>
        </dov>
        <dov class="layui-col-md6">
            <label class="layui-form-label">价格</label>
            <div class="layui-input-inline">
                <script type="text/html" template >
                    <input class="layui-input" type="text" name="quote" value="{{d.params.quote || ''}}">
                </script>    
            </div>
        </dov>
    </div>
    <script type="text/html" template>
      <input type="hidden" name="id" value="{{ d.params.id || '' }}">
    </script>
    <div class="layui-form-item layui-hide">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
        <input type="button" lay-submit lay-filter="layuiadmin-sys-quoteConfig-form-submit" value="确认" class="layui-btn" id="sys-quoteConfig-form-submit">
      </div>
    </div>
</div>


<script>
    layui.data.done=function(d){
        layui.use(['admin', 'table', 'util','form'],function(){
            var $ = layui.$
                ,admin = layui.admin
                ,setter = layui.setter
                ,table = layui.table
                ,element = layui.element
                ,form = layui.form;
            form.render(null,'layuiadmin-sys-quoteconfig-form-list');

            //监听参数类型切换
            form.on('select(pt)',function(data){
                $.get(setter.imUrl+"getAllParameter",{parameterTypeId:data.value},function(data){
                    $("select[name='parameterName']").empty();
                    $("select[name='parameterValue']").empty();
                    var h;
                    $.each(data.data, function (i, d) {
                        h += "<option value='" + d.id + "'>" + d.parameterName + "</option>";
                    });
                    $("select[name='parameterName']").html(h);
                    form.render();
                });
            });
            
            //监听参数切换
            form.on('select(pn)',function(data){
                $.get(setter.imUrl+"getAllParameterValue",{parameterId:data.value},function(data){
                    var _this = $("select[name='parameter']");
                    _this.empty();
                    var h;
                    $.each(data.data, function (i, d) {
                               h += "<option value='" + d.id + "'>" + d.parameterValue + "</option>";
                    });
                    $("select[name='parameter']").append(h);
                    form.render();
                });
            });
            
        });
    }
</script>
