<title>Edit User Role</title>
<div class="layui-fluid">
    <form class="layui-form">
        <div class="user_dep layui-col-md12">
            <label class="layui-form-label">部门：</label>
        </div>
        <div class="user_dep_list layui-input-block">
            <input type="radio" name="user_dep" value="" title="技术部" checked>
            <input type="radio" name="user_dep" value="" title="供应链">
            <input type="radio" name="user_dep" value="" title="运营部">
        </div>
        <div class="user_pos layui-col-md12">
            <label class="layui-form-label">职称：</label>
        </div>
        <div class="user_dep_list layui-input-block">
            <input type="radio" name="user_pos" value="" title="工程师" checked>
            <input type="radio" name="user_pos" value="" title="经理">
            <input type="radio" name="user_pos" value="" title="跟单员">
            <input type="radio" name="user_pos" value="" title="副总">
            <input type="radio" name="user_pos" value="" title="总经理">
        </div>
    </form>
</div>

<script>
    // 加载模块
    //如果向后台接口发送post发送数据，可以在这个页面向后台接口发送表单数据，iframe层创建ajax方法
    layui.use(['admin', 'table','index','form','jquery'], function(){
        var $ = layui.$ ;
        var form = layui.form;

    });
</script>
