<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-form">
            <button class="layui-btn">
                <i class="layui-icon layui-icon-add-1"></i> 增加
            </button>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">部门</div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-skin="nob">
                            <tr>
                                <td>
                                    <input type="radio" name="dep"> 技术部
                                </td>
                                <td>
                                    <input type="radio" name="dep"> 供应链
                                </td>
                                <td>
                                    <input type="radio" name="dep"> 运营部
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">职称</div>
                    <div class="layui-card-body">
                        <table class="layui-table" lay-skin="nob">
                            <tr>
                                <td>
                                    <input type="radio" name="zc" title="总经理">
                                </td>
                                <td>
                                    <input type="radio" name="zc" title="经理">
                                </td>
                                <td>
                                    <input type="radio" name="zc" title="跟单员">
                                </td>
                                <td>
                                    <input type="radio" name="zc" title="副总">
                                </td>
                                <td>
                                    <input type="radio" name="zc" title="工程师">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .layui-table tr:hover{background-color: red;}
</style>

<script>
    layui.use(['admin', 'table','form'], function(){
        var table = layui.table
            ,admin = layui.admin;
        var form = layui.form;

    });
</script>