<title>财务管理-订单利润</title>
<div class="layui-fluid">
    <!--卡片－表格信息-->
    <div class="layui-form layui-card-header layuiadmin-card-header-auto order-profits-form-search" lay-filter="app-content-comment">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">内部型号</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNo" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="order-profits-mangement-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="layui-tab layui-tab-brief" lay-filter="tab-profitsToger">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="finManaOrderProfit_tabPcb" lay-filter="finManaOrderProfit_tabPcb"></table>
               <!--  <script type="text/html" id="finManaOrderProfit_tb">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="submit">供应商对账</button>
                    </div>
                </script> -->
                <script type="text/html" id="finManaOrderProfit_tbar">
                    <!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</a> -->
                    <!-- <a class="layui-btn layui-btn-xs" lay-event="search">查看</a> -->
                    <!-- <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a> -->
                </script>
            </div>
            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="finManaOrderProfit_tabSmt" lay-filter="finManaOrderProfit_tabSmt"></table>
            </div>
            <!--贴片订单-->
            <div class="layui-tab-item">
                <table class="layui-table"></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('finMana_order_profits', layui.factory('finMana_order_profits')).use(['finMana_order_profits', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>