<div class="layui-fluid" style="width: 750px;">
    <form class="layui-form edit-cusInfo" lay-filter="paypal_log_add_edit_form" id="paypal_log_binding_order_form">
        <div class="layui-form-item">
            <div class="addcus-cusNum layui-col-md12">
                <label class="layui-form-label">订单号信息：</label>
                <div class="layui-input-block">
                    <script type="text/html" template lay-url="{{layui.setter.baseUrl}}paypal/paylog/allProductNo" lay-done="layui.data.done(d);">
                    {{#
                    var plist = d.params.roleIdList;
                    layui.each(d.data, function(index, item){
                    }}
                    <input type="checkbox" name="productNoList[]" lay-skin="primary" title="{{ item.productNo }}" value="{{ item.id }}-{{item.productNo}}-{{item.pt}}" >
                    {{#  }); }}
                    {{#  if(d.data.length === 0){ }}
                    无数据
                    {{#  } }}
                    </script>
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-col-md-offset2" style="display: none;">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="LAY-paypal-log-binding-order-submit" id="paypalLogBindingOrderSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>
<style>
    /*.edit-cusInfo .layui-input-block {margin-top: 10px;}*/
    .layui-layout-body {overflow: scroll;} /**防止隐藏**/
    input[name="evaluateDdelivery"],input[name="evaluateQuality"],input[name="evaluateCompatibility"],input[name="evaluateRate"]{display: none;}
    .supedit-nbfl .layui-input-block {margin-left: 0;margin-top: 0;}

</style>
<script>
layui.data.done = function(d){
    layui.use(['admin', 'table', 'index','element','form','rate','upload', 'filePathProcess'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var element = layui.element;
        var upload = layui.upload;
        var rate = layui.rate;
        var admin = layui.admin;
        var filepathprocess = layui.filePathProcess;
        var laydate = layui.laydate;
        form.render(null, 'paypal_log_add_edit_form');

        laydate.render({
            elem: '#PayPalLogProductionTime'
        });
    });
}
</script>
