<div class="layui-fluid" style="width: 750px;">
    <form class="layui-form edit-cusInfo" lay-filter="paypal_log_add_edit_form" id="paypal_log_add_edit_form">
        <div class="layui-form-item">
            <div class="addcus-cusNum layui-col-md6">
                <label class="layui-form-label">交易id：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="txnId" value="{{ d.params.txnId || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="addcus-cusPWd layui-col-md6">
                <label class="layui-form-label">付款时间：</label>
                <div class="layui-input-block">
                    <script type="text/html" template lay-done="layui.data.done(d);">
                    <input type="text" name="paymentDate" value="{{ d.params.paymentDate || ''}}" id="PayPalLogProductionTime" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="addcus-merchandiser layui-col-md12">
                <label class="layui-form-label">付款人email：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="payerEmail" value="{{ d.params.payerEmail || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="addcus-cusCom layui-col-md6">
                <label class="layui-form-label">付款人姓：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="firstName" value="{{ d.params.firstName || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="addcus-tel layui-col-md6">
                <label class="layui-form-label">付款人名：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="lastName" value="{{ d.params.lastName || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            
        </div>
        <div class="layui-form-item">
            <div class="addcus-skype layui-col-md6">
                <label class="layui-form-label">交易金额：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="mcGross" value="{{ d.params.mcGross || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
            <div class="addcus-email layui-col-md6">
                <label class="layui-form-label">手续费：</label>
                <div class="layui-input-block">
                    <script type="text/html" template>
                        <input type="text" name="paymentFee" value="{{ d.params.paymentFee || ''}}" autocomplete="off" class="layui-input">
                    </script>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <script type="text/html" template>
            <div class="layui-col-md12">
                <label class="layui-form-label">绑定信息：</label>
                <div class="layui-input-block">
                    <input type="text" name="custom" value="{{d.params.custom || ''}}" class="layui-input" autocomplete="off">  
                </div>
            </div>
            </script>
        </div>


        <div class="layui-form-item layui-col-md-offset2" style="display: none;">
            <div class="layui-input-block">
                <button class="layui-btn" type="button" lay-submit lay-filter="LAY-paypal-log-submit" id="paypalLogSubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>
<style>
    /*.edit-cusInfo .layui-input-block {margin-top: 10px;}*/
    .layui-layout-body {overflow: scroll;} /**防止隐藏**/
    input[name="evaluateDdelivery"],input[name="evaluateQuality"],input[name="evaluateCompatibility"],input[name="evaluateRate"]{display: none;}
    .supedit-nbfl .layui-input-block {margin-left: 0;margin-top: 0;}

</style>
<script>
layui.data.done = function(d){
    layui.use(['admin', 'table', 'index','element','form','rate','upload', 'filePathProcess'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var element = layui.element;
        var upload = layui.upload;
        var rate = layui.rate;
        var admin = layui.admin;
        var filepathprocess = layui.filePathProcess;
        var laydate = layui.laydate;
        form.render(null, 'supplierAdd_form');

        laydate.render({
            elem: '#PayPalLogProductionTime'
        });
    });
}
</script>
