<link href="../../../src/style/formSelects-v4.css" rel="stylesheet" />
<div class="layui-fluid index-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12" style="height: 310px;">
          <div class="layui-card">
            <div class="layui-card-header">年/月目标</div>
            <div class="layui-card-body">
              <div class="layui-carousel layadmin-carousel layadmin-backlog" style="height: unset !important;">
                <script type="text/html" template lay-url="{{layui.setter.baseUrl}}allGraphs/businessTarget" lay-done="layui.data.done(d);">
                  {{#
                    if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:index:target") != -1){
                  }}
                  <div carousel-item>
                      <ul class="layui-row layui-col-space10">
                        <div style="text-align: center">
                          <h2>总目标</h2>
                        </div>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>月目标款数</h3>
                            <p><cite>{{d.data.monthOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{d.data.monthDoneOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>年目标款数</h3>
                            <p><cite>{{d.data.yearOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{d.data.yearDoneOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3" style="white-space: nowrap;">
                          <a class="layadmin-backlog-body">
                            <h3>月目标销售额</h3>
                            <p><cite>{{d.data.monthSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{d.data.monthDoneSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>年目标销售额</h3>
                            <p><cite>{{d.data.yearSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{d.data.yearDoneSales}}</cite></p>
                          </a>
                        </li>
                      </ul>

                      {{#
                          layui.each(d.list, function(index, item){
                      }}
                      <ul class="layui-row layui-col-space10">
                        <div style="text-align: center">
                          <h2>{{item.name}}</h2>
                        </div>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>月目标款数</h3>
                            <p><cite>{{item.monthOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{item.monthDoneOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>年目标款数</h3>
                            <p><cite>{{item.yearOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{item.yearDoneOrderNumber}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3" style="white-space: nowrap;">
                          <a class="layadmin-backlog-body">
                            <h3>月目标销售额</h3>
                            <p><cite>{{item.monthSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{item.monthDoneSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>年目标销售额</h3>
                            <p><cite>{{item.yearSales}}</cite></p>
                          </a>
                        </li>
                        <li class="layui-col-xs3">
                          <a class="layadmin-backlog-body">
                            <h3>完成</h3>
                            <p><cite>{{item.yearDoneSales}}</cite></p>
                          </a>
                        </li>
                      </ul>
                      {{# }); }}
                  </div>
                  {{# } }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

            <div class="layui-col-md12" style="margin-top: 20px;padding: unset;width: 100%;">
              <div class="layui-row layui-col-space15" style="padding: unset;width: 100%;">
                <div class="layui-col-md12">
                  <div class="layui-card">
                    <div class="layui-card-header tjbt-header">
                      统计年份
                      <select name="currYears" id="currYears" xm-select="currYears" xm-select-radio  xm-select-search="" xm-select-search-type="dl">
                        <option value=""></option>
                      </select>
                    </div>
                    {{#
                    if(layui.sessionData('layuiAdmin').permissions.indexOf("sys:index:target") != -1){
                    }}
                    <div class="layui-card-body" style="padding: unset;width: 100%;">
                      <div class="layui-carousel layadmin-carousel layadmin-dataview" data-anim="fade" lay-filter="LAY-index-dataview">
                        <div carousel-item id="LAY-index-dataview">
                          <div><i class="layui-icon layui-icon-loading1 layadmin-loading"></i></div>
                          <div></div>
                          <div></div>
                          <div></div>
                        </div>
                      </div>
                    </div>
                    {{# } }}
                  </div>
                </div>
              </div>
            </div>
        </script>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<script>
layui.data.done = function(d){
  layui.use('console', layui.factory('console'));
};
</script>

<style>
  .tjbt-header {display: flex;}
  .tjbt-header .xm-form-select {margin: 3px;}
  /*手机端样式调整*/
  .layadmin-backlog .layadmin-backlog-body {height: 68px;}
  @media screen and (max-width: 450px) {
    .layadmin-backlog-body p>cite{font-size: 15px;}
    .layadmin-backlog-body p{padding: 0 0 0px 3px;}
    .layadmin-backlog-body h3 {width: 59px;text-overflow: ellipsis;overflow: hidden;}
    .layadmin-backlog .layadmin-backlog-body{overflow: hidden;white-space: nowrap;padding: 10px 4px;}
    .layui-card-body{padding: 0 ;}
    .layui-card-body .layui-col-md12,.index-fluid{padding: unset;}
  }
</style>