<div class="layui-fluid">
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief">
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <script type="text/html" template>
                    {{# console.log(d.params); if (d.params.typeOpen == 'assign'){ }}
                    <form class="layui-form">   
                        <div class="layui-form-item">
                            <label class="layui-form-label">内部型号:</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" readonly value="{{ d.params.productNo || '' }}">
                            </div>
                            <label class="layui-form-label">难易度:</label>
                            <div class="layui-input-inline">
                                {{# if(d.params.difficultyLevel == '1'){ }}
                                    {{# d.params.difficultyLevel = '简单样板' }}
                                {{# }else if(d.params.difficultyLevel == '2'){ }}
                                    {{# d.params.difficultyLevel = '复杂样板' }}
                                {{# }else if(d.params.difficultyLevel == '3'){ }}
                                    {{# d.params.difficultyLevel = '简单批量' }}
                                {{# }else if(d.params.difficultyLevel == '4'){ }}
                                    {{# d.params.difficultyLevel = 'HDI' }}
                                {{# }else if(d.params.difficultyLevel == '5'){ }}
                                    {{# d.params.difficultyLevel = '软板' }}
                                {{# }else if(d.params.difficultyLevel == '6'){ }}
                                    {{# d.params.difficultyLevel = '复杂批量' }}
                                {{# }else if(d.params.difficultyLevel == '7'){ }}
                                    {{# d.params.difficultyLevel = '铝基板' }}
                                {{# } else{ }}
                                {{# d.params.difficultyLevel = '' }}
                                {{# } }}
                                <input type="text" class="layui-input" readonly value="{{ d.params.difficultyLevel || '' }}">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">工程备注:</label>
                            <div class="layui-input-inline" style="width: 62%;">
                                <input type="text" class="layui-input" readonly value="{{ d.params.engineeringRemark || '' }}">
                            </div>
                        </div>
                    </form>
                    {{# } else { }}
                     <!-- <h2> 已选中：<h2>
                         {{# layui.each( d.params , function(index, item){  }}
                            <h2>{{# item.productNo }}</h2>
                         {{# }) }} -->
                    {{# } }}
                </script>
                <script type="text/html" template>
                <form class="layui-form assign-supplier-searchform">
                    <div class="layui-form-item">
                        <label class="layui-form-label" style="width: 56px;">编号:</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="supplierId">
                        </div>
                        <label class="layui-form-label" style="width: 56px;">公司名:</label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="companyName">
                        </div>
                        <button class="layui-btn layui-btn-primary" lay-submit type="button" lay-filter="assign_supplier_search">
                            <i class="layui-icon layui-icon-search"></i>
                        </button>
                    </div>
                </form>
                </script>
                <table class="layui-table" id="scm_assign_supplier_table" lay-filter="scm_assign_supplier_table"></table>
                <script type="text/html" template id="scm_ogstrengths">
                {{# if(d.strengths == '1'){ }}
                简单样板
                {{# }else if(d.strengths == '2'){ }}
                复杂样板
                {{# }else if(d.strengths == '3'){ }}
                简单批量
                {{# }else if(d.strengths == '4'){ }}
                HDI
                {{# }else if(d.strengths == '5'){ }}
                软板
                {{# }else if(d.strengths == '6'){ }}
                复杂批量
                {{# } }}
                </script>
                <script type="text/html" id="supplierTableToolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" type="button" lay-event="getCheckData" id="assignSupplierTbData" style="display: none;">获取选中行数据</button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>

<style>
    .assign-supplier-searchform{
        background-color: #f2f2f2;
        z-index: 999;
        position: absolute;
        margin-top: 18px;
    }
    .assign-supplier-searchform .layui-form-item{margin-bottom: unset;}
</style>
