<title>供应链管理-外发报价</title>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="scm-outgoing-quote-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">聚谷编号：</label>
                    <div class="layui-input-block">
                        <input type="text" name="productNo" id="supplier_id" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">文件名：</label>
                    <div class="layui-input-block">
                        <input type="text" name="gerberName" id="supplier_companyName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单 ID：</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderId" id="supplier_type" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">订单时间:</label>
                    <div class="layui-input-block">
                        <!--<input type="text" name="gmtCreate" class="layui-input">-->
                        <input type="text" name="gmtCreate" id="gmtCreate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-scm-outgoing-quote-search" style="margin-bottom: 3px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <!--卡片－表格信息-->
            <div class="layui-tab layui-tab-brief" lay-filter="scm-outgoing-quote-tabs-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">PCB订单</li>
                    <li>钢网订单</li>
                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 0px;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm"  id="outgoingQuote-operation">隐藏操作栏</button>
                    </div>
                </ul>
                <div class="layui-tab-content">
                    <!--PCB订单-->
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table" id="scm_Tabpcb_outgoing_quote" lay-filter="scm_Tabpcb_outgoing_quote"></table>
                        <script type="text/html" id="pcb-file">
                            {{# if(d.gerberPath != null){ }}
                                {{# if(d.gerberPath.indexOf("pcbonline.com:9090") != -1) { }}
                                <a href="{{layui.setter.baseUrl1}}api/file/download/zip?filename={{ d.gerberPath.split('pcbonline/')[1].trim() }}">
                                    <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                                </a> 
                                {{# } else { }}
                                    {{# var arr = d.gerberPath.slice(6,-1) }}
                                    {{# d.gerberPath = arr }}
                                    <a href="{{layui.setter.baseUrl1}}quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                                    </a>
                                {{# } }}
                            {{# } else { }}
                            <div>无</div>
                            {{# } }}
                        </script>
                        <script type="text/html" id="stencil-file">
                            {{# if(d.gerberPath != null){ }}
                                {{# if(d.gerberPath.indexOf("pcbonline.com:9090") != -1) { }}
                                <a href="{{layui.setter.baseUrl1}}api/file/download/zip?filename={{ d.gerberPath.split('pcbonline/')[1].trim() }}">
                                    <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                                </a> 
                                {{# } else { }}
                                    {{# var arr = d.gerberPath.slice(6,-1) }}
                                    {{# d.gerberPath = arr }}
                                    <a href="{{layui.setter.baseUrl1}}quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                                    </a>
                                {{# } }}
                            {{# } else { }}
                            <div>无</div>
                            {{# } }}
                        </script>
                        <script type="text/html" id="panelWay">
                            {{ d.panelWayX || ''}}
                            {{ if(d.panelWayY != null || d.panelWayY != ""){ }}
                            {{ d.panelWayY || ''}}
                            {{ } }}
                        </script>
                        <script type="text/html" id="Tabtb-pcb-scm-outgoingQuote-option">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="look">查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="assign">指定供应商</a>
                        </script>
                        <script type="text/html" id="Tabtb-pcb-scm-outgoingQuote-status">
                            {{# if(d.status === 1){ }}
                            <a style="color: #1E9FFF">
                                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>待报价
                            </a>
                            {{# } else if(d.status === 2){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>待确认
                            </a>
                            {{# } else if(d.status === 3){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>待支付
                            </a>
                            {{# } else if(d.status === 4){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>已支付
                            </a>
                            {{# } else if(d.status === 5){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>编写指示卡
                            </a>
                            {{# } else if(d.status === 6){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>工程已审核
                            </a>
                            {{# } }}
                        </script>
                        <script type="text/html" id="Tabtb-stencil-scm-outgoingQuote-status">
                            {{# if(d.status === 1){ }}
                            <a style="color: #1E9FFF">
                                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>待报价
                            </a>
                            {{# } else if(d.status === 2){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>待确认
                            </a>
                            {{# } else if(d.status === 3){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>待支付
                            </a>
                            {{# } else if(d.status === 4){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>已支付
                            </a>
                            {{# } else if(d.status === 5){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>编写指示卡
                            </a>
                            {{# } else if(d.status === 6){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>工程已审核
                            </a>
                            {{# } }}
                        </script>
                        <script type="text/html" id="Tabtb-pcb-scm-outgoingQuote-difficultyLevel">
                            {{# if(d.difficultyLevel == '1'){ }}
                                简单样板
                            {{# } else if(d.difficultyLevel == '2'){ }}
                                复杂样板
                            {{# } else if(d.difficultyLevel == '3'){ }}
                                简单批量
                            {{# } else if(d.difficultyLevel == '4'){ }}
                                HDI
                            {{# } else if(d.difficultyLevel == '5'){ }}
                                软板
                            {{# } else if(d.difficultyLevel == '6'){ }}
                                复杂批量
                            {{# } else if(d.difficultyLevel == '7'){ }}
                                铝基板
                            {{# } }}
                        </script>
                        <script type="text/html" id="Tabtb-stencil-scm-outgoingQuote-type">
                            {{# if (d.stencilSide == 'Top' || d.stencilSide == 'Bottom'){ }}
                                单面
                            {{# } else if(d.stencilSide == 'Top And Bottom (On Single Stencil)') { }}
                                双面同张
                            {{# } else{ }}
                                双面两张
                            {{# } }}
                        </script>
                    </div>


                    <!--钢网订单-->
                    <div class="layui-tab-item" >
                        <table class="layui-table" id="scm_Tabstencil_outgoing_quote" lay-filter="scm_Tabstencil_outgoing_quote"></table>
                        <!--钢网订单表格操作栏-->
                        <script type="text/html" id="Tabtb-stencil-scm-outgoingQuote-option">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="look">查看</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="assign">指定供应商</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    
</div>

<!-- <style>
    #orderReview_form {background-color: white;}
    #orderReview_form .layui-input, .layui-textarea {width:100% !important;}
    #orderReview_form .layui-form-label {width: 100px !important;}
    #orderReview_form .layui-form-item .layui-input-inline{width: 80px !important;}
    #orderReview_searchbtn {margin-left: 25px;}
    #orderReview_form .layui-form-select .layui-edge{right: -20px;}
    #orderReview_form .layui-form-select dl{min-width: 100% !important;}
    #orderReview_card {background-color: white;}
    @media screen and (max-width: 800px) {
        #orderReview_form .layui-input, .layui-textarea {
            width: 240% !important;
            margin-left: -4px;
        }

        #orderReview_form .layui-form-label {
            width: 80px !important;
        }

        #orderReview_form .layui-form-select .layui-edge {
            right: -86px
        }
        #orderReview_form .layui-form-select dl{
            width: 240% !important;
        }
        #orderReview_form .layui-form-item:last-child{
            margin-left: -20px;
        }
        #orderReview_searchbtn{
            margin-left: 105px;
            width: 57%;
        }
        #orderReview_form.layuiadmin-card-header-auto{
            padding-bottom: 0;
        }
    }

    i.layui-anim{display:inline-block}
    #pcbfile-i:hover{color: #1E9FFF;cursor: pointer;}
</style> -->

<script>
    layui.use('scm_outgoingQuote', layui.factory('scm_outgoingQuote')).use(['scm_outgoingQuote', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>
