<title>供应链管理-采购合同</title>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="scm-purchase-contract-form-list">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">产品型号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="productNo" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-scm-purchase-contract-search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <table class="layui-table" id="scm_purchase_contract_tab" lay-filter="scm_purchase_contract_tab"></table>
            <script type="text/html" id="scm_purchase_contract_tab_tabbar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="th">退回</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="pcedit">编辑</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="ckht">查看合同</a>
            </script>
        </div>
    </div>
   
</div>

<script>
    layui.use('scm_materialPurchasing', layui.factory('scm_materialPurchasing')).use(['scm_materialPurchasing', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>