<title>报价明细</title>
<div class="layui-fluid">
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="tab-scmManagement">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="scmMana_tabPcb" lay-filter="scmMana_tabPcb"></table>
                <script type="text/html" id="scmMana_toolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="evScmSubmit">生成合同</button>
                    </div>
                </script>
                <script type="text/html" id="scmMana_tabbar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="eevScmedit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="rollback">退回</a>
                    <a class="layui-btn layui-btn-xs" lay-event="eevScmdel">删除</a>
                </script>
                <script type="text/html" id="scmManaquo_status">
                    {{# if(d.status == '1') { }}
                        已指派
                    {{# } else if(d.status == '2' && d.invoiceNo != null){ }}
                        合同被退回
                    {{# } else if(d.status == '2' && d.invoiceNo == null){ }}
                        已报价
                    {{# }  }}
                </script>
            </div>
            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="scmMana_tabStencil" lay-filter="scmMana_tabStencil"></table>
                <script type="text/html" id="scmManaStencil_toolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="evScmSubmit">生成合同</button>
                    </div>
                </script>
                <script type="text/html" id="scmManaStencil_tabbar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="eevScmedit">编辑</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="rollback">退回</a>
                    <a class="layui-btn layui-btn-xs" lay-event="eevScmdel">删除</a>
                </script>
                <script type="text/html" id="scmManaquoStencil_status">
                    {{# if(d.status == '1') { }}
                    已指派
                    {{# } else if(d.status == '2' && d.invoiceNo != null){ }}
                    合同被退回
                    {{# } else if(d.status == '2' && d.invoiceNo == null){ }}
                    已报价
                    {{# }  }}
                </script>
            </div>
            <!--SMT订单-->
            <div class="layui-tab-item">
                <table class="layui-table"></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('scmMana_quoteDetail', layui.factory('scmMana_quoteDetail')).use(['scmMana_quoteDetail', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>