
<div class="layui-form" lay-filter="feight_profits_edit_form">
    <div class="layui-form-item">
        <label class="layui-form-label">发票号</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input type="text" name="invoiceNumber" value="{{ d.params.invoiceNumber || '' }}" lay-verify="required" placeholder="请输发票号" autocomplete="off" class="layui-input">
          </script>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">支付运费</label>
        <div class="layui-input-inline">
          <script type="text/html" template>
            <input type="text" name="postalFee" value="{{ d.params.postalFee || '' }}" lay-verify="required" placeholder="请输金额" autocomplete="off" class="layui-input">
          </script>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
              <input type="button" lay-submit lay-filter="LAY-feight-profits-submit" value="确认" class="layui-btn">
            </div>
          </div>
      </div>
</div>

<script>
    layui.use(['form', 'jquery', 'admin'], function () {
        var $ = layui.jquery
            ,laydate = layui.laydate
            ,setter = layui.setter;
    })
</script>
