<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
    <table class="layui-table paypal-memo-table">
        <tbody>
        <tr>
            <td>付款水单</td>
            <td>
                <img id="customerMemoScreenshotsImg" src="{{d.params.customerMemoScreenshots || ''}}" alt="">
            </td>
            <td>
                <span class="lookImg" layadmin-event="lookMemo">查看水单</span>
                <a id="pmPayMemo">上传水单</a>
            </td>
        </tr>
        <tr>
            <td>到账截图</td>
            <td>
                <img id="bankPayScreenshotsImg" src="{{d.params.bankPayScreenshots || ''}}" alt="">
            </td>
            <td>
                <span class="lookImg" layadmin-event="lookMemo">查看截图</span>
                <a id="pmPayToAccount">上传截图</a>
            </td>
        </tr>
        </tbody>
    </table>
    </script>
</div>

<style>
    .paypal-memo-table {text-align: center;}
    .paypal-memo-table img {width: 100px;object-fit: contain;}
    .paypal-memo-table img:hover {
        -webkit-transform: scale(2,2);
        -moz-transform: scale(2,2);
        -ms-transform: scale(2,2);
        -o-transform: scale(2,2);
        transform: scale(2,2);: ;
    }
    a#pmPayMemo, a#pmPayToAccount,span.lookImg{
        background: #23a1ff;
        padding: 3px 10px;
        color: white;
        font-size: 0.7rem;
        border-radius: 2px;
        cursor: pointer;
    }
</style>

<script>
    layui.data.done = function(d) {
        var customerMemoScreenshots;    // 水单截图
        var bankPayScreenshotsImg;     // 银行到账截图
        var id = d.params.id;
        layui.use(['jquery', 'admin', 'index'],function () {
            var upload = layui.upload,
                $ = layui.jquery;

            // 付款水单
            var uploadPayMemo = upload.render({
                elem: '#pmPayMemo',
                acceptMime: 'image/*',
                accept: 'images',
                url: setter.imUrl+'imgfile/fileupload',
                done: function (res) {
                    if(res.code == 0){
                        customerMemoScreenshots = res.data.src;
                        $("#customerMemoScreenshotsImg").attr('src', customerMemoScreenshots);
                        upDate();
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                },
                error: function () {
                    layer.msg('上传是失败！')
                }
            });

            // 到账截图
            var uploadToAccount = upload.render({
                elem: '#pmPayToAccount',
                acceptMime: 'image/*',
                accept: 'images',
                url: setter.imUrl+'imgfile/fileupload',
                done: function (res) {
                    if(res.code == 0){
                        bankPayScreenshotsImg = res.data.src;
                        $("#bankPayScreenshotsImg").attr('src', bankPayScreenshotsImg);
                        upDate();
                    } else {
                        layer.msg(res.msg, {icon: 5});
                    }
                    layer.msg('上传成功！');
                },
                error: function () {
                    layer.msg('上传失败！');
                }
            })
        });


        function upDate() {
            admin.req({
                type: 'post',
                data: {
                    id: id,
                    customerMemoScreenshots: customerMemoScreenshots,
                    BankPayScreenshots: bankPayScreenshotsImg
                },
                url: setter.baseUrl + 'paypal/paylog/update',
                success: function () {
                    layer.msg('数据更新成功！');
                },
                error: function () {
                    layer.msg('更新操作失败！');
                }
            });
            layui.table.reload('finManaPaypalLog_tabPcb');
        }

        $('.lookImg').on('click', function () {
            look($(this).parent('td').prev('td').find('img').attr('src'));
        });

        //查看头像
        function look (d) {
            admin.events.lookMemo = function(othis){
                layer.photos({
                    photos: {
                        "title": "查看头像" //相册标题
                        ,"data": [{
                            "src": d //原图地址
                        }]
                    }
                    ,shade: 0.01
                    ,closeBtn: 1
                    ,anim: 5
                });
            };
        }
    }
</script>