<title>来料检验</title>
<div class="layui-fluid">
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="tab-planToger">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="iqcIncom_auditor" lay-filter="iqcIncom_auditor"></table>
                <script type="text/html" id="ord_sqpManaPlan_tb">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="submit">通知出货</button>
                        <button class="layui-btn layui-btn-sm" lay-event="innerLable">内标签</button>
                        <button class="layui-btn layui-btn-sm" lay-event="outLable">外标签</button>
                    </div>
                </script>
                <script type="text/html" id="scmManaPlan_tabbar">
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="search">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="backto">退回</a>
                </script>
                <script type="text/html" id="iqcMana_ia">
                    {{# if(d.status == '1') {}}
                        已指派
                    {{# } else if(d.status == '2'){ }}
                        已报价
                    {{# } else if(d.status == '3'){ }}
                        生成外协合同
                    {{# } else if(d.status == '4'){ }}
                        回签
                    {{# } else if(d.status == '5'){ }}
                        供应商修改确认
                    {{# } else if(d.status == '6'){ }}
                        供应链确认
                    {{# } else if(d.status == '7'){ }}
                        出货通知
                    {{# } }}
                </script>
            </div>
            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table"></table>
            </div>
            <!--SMT订单-->
            <div class="layui-tab-item">
                <table class="layui-table"></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('iqcManagement_incoming_auditor', layui.factory('iqcManagement_incoming_auditor')).use(['iqcManagement_incoming_auditor', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>