<!-- <link href="../../../src/style/formSelects-v4.css" rel="stylesheet" /> -->
<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
    <form class="layui-form" lay-filter="epc-material-tool-edit-add-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">型号</label>
                <div class="layui-input-inline">
                    <!-- <select name="productNo" id="epcAdd_toolsPN" xm-select="productNo" xm-select-radio  xm-select-search="" xm-select-search-type="dl">
                        {{# if(d.params.productNo != null){ }}
                        <option class="def-option" value="{{d.params.productNo}}" selected>{{d.params.productNo}}</option>
                        {{# } }}
                    </select> -->
                    <input type="text" name="productNo" value="{{d.params.productNo || ''}}" autocomplete="off" class="layui-input" id="impcbnobytool">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">类型</label>
                <div class="layui-input-inline">
                    <select name="type">
                        <option {{ d.params.type == '测试架' ? 'selected' : '' }}>测试架</option>
                        <option {{ d.params.type == '模具' ? 'selected' : '' }}>模具</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">制作方式</label>
                <div class="layui-input-inline">
                    <select name="makeWay">
                        <option {{ d.params.makeWay == '新开' ? 'selected' : '' }}>新开</option>
                        <option {{ d.params.makeWay == '重开' ? 'selected' : '' }}>重开</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">费用</label>
                <div class="layui-input-inline">
                    <input type="text" name="cost" value="{{d.params.cost || ''}}" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 100%;display: inline-flex;">
                <label class="layui-form-label">制造商</label>
                <div class="layui-input-inline" style="width: 79.2%;max-width: 513px;">
                    <!-- <select name="manufacturers" id="epcAdd_toolManufacturers" xm-select="manufacturers" xm-select-radio  xm-select-search="" xm-select-search-type="dl">
                        {{# if(d.params.manufacturers != null){ }}
                        <option class="def-option" value="{{d.params.manufacturers}}" selected>{{d.params.manufacturers}}</option>
                        {{# } }}
                    </select> -->
                    <input type="text" name="manufacturers" value="{{d.params.manufacturers || ''}}" autocomplete="off" class="layui-input" id="immanufacturersbytool">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 100%;display: inline-flex;">
                <label class="layui-form-label">供应商存放</label>
                <div class="layui-input-inline" style="width: 79.2%;max-width: 513px;">
                    <!-- <select name="supplier" id="epcAdd_toolSupplier" xm-select="supplier" xm-select-radio  xm-select-search="" xm-select-search-type="dl">
                        {{# if(d.params.supplier != null){ }}
                        <option class="def-option" value="{{d.params.supplier}}" selected>{{d.params.supplier}}</option>
                        {{# } }}
                    </select> -->
                    <input type="text" name="supplier" value="{{d.params.supplier || ''}}" autocomplete="off" class="layui-input" id="imsupplierbytool">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 100%;display: inline-flex;">
                <label class="layui-form-label">供应商编号</label>
                <div class="layui-input-inline" style="width: 79.2%;max-width: 513px;">
                   <input name="supplierNo" class="layui-input" type="text" value="{{d.params.supplierNo || ''}}">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">制作时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="productionTime" value="{{d.params.productionTime || ''}}" id="epcAdd_toolProductionTime" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">存放时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="storageTime" value="{{d.params.storageTime || ''}}" id="epcAdd_toolStorageTime" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline" style="width: 100%;">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline" style="width: 79%;">
                    <textarea class="layui-textarea" name="remark" value="{{d.params.remark || ''}}" id="" style="height: 30px;">{{d.params.remark || ''}}</textarea>
                </div>
            </div>
        </div>
        <div class="layui-form-item" style="display: none;">
            <div class="layui-input-block">
                <input type="text" name="productId" value="{{d.params.productId || ''}}" autocomplete="off" class="layui-input">
                <button class="layui-btn" type="button" lay-submit="" lay-filter="add_tool_submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    </script>
</div>

<script>
    layui.data.done = function(d) {
        var urlType,productNo,supplierId,id,isAdd,supplier;
        console.log(d)
        if (d.params.productNo == null) {
            urlType = 'epc/tool/save';
        } else {
            urlType = 'epc/tool/update';
            productNo = d.params.productNo;
            supplierId = d.params.manufacturers;
            supplier = d.params.supplier;
            id = d.params.id;
            isAdd = false;
        }
        layui.use(['form', 'jquery', 'element','r','table'],function () {
            var $ = layui.jquery
            ,laydate = layui.laydate
            ,r = layui.r
            ,setter = layui.setter;

            laydate.render({
                elem: '#epcAdd_toolProductionTime'
            });
            laydate.render({
                elem: '#epcAdd_toolStorageTime'
            });

            form.render(null,'epc-material-tool-edit-add-form');
            // renderAllFormSelects();

            // 打开页面-先默认渲染所有 FormSelects 下拉
            // function renderAllFormSelects() {
            //     $(".xm-select-label").remove();
            //     formSelects.render('productNo');
            //     formSelects.render('manufacturers');
            //     formSelects.render('supplier');
            //     formSelects.value('productNo', [productNo]);
            //     formSelects.value('manufacturers', [supplierId]);
            //     formSelects.value('supplier', [supplier]);
            // }

            var isGetProductNo = false;
            var isGetManufacturers,isGetSupplier = false;
            // 点击事件 ==>> 发送请求获取各下拉的列表
            // $("div").delegate(".xm-select-title","click", function () {
            //     var $this = $(this).parents(".xm-select-parent").attr("fs_id");
            //     if ($this == "productNo") {
            //         if (!isGetProductNo) {
            //             getProductNo($this);
            //             isGetProductNo = true;
            //         }
            //     } else if ($this == "manufacturers" || $this == "supplier") {
            //         if (!isGetManufacturers) {
            //             getSupplier($this);
            //             isGetManufacturers = isGetSupplier = true;
            //         }
            //     }
            // });

            // 获取型号
            // function getProductNo(dom) {
            //     layer.msg("正在加载列表.....");
            //     $("select[xm-select='"+dom+"']").find("option").remove();
            //     admin.req({
            //         type: 'post',
            //         async: true,
            //         url: setter.baseUrl+'epc/pcborder/allProductNo',
            //         success: function (res) {
            //             var resList = res.data;
            //             if (resList != null && resList.length>0) {
            //                 var $html = "";
            //                 for (var i=0;i<resList.length;i++) {
            //                     $html += "<option value="+resList[i]+">"+resList[i]+"</option>"
            //                 }
            //                 $("select[xm-select='productNo']").append($html)
            //                 formSelects.render('productNo');
            //             }
            //             formSelects.value('productNo', [productNo]);
            //             $(".xm-select-parent[fs_id='"+dom+"']").children(".xm-form-select").addClass("xm-form-selected");
            //             layer.msg("加载成功！");
            //         }
            //     });
            // }

            // 获取制造商和供应商存放
            // function getSupplier(dom) {
            //     layer.msg("正在加载列表.....");
            //     $("select[xm-select='manufacturers']").find("option").remove();
            //     $("select[xm-select='supplier']").find("option").remove();
            //     admin.req({
            //         type: 'post',
            //         async: true,
            //         url: setter.baseUrl+'scm/pcborder/allSupplier',
            //         success: function (res) {
            //             var resList = res.data;
            //             if (resList && resList.length>0) {
            //                 var $html = "";
            //                 for (var i=0;i<resList.length;i++) {
            //                     $html += "<option value="+resList[i].companyName+">"+resList[i].companyName+"</option>";
            //                 }
            //                 $("select[xm-select='manufacturers']").append($html);
            //                 $("select[xm-select='supplier']").append($html);
            //                 formSelects.render('manufacturers');
            //                 formSelects.render('supplier');
            //             }
            //             formSelects.value('manufacturers', [supplierId]);
            //             formSelects.value('supplier', [supplier]);
            //             console.log("dom:"+dom);
            //             $(".xm-select-parent[fs_id='"+dom+"']").children(".xm-form-select").addClass("xm-form-selected");
            //             layer.msg("加载成功！");
            //         }
            //     });
            // }
            // form.render();

            //监听导入
            $("#impcbnobytool").on("click",function(){
                r.commonInportProductNos().then((d)=>{
                    console.log(d);
                    //填充数据
                    form.val('epc-material-tool-edit-add-form',{
                       'productNo':d.data.productNo,
                       'productId': d.data.id 
                    })
                    layer.close(d.index);
                })
            })

            $("#immanufacturersbytool").on('click',function(){
                r.commonInportSupplier().then((d)=>{
                    console.log(d);
                    //填充数据
                    form.val('epc-material-tool-edit-add-form',{
                       'manufacturers':d.data.companyName
                    })
                    layer.close(d.index);
                })
            })
            
            $("#imsupplierbytool").on('click',function(){
                r.commonInportSupplier().then((d)=>{
                    console.log(d);
                    //填充数据
                    form.val('epc-material-tool-edit-add-form',{
                       'supplier':d.data.companyName
                    })
                    layer.close(d.index);
                })
            })





            // 监听表单提交
            form.on('submit(add_tool_submit)', function(data){
                console.log(urlType);
                var tipMsg;
                if (!isAdd) {
                    data.field.id = id;
                    tipMsg = '工具修改成功';
                } else {
                    tipMsg = '工具添加成功';
                }
                admin.req({
                    type: 'post',
                    url: setter.baseUrl+urlType,
                    data: data.field,
                    success: function (res) {
                        layer.msg(tipMsg);
                        layer.closeAll();
                        table.reload('epcToolMana_tab');
                    }
                })
                return false;
            });
        })
    }
</script>
<style>
    .xm-select-title {height: unset !important;}
</style>