<div class="layui-fluid">
    <form class="layui-form">
        <script type="text/html" template>
        <div class="layui-form-item">
            <label class="layui-form-label">类型：</label>
            <input type="radio" name="difficultyLevel" value="1" {{ d.params.difficultyLevel == '1' ? 'checked' : '' }} title="简单样板">
            <input type="radio" name="difficultyLevel" value="2" {{ d.params.difficultyLevel == '2' ? 'checked' : '' }} title="复杂样板">
            <input type="radio" name="difficultyLevel" value="3" {{ d.params.difficultyLevel == '3' ? 'checked' : '' }} title="简单批量">
            <input type="radio" name="difficultyLevel" value="6" {{ d.params.difficultyLevel == '6' ? 'checked' : '' }} title="复杂批量">
            <input type="radio" name="difficultyLevel" value="4" {{ d.params.difficultyLevel == '4' ? 'checked' : '' }} title="HDI">
            <input type="radio" name="difficultyLevel" value="5" {{ d.params.difficultyLevel == '5' ? 'checked' : '' }} title="软板">
        </div>
        </script>
        <div class="layui-form-item" style="display: none;">
            <button type="button" class="layui-btn layuiadmin-btn-forum-list" lay-submit lay-filter="epc_auditOrders" id="epc_auditOrders">审核</button>
        </div>
    </form>
</div>