  <title>报关单列表</title>
  
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="marker-customs-declaration-list">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">ID</label>
            <div class="layui-input-inline">
              <input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">发票号</label>
            <div class="layui-input-inline">
              <input type="text" name="commercialInvoice" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">客户编号</label>
            <div class="layui-input-inline">
              <input type="text" name="customerNo" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
          </div>
         
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="market-customs-declaration-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-list layui-btn-danger " data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
          <button class="layui-btn layuiadmin-btn-list" data-type="edit">编辑</button>
        </div>
        <table id="market-customs-declaration-table" lay-filter="market-customs-declaration-table"></table> 
        <script type="text/html" id="buttonTpl">
          {{#  if(d.status){ }}
            <button class="layui-btn layui-btn-xs">已发布</button>
          {{#  } else { }}
            <button class="layui-btn layui-btn-primary layui-btn-xs">待修改</button>
          {{#  } }}
        </script>
        <script type="text/html" id="table-customs-declaration-toolbar">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="packingListEn"><i class="layui-icon layui-icon-list"></i>装箱单(英)</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="packingListCn"><i class="layui-icon layui-icon-list"></i>装箱单(中)</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="contract"><i class="layui-icon layui-icon-list"></i>合同</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="invoice"><i class="layui-icon layui-icon-list"></i>发票</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="declaration"><i class="layui-icon layui-icon-list"></i>报关单</a>
        </script>
      </div>
    </div>
  </div>

  <script>
  layui.use('market_customs_declaration', layui.factory('market_customs_declaration')).use(['admin', 'market_customs_declaration', 'table'], function(){
    var $ = layui.$
    ,admin = layui.admin
    ,view = layui.view
    ,table = layui.table
    ,form = layui.form;
  });
  </script>
