<title>内部报价</title>
<div class="layui-fluid" id="app">
    <div style="padding: 10px;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
                <div class="layui-card">
                  <!-- <div class="layui-card-header">卡片面板</div> -->
                  <!-- 显示各种报价 -->
                  <div class="layui-card-body">
                    <div>
                        <div class="layui-collapse" lay-accordion>
                          <div class="layui-colla-item">
                            <h2 class="layui-colla-title">PCB Phototype</h2>
                            <div class="layui-colla-content layui-show">
                                <!-- pcb订单 -->
                                <div>
<!-----------顶部计算------------------------------------------>
                                    <form class="layui-form top-quote">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Order type:</label>
                                            <!--<div class="layui-input-block">-->
                                                <!--<input type="radio" name="sex" value="" title="Single PCB">-->
                                                <!--<input type="radio" name="sex" value="女" title="panel as design" >-->
                                                <!--<input type="radio" name="sex" value="男" title="panel by PCBonline" checked>-->
                                            <!--</div>-->
                                            <div class="layui-input-block">
                                                <input type="radio" lay-filter="borderType" id="radioSinglePcb" name="borderType" value="singlePcb" title="Single PCB">
                                                <input type="radio" lay-filter="borderType" id="radioPanelad" name="borderType" value="panelAsDesign" title="Panel as design">
                                                <input type="radio" lay-filter="borderType" id="radioPanelbp" name="borderType" value="panelByPcbonline" title="Panel by PCBonline">
                                            </div>
                                        </div>
                                        <div class="layui-form-item itSinlgesize">
                                            <label class="layui-form-label">Single Size:</label>
                                            <div class="layui-input-inline">
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="singleSizeX">
                                                </div>
                                                <div class="layui-form-mid">x</div>
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_max"  autocomplete="off" class="layui-input" id="singleSizeY">
                                                </div>
                                                 <div class="layui-form-mid">mm</div>
                                            </div>
                                            <label class="layui-form-label">Quantity:</label>
                                            <div class="layui-input-inline" style="width: 100px;">
                                                <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="quantityPCS">
                                            </div>
                                            <div class="layui-form-mid">pcs</div>
                                        </div>
                                        <div class="layui-form-item itPanelway">
                                            <label class="layui-form-label">Panel Way:</label>
                                            <div class="layui-input-inline">
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="panelWayX">
                                                </div>
                                                <div class="layui-form-mid">x</div>
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_max"  autocomplete="off" class="layui-input" id="panelWayY">
                                                 </div>
                                                <div class="layui-form-mid">mm</div>
                                            </div>
                                            <label class="layui-form-label">Quantity:</label>
                                            <div class="layui-input-inline" style="width: 100px;">
                                                <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="quantityPanel">
                                            </div>
                                            <div class="layui-form-mid">panel</div>
                                        </div>
                                        <div class="layui-form-item itPanelsize">
                                            <label class="layui-form-label">Panel Size:</label>
                                            <div class="layui-input-inline">
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="panelSizeX">
                                                </div>
                                                <div class="layui-form-mid">x</div>
                                                <div class="layui-input-inline" style="width: 50px;">
                                                    <input type="text" name="price_max"  autocomplete="off" class="layui-input" id="panelSizeY">
                                                </div>
                                                 <div class="layui-form-mid">mm</div>
                                            </div>
                                            <label class="layui-form-label">Area sq:</label>
                                            <div class="layui-input-inline" style="width: 100px;">
                                                <input type="text" name="price_min"  autocomplete="off" class="layui-input" id="areasq" readonly>
                                            </div>
                                            <div class="layui-form-mid">㎡</div>
                                        </div>
                                    </form>
<!-----------第二个模块------------------------------------------>
                                    <form class="layui-form">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">PCB type:</label>
                                            <div class="layui-input-block">
                                                <input type="radio" id="ptfr4" name="pcbType" value="fr4" title="FR4">
                                                <input type="radio" id="ptaluminum" name="pcbType" value="aluminum" title="Aluminum" >
                                                <input type="radio" id="ptfr4+aluminum" name="pcbType" value="fr4+aluminum" title="FR4+Aluminum">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Layer:</label>
                                            <div class="layui-input-inline">
                                                <select name="layer" lay-verify="required" id="selLayer">
                                                    <option value=""></option>
                                                    <option value="2">2</option>
                                                    <option value="4">4</option>
                                                    <option value="6">6</option>
                                                    <option value="8">8</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Finish Thickness:</label>
                                            <div class="layui-input-inline">
                                                <select name="finishThickness" lay-verify="required" lay-filter="finishThickness" id="selFinishThickness">
                                                    <option id="lds">0.4mm</option>
                                                    <option id="ldl">0.6mm</option>
                                                    <option id="ldb">0.8mm</option>
                                                    <option id="1dl">1.0mm</option>
                                                    <option id="yde">1.2mm</option>
                                                    <option id="ydw">1.5mm</option>
                                                    <option id="ydl">1.6mm</option>
                                                    <option id="edl">2.0mm</option>
                                                    <option id="eds">2.4mm</option>
                                                    <option id="sdl">3.0mm</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">material:</label>
                                            <div class="layui-input-inline">
                                                <select name="finishThickness" lay-verify="required" lay-filter="finishThickness" id="selMaterial">
                                                    <option id="kb">KB</option>
                                                    <option id="sy">SY</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Product Code:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" lay-verify="required" id="selkbsy">
                                                    <option value=""></option>
                                                    <option value="KB6160">KB6160</option>
                                                    <option value="Kb6150">KB6150</option>
                                                    <option value="KB6165">KB6165</option>
                                                    <option value="KB6167">KB6167</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">TG:</label>
                                            <div class="layui-input-inline">
                                                <select name="tg" id="selTg">
                                                    <option value="135" id="ysw">135</option>
                                                    <option value="140" id="ysl">140</option>
                                                    <option value="150" id="ywl">150</option>
                                                    <option value="170" id="yql">170</option>
                                                    <option value="180" id="ybl">180</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">CTI:</label>
                                            <div class="layui-input-inline">
                                                <select name="cti" id="selCti">
                                                    <option id="ewl">175≤CTI<250</option>
                                                    <option id="sll">250≤CTI<400</option>
                                                    <option id="lll">400≤CTI<600</option>
                                                    <option id="dlll">CTI≥600</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Halogen-free:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selHf">
                                                    <option>none</option>
                                                    <option>NO</option>
                                                    <option>YES</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Heat Conductivity:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selHc">
                                                    <option>none</option>
                                                    <option>1W</option>
                                                    <option>2W</option>
                                                    <option>3W</option>
                                                    <option>PCBonline</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Inner layer copper:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selInlayercoopper">
                                                     <option  value="none">none</option>
                                                    <option value="1oz">1oz</option>
                                                    <option value="2oz">2oz</option>
                                                    <option value="3oz">3oz</option>
                                                    <option value="4oz">4oz</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Min Track:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selMintrack">
                                                    <option value=""></option>
                                                    <option value="none">none</option>
                                                    <option value="3mil">3mil</option>
                                                    <option value="4mil">4mil</option>
                                                    <option value="5mil">5mil</option>
                                                    <option value="6mil">6mil</option>
                                                    <option value="7mil">7mil</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">N.of Core:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selNofcore">
                                                    <option value=""></option>
                                                    <option value="none">none</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Min Spacing:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selMinspaccing">
                                                    <option value=""></option>
                                                    <option value="none">none</option>
                                                    <option value="3mil">3mil</option>
                                                    <option value="4mil">4mil</option>
                                                    <option value="5mil">5mil</option>
                                                    <option value="6mil">6mil</option>
                                                    <option value="7mil">7mil</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">N.of PP:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selNofpp">
                                                    <option value=""></option>
                                                    <option value="none">none</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">outer layer copper:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selOuterlayercopper">
                                                    <option value=""></option>
                                                    <option value="1oz">1oz</option>
                                                    <option value="2oz">2oz</option>
                                                    <option value="3oz">3oz</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Min Track:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selMintrackb">
                                                    <option value="3mil">3mil</option>
                                                    <option value="4mil">4mil</option>
                                                    <option value="5mil">5mil</option>
                                                    <option value="6mil">6mil</option>
                                                    <option value="7mil">7mil</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">BGA Size:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selBgasize">
                                                    <option value="0.22">≥0.22</option>
                                                    <option value="0.22">≥0.25</option>
                                                    <option value="0.30">≥0.30</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Min Spacing:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selMinspacing">
                                                    <option value="3mil">3mil</option>
                                                    <option value="4mil">4mil</option>
                                                    <option value="5mil">5mil</option>
                                                    <option value="6mil">6mil</option>
                                                    <option value="7mil">7mil</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Min Hole Size:</label>
                                            <div class="layui-input-inline" style="width: 90px">
                                                <select name="city" id="selMinholesize">
                                                    <option value="0.2">0.2</option>
                                                    <option value="0.3">0.3</option>
                                                    <option value="0.35">0.35</option>
                                                    <option value="0.4">0.4↑</option>
                                                    <option value="0.5">0.5↑</option>
                                                    <option value="1.5">1.5↑</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">N.of holes:</label>
                                            <div class="layui-input-inline" style="width: 70px">
                                                <input type="text" name="price_max" placeholder="" autocomplete="off" class="layui-input">
                                            </div>
                                            <label class="layui-form-label" style="width: 15%">PTH Copper:</label>
                                            <div class="layui-input-inline" style="width: 90px">
                                                <select name="city" id="selPthcopper">
                                                    <option value="none">none</option>
                                                    <option value="20um">20um</option>
                                                    <option value="25um">25um</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Solder Mask color:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selSoldermc">
                                                    <option value="green">green</option>
                                                    <option value="black">black</option>
                                                    <option value="white">white</option>
                                                    <option value="yellow">yellow</option>
                                                    <option value="red">red</option>
                                                    <option value="blue">blue</option>
                                                    <option value="matte_black">matte_black</option>
                                                    <option value="matte_green">matte_green</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">VIA process:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selViaprocess">
                                                    <option value="none">none</option>
                                                    <option value="tenting">Tenting</option>
                                                    <option value="plugged">Plugged</option>
                                                    <option value="vias_not_covered">Vias not covered</option>
                                                    <option value="Follow_gerber">Follow gerber</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Silk Screen color:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selSilksc">
                                                    <option value="green">green</option>
                                                    <option value="black">black</option>
                                                    <option value="white">white</option>
                                                    <option value="yellow">yellow</option>
                                                    <option value="red">red</option>
                                                    <option value="blue">blue</option>
                                                    <option value="matte_black">matte_black</option>
                                                    <option value="matte_green">matte_green</option>
                                                </select>
                                            </div>
                                            <label class="layui-form-label">Peelable:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selPeelable">
                                                    <option value="none">none</option>
                                                    <option value="top">TOP</option>
                                                    <option value="bot">BOT</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Surface finish:</label>
                                            <div class="layui-input-inline">
                                                <select name="city" id="selSurfacefinish">
                                                    <option value="HASL_with_lead">HASL with lead</option>
                                                    <option value="HASL_lead_free">HASL lead free</option>
                                                    <option value="Immersion_Gold">Immersion Gold</option>
                                                    <option value="OSP">OSP</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="layui-form-item">
                                            <!-- <label class="layui-form-label">CNC Routing:</label> -->
                                            <div class="layui-input-inline">
                                                <input type="radio" name="radioRouting" value="1" title="CNC Routing" id="routingOne">
                                            </div>
                                            <label class="layui-form-label" style="width: 20%">Paanel Routing Path:</label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <!-- <label class="layui-form-label">Punching:</label> -->
                                            <div class="layui-input-inline" style="width: 110px">
                                                <input type="radio" name="radioRouting" value="男" title="Punching">
                                            </div>
                                            <label class="layui-form-label">N.of holes:</label>
                                            <div class="layui-input-inline" style="widows: 90px">
                                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                            </div>
                                            <label class="layui-form-label">N.of Slots:</label>
                                            <div class="layui-input-inline" style="width: 90px">
                                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                            </div>

                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Test Point:</label>
                                            <div class="layui-input-inline" style="width: 80px">
                                               <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                            </div>
                                            <label class="layui-form-label">Test Cost:</label>
                                            <div class="layui-input-inline" style="width: 90px">
                                                <input type="text" name="price_max"  autocomplete="off" class="layui-input">
                                            </div>
                                            <div class="layui-input-inline" style="width: 100px">
                                                <select name="city" id="selTestcost">
                                                    <option value="0">none</option>
                                                    <option value="1">flying probe test</option>
                                                    <option value="2">Test Fixture</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <div class="layui-input-block">
                                                <input type="checkbox" name="btnCheckbox" title="Blind holes" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Edge Plated" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Half Hole Plated" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Contrl impeance" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Buried holes" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Carbo" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Bevelling(Camfer)" lay-skin="primary">
                                                <input type="checkbox" name="btnCheckbox" title="Deep Mill Routing" lay-skin="primary">
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Different Design:</label>
                                            <div class="layui-input-block">
                                                <input type="radio" name="sex" value="1" title="1">
                                                <input type="radio" name="sex" value="2" title="2">
                                                <input type="radio" name="sex" value="3" title="3">
                                                <input type="radio" name="sex" value="4" title="4" checked>
                                            </div>
                                        </div>
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">Remark:</label>
                                            <div class="layui-input-block">
                                                <textarea name="desc" placeholder="请输入内容" class="layui-textarea" style="width: 100%"></textarea>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                          </div>
                          <div class="layui-colla-item">
                            <h2 class="layui-colla-title">SMT-Stencil</h2>
                            <div class="layui-colla-content">内容区域</div>
                          </div>
                          <div class="layui-colla-item">
                            <h2 class="layui-colla-title">Assembly Service</h2>
                            <div class="layui-colla-content">内容区域</div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-card">
                  <!-- <div class="layui-card-header">卡片面板</div> -->
                  <div class="layui-card-body">
                    v-for测试<br>
                    <ul>
                        <!--<li v-for="item in items">-->
                            <!--{{ item.message }}-->
                        <!--</li>-->
                    </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input:disabled{background-color: #d4d3d366;cursor: not-allowed;}
</style>
<script>
    layui.use('quote', layui.factory('quote')).use(['setter', 'quote', 'admin', 'table', 'index', 'element', 'jquery', 'form'], function () {});
</script>