<title>市场管理-内部订单</title>
<div class="layui-fluid">
    <div class="layui-form interior-order-search" data-type="search-form" reload-table="interior_order_Tabpcb">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">内部型号</label>
                <div class="layui-input-inline">
                    <input type="text" name="productNo" autocomplete="off" class="layui-input">
                    <!--<input type="text" name="page" value="1" autocomplete="off" class="layui-input" style="display: none;">-->
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">支付情况</label>
                <div class="layui-input-inline">
                    <select name="payLogId" lay-filter="interior-order-payLogId">
                        <option value="0">请选择</option>
                        <option value="">待支付</option>
                        <option value="1">已支付</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <select name="status" lay-filter="interior-order-search1">
                        <option value="">请选择</option>
                        <option value="1">待报价</option>
                        <option value="2">待确认</option>
                        <option value="3">待支付</option>
                        <option value="4">已支付</option>
                        <option value="5">编写指示卡</option>
                        <option value="6">工程已审核</option>
                        <option value="7">供应商已确定</option>
                        <option value="8">已入库</option>
                        <option value="9">已出货</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">订单类型</label>
                <div class="layui-input-inline">
                    <select name="orderType" lay-filter="interior-order-search2">
                        <option value="">请选择</option>
                        <option value="1">新单</option>
                        <option value="2">返单</option>
                        <option value="3">返单有改</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">客户型号</label>
                <div class="layui-input-inline">
                    <input type="text" name="gerberName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!--<div class="layui-inline">-->
                <!--<label class="layui-form-label">F/N</label>-->
                <!--<div class="layui-input-inline">-->
                    <!--<input type="text" name="pcbName" class="layui-input" id="customer_orderTime">-->
                <!--</div>-->
            <!--</div>-->
            <div class="layui-inline" style="display: none;">
                <button class="layui-btn" lay-submit lay-filter="interior-order-search">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="tab-internalQuote">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
            <li>SMT订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <table class="layui-table" id="interior_order_Tabpcb" lay-filter="interior_order_Tabpcb"></table>
                <script type="text/html" id="interior_order_option">
                    <button class="layui-btn layui-btn-sm" lay-event="okquote">多个提交</button>
                </script>
                <script type="text/html" id="interior_order_Bar">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="search">合同</a>
                    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                    {{# if(d.status === 5 || d.status > 5){ }}
                        <a class="layui-btn layui-btn-xs layui-btn-normal">已提交</a>
                    {{# } else { }}
                        <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="submit">提交</a>
                        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
                    {{# } }}
                    <a class="layui-btn layui-btn-xs" lay-event="showProcess">详情</a>
                </script>
                <script type="text/html" id="order_type">
                    {{#  if(d.orderType =='1'){ }}
                    <a style="color: green;">新单</a>
                    {{#  } else if (d.orderType == '2'){ }}
                    <a>返单</a>
                    {{#  } else{ }}
                    <a>返单有改</a>
                    {{# } }}
                </script>
                <script type="text/html" id="interiorOrderStatus">
                    {{# if(d.status == '1') { }}
                        待报价
                    {{# } else if(d.status == '2') { }}
                        待确认
                    {{# } else if(d.status == '3') { }}
                        待支付
                    {{# } else if(d.status == '4') { }}
                        已支付
                    {{# } else if(d.status == '5') { }}
                        编写指示卡
                    {{# } else if(d.status == '6') { }}
                        工程已审核
                    {{# } else if(d.status == '7') { }}
                        供应商已确定
                    {{# } else if(d.status == '8') { }}
                        已入库
                    {{# } else if(d.status == '9') { }}
                    <a data="isOk">已出货</a>
                    {{# } else if(d.status == '10') { }}
                        已取消
                    {{# } }}
                </script>
                <script type="text/html" id="interiorPayLog">
                    {{# if(d.payLogId == null){ }}
                    <a class="interiorPCB-payDetail" data-type="0" id="pcbDetail{{d.id}}">待支付</a>
                    {{#  } else { }}
                    <a class="interiorPCB-payDetail isPcbDonePay" data-type="1" data="{{d.payLogId}}" id="pcbDetail{{d.id}}">已支付</a>
                    {{#  } }}
                </script>
                <script type="text/html" id="interiorPayLogS">
                    {{# if(d.payLogId == null){ }}
                    <a class="interiorPCB-payDetail" data-type="0" id="stencilDetail{{d.id}}">待支付</a>
                    {{#  } else { }}
                    <a class="interiorPCB-payDetail isStencilDonePay" data-type="1" data="{{d.payLogId}}" id="stencilDetail{{d.id}}">已支付</a>
                    {{#  } }}
                </script>
                <!--PCB 资料下载 -->
                <script type="text/html" id="interiorOrder_downP">
                    <a href="{{layui.setter.baseUrl}}sys/oss/download/geber?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}&access_token={{layui.data('layuiAdmin').access_token}}">
                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                    </a>
                </script>
                <!--Stencil 资料下载 -->
                <script type="text/html" id="interiorOrder_downS">
                    <a href="{{layui.setter.baseUrl}}sys/oss/download/geber?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}&access_token={{layui.data('layuiAdmin').access_token}}">
                        <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="stencilfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                    </a>
                </script>
                <!--币别判断-->
                <script type="text/html" id="exchangeId_flag">
                    {{# if(d.exchangeId == '1') { }}
                    $
                    {{# } else if(d.exchangeId == '2'){ }}
                    ￥
                    {{# } else if (d.exchangeId == '3'){ }}
                    €
                    {{# }}}
                </script>

                <script type="text/html" id="market_interior_courierNo">
                    {{# if(d.courierName == 'FedEx') { }}
                        <a href="https://www.fedex.com/apps/fedextrack/?action=track&tracknumbers={{d.courierNo}}&locale=zh_CN&cntry_code=ch-zh" class="layui-table-link" target="_blank">{{ d.courierNo }}</a>
                    {{# } else if(d.courierName == 'DHL') { }}
                        <a href="https://etracing.5idhl.com/TracingQuery.aspx?WaybillNO={{d.courierNo}}&source=1" class="layui-table-link" target="_blank">{{ d.courierNo }}</a>
                    {{# } }}

                </script>
            </div>
            <!--钢网订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="interior_order_Tabstencil" lay-filter="interior_order_Tabstencil"></table>
                <script type="text/html" id="interior_order_optionS">
                    <button class="layui-btn layui-btn-sm" lay-event="okquote">多个提交</button>
                </script>
                <script type="text/html" id="interior_order_BarS">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="search">合同</a>
                    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                    {{# if(d.status === 5 || d.status > 5){ }}
                    <a class="layui-btn layui-btn-xs layui-btn-normal">已提交</a>
                    {{# } else { }}
                    <a class="layui-btn layui-btn-xs layui-btn-primary" lay-event="submit">提交</a>
                    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
                    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit">修改</a>
                    {{# } }}
                    <a class="layui-btn layui-btn-xs" lay-event="showProcess">详情</a>
                </script>
            </div>
            <!--SMT订单-->
            <div class="layui-tab-item">
                <table class="layui-table" id="interior_order_Tabsmt" lay-filter="inside_no_payment_Tabsmt"></table>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('market_interiorOrder', layui.factory('market_interiorOrder')).use(['market_interiorOrder', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
</script>
<style>
    .interiorPCB-payDetail {
        padding: 4px 16px;
        border-radius: 20px;
        font-size: 13px;
        cursor: pointer;
    }
    .interiorPCB-payDetail[data-type='0'] {
        background-color: #fff;
        border: 1px solid #d2d2d2;
        color: #999;
    }
    .interiorPCB-payDetail[data-type='1'] {
        color: #ffffff;
        border-color: #5FB878;
        background: #5FB878;
    }
    .layui-layer-tips {width: 480px;}
</style>