<title>市场管理-网上订单审核</title>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="market-order-review-formlist">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">P/N：</label>
                    <div class="layui-input-block">
                        <input type="text" name="productNo" id="supplier_id" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">File Name：</label>
                    <div class="layui-input-block">
                        <input type="text" name="gerberName" id="supplier_companyName" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Order ID：</label>
                    <div class="layui-input-block">
                        <input type="text" name="orderId" id="supplier_type" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">Order Time:</label>
                    <div class="layui-input-block">
                        <!--<input type="text" name="gmtCreate" class="layui-input">-->
                        <input type="text" name="gmtCreate" id="gmtCreate" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <!-- <div class="layui-inline">
                    <label class="layui-form-label">状态：</label>
                    <div class="layui-input-block">
                        <select name="status" id="orderReview_statusSel" lay-filter="order-review-search-sel">
                            <option value="">请选择状态</option>
                            <option value="0">待评审</option>
                            <option value="1">修改中</option>
                            <option value="2">退回中</option>
                        </select>
                    </div>
                </div> -->
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-orderReview-search" style="margin-bottom: 3px;">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="layui-card-body">
            <!--卡片－表格信息-->
            <div class="layui-tab layui-tab-brief" lay-filter="pcdorstencil_tab" id="orderReview_card">
                <ul class="layui-tab-title">
                    <li class="layui-this">PCB订单</li>
                    <li>钢网订单</li>
                    <li>贴片订单</li>
                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 0px;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm"  id="orderReview-operation">隐藏操作栏</button>
                    </div>
                </ul>
                <div class="layui-tab-content">
                    <!--PCB订单-->
                    <div class="layui-tab-item layui-show">
                        <table class="layui-table" id="or_Tabpcb" lay-filter="or_Tabpcb"></table>
                        <script type="text/html" id="pcb-file">
                            {{# if(d.gerberPath != null){ }}
                            {{# var arr = d.gerberPath.slice(6,-1) }}
                            {{# d.gerberPath = arr }}
                            <a href="{{layui.setter.baseUrl1}}quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                                <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" id="pcbfile-i" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                            </a>
                            {{# } else { }}
                            <div>无</div>
                            {{# } }}
                        </script>
                        <script type="text/html" id="stencil-file">
                            {{# if(d.gerberPath != null){ }}
                            {{# var arr = d.gerberPath.slice(6,-1) }}
                            {{# d.gerberPath = arr }}
                            <a href="{{layui.setter.baseUrl1}}quote/gerberFileDownload?filePathName={{ d.gerberPath }}&fileName={{ d.gerberName }}">
                                <i class="layui-icon layui-icon-file-b" style="font-size: 1.4em;" data-type="pcbgerber_download" lay-event="downpcb-gerber"></i>
                            </a>
                            {{# } else { }}
                            <div>无</div>
                            {{# } }}
                        </script>
                        <script type="text/html" id="panelWay">
                            {{ d.panelWayX || ''}}
                            {{ if(d.panelWayY != null || d.panelWayY != ""){ }}
                            {{ d.panelWayY || ''}}
                            {{ } }}
                        </script>
                        <script type="text/html" id="Tabtb-pcb-market-orderReview-option">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" id="supplier_search">查看</a>
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:quote_audit:submit") != -1){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="pcb-submit">提交</a>
                            {{#  } }}
                            {{# if(d.isLock == 1 || d.isLock == null || d.isLock == ''){ }}
                            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="pcb-lock">
                                锁定
                            </a>
                            {{#}else if(d.isLock ==2){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="pcb-beenLocked">
                                已锁定
                            </a>
                            {{# } }}
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:quote_audit:update") != -1){ }}
                            <a class="layui-btn layui-btn-xs" lay-event="edit" id="supplier_edit">修改</a>
                            {{#  } }}
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:quote_audit:delete") != -1){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            {{#  } }}
                        </script>
                        <script type="text/html" id="Tabtb-pcb-market-orderReview-status">
                            {{# if(d.status === 1){ }}
                            <a style="color: #1E9FFF">
                                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>待评审
                            </a>
                            {{# } else if(d.status === 2){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>已提交
                            </a>
                            {{# } else if(d.status === 3){ }}
                            <a style="color: #FF5722">
                                <i class="layui-icon layui-icon-close"></i>已退回
                            </a>
                            {{# } }}
                        </script>
                        <script type="text/html" id="Tabtb-stencil-market-orderReview-status">
                            {{# if(d.status === 1){ }}
                            <a style="color: #1E9FFF">
                                <i class="layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop"></i>待评审
                            </a>
                            {{# } else if(d.status === 2){ }}
                            <a style="color: green">
                                <i class="layui-icon layui-icon-ok"></i>已提交
                            </a>
                            {{# } else if(d.status === 3){ }}
                            <a style="color: #FF5722">
                                <i class="layui-icon layui-icon-close"></i>已退回
                            </a>
                            {{# } }}
                        </script>
                    </div>

                    <!--钢网订单-->
                    <div class="layui-tab-item">
                        <table class="layui-table" id="stencil_orderTab" lay-filter="stencil_orderTab"></table>
                        <!--<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>-->
                        <!--钢网订单表格操作栏-->
                        <script type="text/html" id="Tabtb-stencil-market-orderReview-option">
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:quote_audit:submit") != -1){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="stencil-submit">提交</a>
                            {{#  } }}
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:sml_stencil_audit:submit") != -1){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="stencil-submit">提交</a>
                            {{#  } }}
                            {{# if(d.isLock == 1 || d.isLock == null || d.isLock == ''){ }}
                            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="stencil-lock">
                                锁定
                            </a>
                            {{#}else if(d.isLock ==2){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="stencil-beenLocked">
                                已锁定
                            </a>
                            {{# } }}
                            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:sml_stencil_audit:delete") != -1){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            {{#  } }}
                        </script>
                    </div>

                    <!--SMT－订单-->
                    <div class="layui-tab-item">
                        <table class="layui-table" id="smt_orderTab" lay-filter="smt_orderTab"></table>
                        <!--SMT订单表格操作栏-->
                        <script type="text/html" id="Tabtb-smt-market-orderReview-option">
                            <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:sml_stencil_audit:update") != -1){ }}
                            <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="smt-submit">提交</a>
                            {{#  } }}
                            {{# if(d.isLock == 1 || d.isLock == null || d.isLock == ''){ }}
                            <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="smt-lock">
                                锁定
                            </a>
                            {{#}else if(d.isLock ==2){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="smt-beenLocked">
                                已锁定
                            </a>
                            {{# } }}
                            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
                            {{# if(layui.sessionData('layuiAdmin').permissions.indexOf("market:sml_stencil_audit:delete") != -1){ }}
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                            {{#  } }}
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use('market_orderReview', layui.factory('market_orderReview')).use(['market_orderReview', 'table', 'index','element','form'], function(){
    });
</script>
<!-- <script>
  layui.use('imserver', layui.factory('imserver'));
</script> -->
