<title>订单评审</title>

<title>供应商信息</title>
<div class="layui-fluid">
    <input type="text" autocomplete="off" class="layui-input" placeholder="查询订单评审信息" style="display: none">
    <div class="layui-form layui-card-header layuiadmin-card-header-auto" id="orderReview_form">
        <div class="layui-form-item">
            <div class="layui-inline" id="orderReview_searll" style="display: none;">
                <label class="layui-form-label">查询：</label>
                <div class="layui-input-inline">
                    <select name="quiz" id="orderReview_searCriteria" lay-filter="orderReview-search-select">
                        <option value="P/N">P/N</option>
                        <option value="FileName">File Name</option>
                        <option value="OrderId">Order ID</option>
                        <option value="OrderTime">Order Time</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" id="orderReview_sinp" autocomplete="off" class="layui-input" placeholder="P/N">
                </div>
            </div>

            <!--电脑端-->
            <div class="layui-inline" id="orderReview_pcsear">
                <label class="layui-form-label">P/N：</label>
                <div class="layui-input-inline">
                    <input type="text" id="supplier_id" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">File Name：</label>
                <div class="layui-input-inline">
                    <input type="text" id="supplier_companyName" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">Order ID：</label>
                <div class="layui-input-inline">
                    <input type="text" id="supplier_type" autocomplete="off" class="layui-input">
                </div>

                <label class="layui-form-label">Order Time:</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">状态：</label>
                <div class="layui-input-inline">
                    <select name="quiz" id="orderReview_statusSel">
                        <option value="">请选择状态</option>
                        <option value="0">待评审</option>
                        <option value="1">修改中</option>
                        <option value="1">退回中</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-orderReview-search" data-type="reload" id="orderReview_searchbtn">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div>
        </div>
    </div>
    <!--卡片－表格信息-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" id="orderReview_card">
        <ul class="layui-tab-title">
            <li class="layui-this">PCB订单</li>
            <li>钢网订单</li>
        </ul>
        <div class="layui-tab-content">
            <!--PCB订单-->
            <div class="layui-tab-item layui-show">
                <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                    <button class="layui-btn"  data-type="">退回</button>
                    <button class="layui-btn"  data-type="">提交</button>
                    <button class="layui-btn"  data-type="">查看合同</button>
                    <!--<button class="layui-btn"  data-type="">删除</button>-->
                    <!--<button class="layui-btn"  id="phone-operation">操作</button>-->
                </div>
                <table class="layui-table" id="or_Tabpcb" lay-filter="or_Tabpcb"></table>
                <script type="text/html" id="panelWay">
                    {{ d.panelWayX || ''}}
                    {{ if(d.panelWayY != null || d.panelWayY != ""){ }}
                    {{ d.panelWayY || ''}}
                    {{ } }}
                </script>
                <script type="text/html" id="Tabtb-orpcb">
                    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="search" id="supplier_search">查看</a>
                    <a class="layui-btn layui-btn-xs" lay-event="edit" id="supplier_edit">修改</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </div>


            <!--钢网订单-->
            <div class="layui-tab-item">
                <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
                    <button class="layui-btn"  data-type="">修改</button>
                    <button class="layui-btn"  data-type="">查看</button>
                    <button class="layui-btn"  data-type="">退回</button>
                    <button class="layui-btn"  data-type="">提交</button>
                    <button class="layui-btn"  data-type="">查看合同</button>
                    <button class="layui-btn"  data-type="">删除</button>
                </div>
                <table class="layui-table" id="or_Tabsmt" lay-filter="or_Tabsmt"></table>
            </div>
        </div>
    </div>
</div>

<style>
    #orderReview_form {background-color: white;}
    #orderReview_form .layui-input, .layui-textarea {width:142% !important;}
    #orderReview_form .layui-form-label {width: 100px !important;}
    #orderReview_form .layui-form-item .layui-input-inline{width: 80px !important;}
    #orderReview_searchbtn {margin-left: 25px;}
    #orderReview_form .layui-form-select .layui-edge{right: -20px;}
    #orderReview_form .layui-form-select dl{min-width: 142% !important;}
    #orderReview_card {background-color: white;}
    @media screen and (max-width: 800px) {
        #orderReview_form .layui-input, .layui-textarea {
            width: 240% !important;
            margin-left: -4px;
        }

        #orderReview_form .layui-form-label {
            width: 80px !important;
        }

        #orderReview_form .layui-form-select .layui-edge {
            right: -86px
        }
        #orderReview_form .layui-form-select dl{
            width: 240% !important;
        }
        #orderReview_form .layui-form-item:last-child{
            margin-left: -20px;
        }
        #orderReview_searchbtn{
            margin-left: 105px;
            width: 57%;
        }
        #orderReview_form.layuiadmin-card-header-auto{
            padding-bottom: 0;
        }
    }


</style>

<script>
    layui.use('market_orderReview', layui.factory('market_orderReview')).use(['market_orderReview', 'table', 'index','element','form'], function(){
        var form = layui.form;
        form.render();
    });
    layui.use('mobileterminal',layui.factory('mobileterminal')).use(['mobileterminal'],function () {

    });
</script>
