<script type="text/html" template lay-done="layui.data.done(d);">
    <!--获取到的id为：-->
    <input style="color: red;display: none;" id="supplier_ids" name="ids" value="{{ d.params.id }}" />
    <div id="view_supplier_info"></div>
</script>

<script>
    layui.data.done = function(d){
            layui.use(['form','jquery'], function(){
                var form = layui.form;
                var $ = layui.jquery;
                var admin = layui.admin;
                var view = layui.view;
                var supplier_id = $("#supplier_ids").attr('value');
                if (supplier_id == 'supplier_add'){
                    view('view_supplier_info').render('/infoManagement/iframeWindow/supplier_edit',{id:''}).then(function (value) {

                    }).done(function(){
                        console.log($("input[name='ids']").attr('value'));
                        form.render();
                    });
                } else if (supplier_id == 'supplier_set'){
                    view('view_supplier_info').render('/infoManagement/iframeWindow/supplier_set',{id:''}).then(function (value) {

                    }).done(function(){
                        console.log($("input[name='ids']").attr('value'));
                        form.render();
                    });
                } else {
                    layer.msg("Erro！请核对按钮id是否对应渲染页面条件判断的id！");
                }



            });
    };
</script>