<script type="text/html" template lay-done="layui.data.done(d);">
    <!--获取到的id为-->
    <input style="color: red;display: none;" id="userInfo_ids" name="userInfo_ids" value="{{ d.params.id }}" />
    <a style="color: red;">{{ d.params.id }}=====>{{ d.params.ids }}</a>
    <div id="view_supplier_info"></div>
</script>

<script>
    layui.data.done = function(d){
        layui.use(['form','jquery'], function(){
            var form = layui.form;
            var $ = layui.jquery;
            var admin = layui.admin;
            var view = layui.view;
            var supplier_id = $("#userInfo_ids").attr('value');
            if (supplier_id == 'userInfo_add'){
                view('view_supplier_info').render('/infoManagement/iframeWindow/user_edit_info',{id:''}).then(function (value) {
                }).done(function(){
                    form.render();
                });
            } else if (supplier_id == 'userInfo_set'){
                view('view_supplier_info').render('/infoManagement/iframeWindow/user_edit_role',{id:''}).then(function (value) {

                }).done(function(){
                    form.render();
                });
            } else {
                layer.msg("Erro！请核对按钮id是否对应渲染页面条件判断的id！");
            }



        });
    };
</script>