<title>报价协同编辑(Stencil)</title>
<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
        <form class="layui-form">
            <table class="layui-table">
                <tbody>
                <tr>
                    <td>报价单号</td>
                    <td>{{ d.params.productNo }}</td>
                    <td>报价时间</td>
                    <td>{{ d.params.gmtCreate }}</td>
                    <td><strong>内部报价</strong></td>
                </tr>
                <tr>
                    <td>供应商编号</td>
                    <td>{{ d.params.supplierNo || '' }}</td>
                    <td>数量(QTY)</td>
                    <td id="qt_stencil_quantityPcs">{{ d.params.quantity || '' }}</td>
                    <td>/</td>
                </tr>
                <tr>
                    <td>供应商厂编</td>
                    <td>
                        <input class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}" id="stencilfactoryMake">
                    </td>
                    <td>StencilSize</td>
                    <td>
                        {{ d.params.stencilSizeX }}*{{ d.params.stencilSizeY }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>聚谷型号</td>
                    <td>{{ d.params.orderId || '' }}</td>
                    <td>聚谷物料号</td>
                    <td>{{ d.params.productNo || '' }}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>stencilSide</td>
                    <td>{{ d.params.stencilSide || '' }}</td>
                    <td>Thickness</td>
                    <td>
                        {{ d.params.thickness }}
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>StencilType</td>
                    <td style="min-width: 196px;">{{ d.params.stencilType || '' }}</td>
                    <td>单价</td>
                    <td>
                        <input class="layui-input" type="number" value="{{ d.params.unitPrice || '0' }}" id="qt_stencil_unitPrice">
                    </td>
                    <td>
                        {{ d.params.unitPriceCustomer || '' }}
                    </td>
                </tr>
                <tr>
                    <td>订单备注</td>
                    <td></td>
                    <td>交期</td>
                    {{# if(d.params.deliveryTime != null && d.params.deliveryTime != ''){d.params.deliveryTime = d.params.deliveryTime.substring(0,10)} else{ d.params.deliveryTime = '' } }}
                    <td><input class="layui-input" type="date" id="stencilDeliveryDate" value="{{ d.params.deliveryTime }}"></td>
                    <td title="客户交期">
                        {{ d.params.buildTime || '' }}
                    </td>
                </tr>
                <tr>
                    <td>报价备注</td>
                    <td>
                        <input class="layui-input" type="text" value="{{ d.params.remark || '' }}" id="sRemark">
                    </td>
                    <td>合计</td>
                    <td id="qt_stencil_totalFee" style="padding: 0 26px;">
                        {{ d.params.totalFee || '0' }}
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </form>
        <!--<div class="quotation-bot-btn">-->
        <!--<button class="layui-btn" data-type="downloadFile">-->
        <!--<a href="">下载资料</a>-->
        <!--</button>-->
        <!--<button class="layui-btn" data-type="lookPanel">查看拼板</button>-->
        <!--<button class="layui-btn" data-type="lookStrack">查看压合</button>-->
        <!--</div>-->
    </script>
</div>

<style>
    table tbody tr td:nth-of-type(1){width: 16%;}
    table tbody tr td:nth-of-type(2){width: 18%;}
    table tbody tr td:nth-of-type(3){width: 18%;}
    table tbody tr td:nth-of-type(4){width: 24%;}
    table tbody tr td:last-of-type{width: 24%;border-left: solid 2px #20222a;}
    .quotation-bot-btn{text-align: center;margin-top: 20px;}
</style>

<script>
    layui.data.done = function(d) {
        layui.use(['admin', 'table', 'form', 'laydate'], function () {
            var laydate = layui.laydate,
                $ = layui.jquery,
                layer = layui.layer;
            var form = layui.form;
            // 获取quantity
            var qty = parseFloat($("#qt_stencil_quantityPcs").text());
            quoteStencil(parseFloat($("#qt_stencil_unitPrice").text()));
            form.render();
            laydate.render({
                elem: '#stencilDeliveryDate'
            });
            // input表单及时反应
            $("#qt_stencil_unitPrice").bind("input propertychange", function () {
                var _this = parseFloat($(this).val());
                quoteStencil(_this);
            });
            function quoteStencil(e) {
                var _this = e;
                if (isNaN(_this)) {
                    _this = 0;
                }
                $("#qt_stencil_totalFee").text(parseFloat(_this*qty).toFixed(2));
            }
            $('.layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    };
</script>