<title>交货明细</title>
<div class="layui-fluid">
    <table class="layui-table">
        <tbody>
        <tr>
            <td>合同号</td>
            <td></td>
            <td>交货日期</td>
            <td></td>
        </tr>
        <tr>
            <td>供应商编号</td>
            <td></td>
            <td>订单数量(PCS)</td>
            <td></td>
        </tr>
        <tr>
            <td>供应商厂编</td>
            <td></td>
            <td>已交数量(PCS)</td>
            <td></td>
        </tr>
        <tr>
            <td>聚谷订单号</td>
            <td></td>
            <td>未交数量(PCS)</td>
            <td></td>
        </tr>
        <tr>
            <td>聚谷产品型号</td>
            <td></td>
            <td>此次数量(PCS)</td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4">聚谷P/N</td>
        </tr>
        <tr>
            <td>送货批号</td>
            <td></td>
            <td>总计(PCS)：</td>
            <td>
                <input class="layui-input" type="text">
            </td>
        </tr>
        <tr>
            <td>快递公司</td>
            <td></td>
            <td>快递单号</td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>

<style>
    .layui-table tbody tr td{width: 25%;}
</style>