<title>交货明细</title>
<div class="layui-fluid">
    <script type="text/html" template>
    <table class="layui-table">
        <tbody>
        <tr>
            <td>合同号</td>
            <td>
                {{ d.params.supplierContractNo || '' }}
            </td>
            <td>交货日期</td>
            <td>
                {{ d.params.deliveryTime.substring(0,10) || '' }}
            </td>
        </tr>
        <tr>
            <td>供应商编号</td>
            <td>
                {{ d.params.supplierNo || '' }}
            </td>
            <td>订单数量(PCS)</td>
            <td>
                {{ d.params.supplierNo || '' }}
            </td>
        </tr>
        <tr>
            <td>供应商厂编</td>
            <td>
                {{ d.params.factoryMake || '' }}
            </td>
            <td>已交数量(PCS)</td>
            <td>
                {{ d.params.factoryMake || '' }}
            </td>
        </tr>
        <tr>
            <td>聚谷订单号</td>
            <td>
                {{ d.params.factoryMake || '' }}
            </td>
            <td>未交数量(PCS)</td>
            <td>
                {{ d.params.factoryMake || '' }}
            </td>
        </tr>
        <tr>
            <td>聚谷产品型号</td>
            <td>
                {{ d.params.productNo || '' }}
            </td>
            <td>此次数量(PCS)</td>
            <td>
                <input class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}">
            </td>
        </tr>
        <tr>
            <td>聚谷P/N</td>
            <td>
                {{ d.params.factoryMake || '' }}
            </td>
            <td>送货批号</td>
            <td>
                <input class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}">
            </td>
        </tr>
        <tr>
            <td>快递公司</td>
            <td>
                <input class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}">
            </td>
            <td>快递单号</td>
            <td>
                <input class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}">
            </td>
        </tr>
        </tbody>
    </table>
    </script>
</div>

<style>
    .layui-table tbody tr td{width: 25%;}
</style>