<title>订单协同编辑</title>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form" lay-filter="otEditForm">
            <script type="text/html" template lay-done="layui.data.done(d);">
                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label">合同号：</label>
                    <div class="layui-input-inline">
                        <input name="supplierContractNo" class="layui-input" type="text" value="{{ d.params.supplierContractNo }}" disabled>
                    </div>
                </div>

                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label">签约日期：</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" type="text"  value="{{ d.params.gmtModified }}" id="signningDate" disabled>
                    </div>
                </div>

                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label">供应商编号：</label>
                    <div class="layui-input-inline">
                        <input name="supplierNo" class="layui-input" type="text" value="{{ d.params.supplierNo }}" disabled>
                    </div>
                </div>

                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label">供应商厂编：</label>
                    <div class="layui-input-inline">
                        <input name="factoryMake" class="layui-input" type="text" value="{{ d.params.factoryMake || '' }}">
                    </div>
                </div>

                <div class="layui-form-item layui-col-md12">
                    <label class="layui-form-label">交期：</label>
                    <div class="layui-input-inline">
                        <!--日期处理-->
                        {{# var deliveryTime=d.params.deliveryTime }}
                        {{# var newDeliveryTime=/\d{4}-\d{1,2}-\d{1,2}/g.exec(deliveryTime) }}
                        <input name="deliveryTime" class="layui-input" type="text" id="deliveryDate" value="{{ d.params.deliveryTime }}">
                    </div>
                </div>
            </script>
            <div class="layui-form-item" style="display: none;">
                <div class="layui-input-block">
                    <button class="layui-btn otEdit" lay-submit lay-filter="otEdit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.data.done = function(d) {
        layui.use(['admin', 'table', 'form', 'laydate'], function () {
            var laydate = layui.laydate,
                $ = layui.jquery,
                layer = layui.layer;
            var form = layui.form;
            form.render();
            // laydate.render({
            //     elem: '#signningDate'
            // });
            laydate.render({
                elem: '#deliveryDate'
            });
        });
    };
</script>

<style>
    .layui-form-label{width: 99px;}
    input:disabled{background-color: rgba(233,231,232,0.7);cursor: not-allowed;}
</style>