<title>订单协同编辑</title>
<div class="layui-fluid">
    <div class="layui-row">
        <form class="layui-form">

            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">合同号：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">签约日期：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">供应商编号：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">供应商厂编：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text">
                </div>
            </div>

            <div class="layui-form-item layui-col-md12">
                <label class="layui-form-label">交期：</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text">
                </div>
            </div>
        </form>
    </div>
</div>

<style>
    .layui-form-label{width: 99px;}
</style>