<title>添加供应商报价</title>
<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
        <form class="layui-form" lay-filter="pert_form">
            <div class="layui-form-item">
                <label class="layui-form-label">供应商编号</label>
                <div class="layui-input-inline">
                    <!--<input class="layui-input" type="text" name="supplierNo" value="{{ d.params.pcbInfo.supplierNo || '' }}">-->
                    <select name="supplierNo" lay-search>
                        <option value=""></option>
                    </select>
                </div>
                <label class="layui-form-label">单价</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="unitPrice" value="{{ d.params.pcbInfo.unitPrice || '' }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">板费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="boardFee" value="{{ d.params.pcbInfo.boardFee || '' }}">
                </div>
                <label class="layui-form-label">运费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="postFee" value="{{ d.params.pcbInfo.postFee || '' }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">测试费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="testCostFee" value="{{ d.params.pcbInfo.testCostFee || '' }}">
                </div>
                <label class="layui-form-label">工程费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="engineeringFee" value="{{ d.params.pcbInfo.engineeringFee || '' }}">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">cnc模具费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="toolingFee" value="{{ d.params.pcbInfo.toolingFee || '' }}">
                </div>
                <label class="layui-form-label">加急费</label>
                <div class="layui-input-inline">
                    <input class="layui-input" type="text" name="overworkFee" value="{{ d.params.pcbInfo.overworkFee || '' }}">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">评审备注</label>
                <div class="layui-input-inline" style="width: 75%;">
                    <textarea class="layui-textarea" name="remark" id="" value="{{ d.params.pcbInfo.remark || '' }}">{{d.params.pcbInfo.remark || ''}}</textarea>
                </div>
            </div>

            <div class="layui-form-item" style="display: none;">
                <button class="layui-btn layui-btn-primary" type="button" lay-submit lay-filter="pertSysSOrderAddSubmit" id="pertSysSOrderAddSubmit">提交</button>
            </div>
        </form>

    </script>
</div>

<script>
    layui.data.done = function (d) {
        layui.use(['setter', 'upload', 'admin', 'index', 'element', 'jquery', 'form'], function () {
            var $ = layui.$,
                table = layui.table,
                form = layui.form,
                admin = layui.admin,
                setter = layui.setter,
                view = layui.view
            var upload = layui.upload;
            var supplierRes;
            admin.req({
                type: 'get',
                url: setter.baseUrl+'scm/pcborder/allSupplier',
                success: function (res) {
                    supplierRes = res.data;
                    console.log(supplierRes)
                    var $html;
                    for (var i=0;i<supplierRes.length;i++){
                        $html += "<option id="+supplierRes[i].id+" value="+supplierRes[i].supplierId+">"+supplierRes[i].supplierId+"</option>"
                    }
                    $("select[name='supplierNo']").append($html);
                    form.render();
                }
            })
        });
    }
</script>