<div class="layui-fluid">
    <script type="text/html" template lay-done="layui.data.done(d);">
        <table class="layui-table" id="supplierOrderTab" lay-filter="supplierOrderTab" style="width: 100%;"></table>
    </script>
</div>

 <script type="text/html" id="supplierOrder_tabbar">
     <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edits">修改</a>
     <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
 </script>
<script>
    layui.data.done = function (d) {
        var popType = d.params.type;
        var tabToolbar;
        var tabToolbarHHide;
        if (popType == 'sqeMana_pert') {
            tabToolbar = '#supplierOrder_tabbar';
            tabToolbarHHide = false;
        } else {
            tabToolbar = '';
            tabToolbarHHide = true;
        }
        layui.use(['admin', 'table', 'index', 'setter', 'form', 'jquery'], function () {
            table = layui.table
            ,view = layui.view
            ,setter = layui.setter
            ,admin = layui.admin
            var $ = layui.jquery;
            table.render({
                elem: '#supplierOrderTab'
                ,url: setter.baseUrl+'pert/supplierquote/list'
                ,id: "supplierOrderTab"
                ,toolbar: true
                ,page: true
                ,parseData: function (res) {
                    return{
                        "code": 0,
                        "data": res.page.list,
                        "count": res.page.totalCount
                    }
                }
                ,cols: [[
                    ,{field: 'boardFee',title: '板费', Width: 110}
                    ,{field: 'engineeringFee',title: '工程费', Width: 110}
                    ,{field: 'overworkFee',title: '加急费', Width: 110}
                    ,{field: 'postFee',title: '邮费', Width: 110}
                    ,{field: 'testCostFee',title: '测试费', Width: 110}
                    ,{field: 'toolingFee',title: '工具费', Width: 110}
                    ,{field: 'unitPrice',title: '单价', Width: 110}
                    ,{field: '',title: '操作', Width: 210, toolbar: tabToolbar,hide:tabToolbarHHide}
                    ,{field: 'id',title: 'ID', hide: true}
                ]]
                ,done: function (res, curr, count) {

                }
            });

            table.on('tool(supplierOrderTab)', function (obj) {
                var data = obj.data;
                if (obj.event == 'del') {
                    // layer.confirm('确定要删除这条报价？', {
                    //     btn: function (index,layero) {
                    //         admin.req({
                    //             type: 'post',
                    //             data: {'ids':data.id},
                    //             url: setter.baseUrl + 'pert/supplierquote/delete',
                    //             success: function () {
                    //                 table.reload('supplierOrderTab');
                    //                 layer.close(index);
                    //                 layer.msg('删除成功');
                    //             }
                    //         });
                    //     }
                    //
                    // });
                    layer.confirm('确定要删除这条报价？', {
                        btn: ['删除', '取消']
                        ,btn1: function(index, layero){
                            admin.req({
                                type: 'post',
                                data: {'ids':data.id},
                                url: setter.baseUrl + 'pert/supplierquote/delete',
                                success: function () {
                                    table.reload('supplierOrderTab');
                                    layer.close(index);
                                    layer.msg('删除成功');
                                }
                            });
                        }
                    });
                } else if (obj.event == 'edits') {
                    var _this_id = data.id;
                    admin.req({
                        type: 'post',
                        url: setter.baseUrl + 'sys/consumer/user/all',
                        success: function (resCus) {
                            var resData = {};
                            resData.pcbInfo = data;
                            console.log(resData.pcbInfo);
                            resData.cInfo = resCus.data;
                            admin.popup({
                                title: '供应商报价修改',
                                area: ['749px','486px'],
                                btn: ['保存', '取消'],
                                id: 'editSupplierQuote',
                                yes: function (index, layero) {
                                    $("#pertSysSOrderAddSubmit").click();
                                    layer.close(index);
                                }
                                ,success: function (layero, index) {
                                    view(this.id).render('sqeManagement/iframeWindow/pert_sysSOrderAdd', resData).done(function () {
                                        form.render();
                                        form.on('submit(pertSysSOrderAddSubmit)', function (data) {
                                            var field = data.field;
                                            field.orderId = field.orderId;
                                            field.id = _this_id;
                                            admin.req({
                                                type: 'post',
                                                data: field,
                                                url: setter.baseUrl + 'pert/supplierquote/update',
                                                success: function () {
                                                    layer.alert('供应商报价修改成功！', function (layero, index) {
                                                        table.reload('supplierOrderTab');
                                                        $(".layui-layer-close").click();
                                                    });
                                                }
                                            });
                                            console.log(field);
                                        })
                                    });
                                }
                            });
                        }
                    });
                }
            });
        });
    }
</script>

<style>
    .layui-table{width: 100% !important;}
</style>